[2017-08-20 15:50] OriHoch opened #1 "israel_traffic_violations dataset page should be displayed correctly"
### reproduction
* goto: https://datahub.io/OriHoch/israel_traffic_violations

#### expected
* resource name should be in hebrew
* table preview should show some data

#### actual
![image](https://user-images.githubusercontent.com/1198854/29496304-5e88c8a4-85d8-11e7-90bb-e327b7ed3bcf.png)

[2017-08-20 18:11] rufuspollock commented on #1
@OriHoch thanks for reporting - we'll investigate straight away. This is obviously to do with how we are handling the utf8 (either in the frontend or when storing the datapackage.json).

@Mikanebu can you investigate this please.

[2017-08-21 06:38] Mikanebu commented on #1
@OriHoch utf8 problem when storing the datapackage.json, we have created a similar issue which will be taken care soon.

[2017-08-22 19:45] rufuspollock commented on #1
@OriHoch we've debugged a lot of this issue and traced it to the CLI not detect file encodings correctly. A quick question for you: is the original CSV in utf8 or native encoding?

[2017-08-23 09:36] OriHoch commented on #1
the datapackage is available here: https://github.com/OriHoch/israel-crime-data/tree/master/data/traffic

[2017-08-23 11:06] rufuspollock commented on #1
@OriHoch interesting thing is that this seems to work ok:

[code]

[2017-08-24 10:41] Mikanebu commented on #1
@OriHoch tested with CLI downloaded from https://github.com/datahq/datahub-cli/releases, did not change anything, even did not add `title` property, just pushed and worked fine on site https://testing.datahub.io/Mikanebu/israel_traffic_violations_test_cli. Also, pushed cloning datahub-cli, works fine. How did you publish your data, could you provide details?

[2017-08-24 15:05] OriHoch commented on #1
thanks, I previously ran the cli from source

I re-ran with the downloaded executable from releases and it works, thanks!

https://datahub.io/OriHoch/israel-traffic-violations-2012-2016-partial-2017

[2017-08-24 15:05] #1 closed

[2017-08-24 15:11] OriHoch opened #2 "README with large images should be displayed correctly"
### reproduction
* https://datahub.io/OriHoch/israel-traffic-violations-2012-2016-partial-2017#readme

#### expected
* images should be limited to width of the surrounding element
![image](https://user-images.githubusercontent.com/1198854/29673258-5b0c0278-88f7-11e7-895b-d0bab104caec.png)

#### actual
* images are displayed at full size, forcing horizontal scroll
![image](https://user-images.githu

[2017-08-24 15:22] Mikanebu commented on #2
@OriHoch Thanks a lot for reporting this.

[2017-08-25 07:24] OriHoch opened #3 "large dataset: page should not crash (or cli should not allow to push)"
### Reproduction
* Local datapackage at ./selected-crimes-local-authorities-2012-2015/
[code]
* large dataset
[code]

#### expected
* Assuming there is a file size limit, cli should not allow to push it.
* Also, when pushing the same data again via CLI - does it compare checksums? or recopy the whole file each time?
* if the problem is not with size limit, the dataset page should be displayed corr

[2017-08-25 10:58] Mikanebu commented on #3
@OriHoch Thanks for reporting this. Please, could you check now, it works fine. Probably, it took time to pass pipeline and upload to the frontend. Good point about file size, for now, there is no limit for this, but we will take it into consideration.

[2017-08-27 08:03] OriHoch commented on #3
still crashes the page for me

I guess it's browser-related, I'm using Chrome Version 58.0.3029.110 (64-bit) - on Linux

I tested on Firefox 55.0.2 (64-bit) and it doesn't crash, but hangs and becomes very unresponsive, also table doesn't load:
![image](https://user-images.githubusercontent.com/1198854/29748105-4d31b662-8b17-11e7-8f74-c706732dc13f.png)

[2017-08-27 08:28] OriHoch commented on #3
on firefox it worked eventually (not sure how long it took, but a long time)

It seems that currently the frontend loads all dataset to memory, this makes it unusable for large datasets

[2017-08-28 16:21] rufuspollock commented on #3
@OriHoch thanks for report - and we had this high on the todo list already since we ran into it already during testing! We know what we want to do to fix for large datasets which is to cache a partial "preview" version of the dataset - loading into memory isn't going to work. (A nicer solution would be a frontend system that loads incrementally but that is quite a lot harder to do ...)

[2017-09-04 12:09] anuveyatsu commented on #2
FIXED in https://github.com/datahq/frontend/issues/78

[2017-09-04 12:09] #2 closed

[2017-09-07 01:05] peterneish opened #4 "Links to http://explorer.datahub.io/ broken"
There are a few links from the [recline js demo page](http://okfnlabs.org/recline/demos/) that link to the explorer.datahub.io pages.

[2017-09-08 05:47] rufuspollock commented on #4
@peterneish thanks for flagging - the link should be to http://explorer.okfnlabs.org/ (and should have been that way for a long time!). Fixed now.

[2017-09-08 05:47] #4 closed

[2017-09-15 13:54] wouterbeek opened #5 "Datahub API loses query parameters after redirect"
Hi Open Data friends,

The Datahub API has been broken for at least 12 days because of a bug in the way in which HTTP redirects are performed.  I've posted this issue on the OKFN forum 12 days ago ([link](https://discuss.okfn.org/t/datahub-api-loses-query-parameters-after-redirect/5965)), but that issue was closed and I was asked to open a new issue here.  So here we go...

The Datahub API uses qu

[2017-09-15 13:59] rufuspollock commented on #5
@wouterbeek thanks for raising this and we'll investigate. The redirects are currently being handled by cloudflare page rules and we'll see how those handle query strings.

@Mikanebu can you look into this please.

[2017-09-17 18:39] enalposi opened #6 "json data is now CSV"
From https://datahub.io/core/s-and-p-500-companies please see https://datahub.io/core/s-and-p-500-companies/r/constituents.json

The JSON link returns CSV instead of JSON (see below)

Thanks

Symbol,Name,Sector
MMM,3M Company,Industrials
ABT,Abbott Laboratories,Health Care
ABBV,AbbVie,Health Care
ACN,Accenture plc,Information Technology
ATVI,Activision Blizzard,Information Technology
AYI,Acuity Br

[2017-09-18 06:20] Mikanebu commented on #6
@enalposi thanks for raising this and we'll investigate.

[2017-09-18 08:08] Mikanebu commented on #5
@wouterbeek Hey, I am glad to meet you here. @rufuspollock I will take a look now

[2017-09-18 10:43] Mikanebu commented on #6
@enalposi please take a look, it is fixed in this commit https://github.com/datahq/frontend/commit/3be7ce00526e47a7c0cbeb4068979ce4262f9b6a

[2017-09-18 13:47] Mikanebu commented on #5
@wouterbeek It is FIXED in https://github.com/datahq/frontend/issues/97. Thanks a lot for reporting this. Please check if something goes wrong, let us know

[2017-09-18 13:52] Mikanebu commented on #6
FIXED, JSON link returns JSON

[2017-09-18 13:52] #6 closed

[2017-09-18 13:53] Mikanebu commented on #5
FIXED, see datahq/frontend#97. The reason was that it was not pass queryString as a params.

[2017-09-18 13:53] #5 closed

[2017-09-20 15:51] cteusche-ripencc opened #7 "JSON/CSV download doesn't work"
When trying to fetch https://datahub.io/core/country-codes/r/country-codes.json
I get this error:
Cannot GET /core/country-codes/r/data/json/data/country-codes.json

I think this msg started to pop up today.

[2017-09-20 15:53] Mikanebu commented on #7
@cteusche-ripencc Thanks for raising this and we'll investigate.

[2017-09-20 16:07] anuveyatsu commented on #7
@cteusche-ripencc This is the known problem. Downloads are working for some datasets (e.g., https://datahub.io/core/co2-ppm) and not for others. That’s happening due to ongoing changes in the backend and should be fixed soon. We'll keep this issue open and update once fixed. /cc @Mikanebu

[2017-09-21 14:14] enalposi commented on #6
Sorry, just saw this now. Great. Thanks guys :)

[2017-09-21 14:17] Mikanebu commented on #6
@enalposi You are always welcome!

[2017-09-24 15:21] cteusche-ripencc commented on #7
@Mikanebu do you have an estimate on when the data set will be available again?
Thanks in advance!

[2017-09-24 15:55] Mikanebu commented on #7
@cteusche-ripencc  Hey! I will update you tomorrow

[2017-09-25 07:32] cteusche-ripencc commented on #7
@Mikanebu Great, thank you!

[2017-09-25 12:46] Mikanebu commented on #7
@cteusche-ripencc Hey! Good news, it is fixed now. Thank you for your patience. Let us know if something goes wrong.

[2017-09-25 13:50] cteusche-ripencc commented on #7
@Mikanebu **thumbs up** Thank you!

[2017-09-25 15:49] Mikanebu commented on #7
FIXED, `json` and `csv` version of the `country-codes` are available to download

[2017-09-25 15:49] #7 closed

[2017-09-28 15:49] brew opened #8 "Observations working with the datahub.io view spec"
Currently datahub.io supports two flavours: a simple spec, and Vega (v.2.x).

The simple spec is suggested to cover the 80/20 usecase, but with real-world data, I've found it not to be as useful for most cases. The data almost always needs some form of aggregation, transformation or graph specific tweaks like human readable labels in place of data keys.

On the other hand, Vega is very powerful, b

[2017-09-28 16:15] Mikanebu commented on #8
@brew Thanks for your observations regarding view spec. We will take a look on them

[2017-09-29 15:26] rufuspollock commented on #3
@Mikanebu i believe this is fixed. Can you confirm and close if it is 😄

[2017-09-29 15:29] rufuspollock opened #9 "utf-8 encoding for CSV files"
Wonder if there is an issue in utf8 for csv files output.

See Åland islands item on:

https://datahub.io/core/country-list#data

Fine in page but on here it looks weird:

https://pkgstore.datahub.io/core/country-list:data_csv/data/data_csv.csv

My guess is that it is correct in the actual file but that we may not be setting utf8 as encoding when showing file from pkgstore. This may be a non-issue

[2017-10-01 16:18] Mikanebu commented on #3
@OriHoch Thank you for your patience. It is fixed now, you just need to republish your data, so it triggers pipelines. If it is still taking a long time to load the page, it should be fixed here - datahq/assembler#32 - where we will use only 1k rows for preview. I am going to close this issue, for now, if something goes wrong, please, do not hesitate to reopen it.

[2017-10-01 16:18] #3 closed

[2017-10-05 10:47] brew commented on #8
Just to capture some further experiences...

I'm trying to get a couple of vega views working for some example datasets. I've been using the online editor here (https://vega.github.io/vega-editor/?mode=vega) to get things working with data hosted at a remote url. Once I have the visualisation as I would like it, I move it into my datapackage.json, making the appropriate changes with regard to the

[2017-10-05 10:51] Mikanebu commented on #8
@brew Thanks for raising this issue! We will investigate

[2017-10-11 08:10] anuveyatsu commented on #8
Hey @brew thanks for reporting Vega related issues here - it is really helpful for us as we can work on corner cases.

At the moment, I can update you with the UK Gov Petitions example dataset. You can see it working here - https://datahub.io/anuveyatsu/test-uk-gov-petitions. The reason it wasn't working for you is that in Vega specs it is said to parse it as CSV:

[code]

however, we compile valu

[2017-10-11 20:56] anuveyatsu commented on #8
@brew just updated the upstream library to use Vega v3.0.5 specifications so from now on you can use the latest specs. You can see an example here - https://datahub.io/examples/vega-views-tutorial-grouping

[2017-10-12 08:17] anuveyatsu commented on #8
Hi, @brew can you just update "UK Gov Petitions example" dataset with new Vega v3 specs so it should be working. Now you can have "parse as csv rule" in your vega spec - we're handling it internally.
Also, notice that in your example the headers are duplicated in the preview table. This is happening because, in the resource descriptor, you have `headers` property that tells our system to add these

[2017-10-23 05:36] Mikanebu opened #10 "preview table does not work"
Pipeline passed successfully, but there is no preview table for this dataset http://datahub.io/JohnSnowLabs/nys-mathematics-exam.
In console log `Uncaught (in promise) TypeError: Cannot read property 'unique' of undefined`

[2017-10-23 08:19] anuveyatsu commented on #10
@Mikanebu taking a look. Meanwhile, why do you expect a graph here? There is no views for graph in https://pkgstore.datahub.io/JohnSnowLabs/nys-mathematics-exam/latest/datapackage.json

[2017-10-23 08:24] Mikanebu commented on #10
@anuveyatsu no graph, forgot to check for `views` property, I will update

[2017-10-23 12:05] Mikanebu opened #11 "'utf-8' codec can't decode byte"
`geoip2-ipv4` core dataset has not passed pipeline.
[code]
On datahub: http://datahub.io/core/geoip2-ipv4

[2017-10-23 13:10] rufuspollock commented on #11
@Mikanebu can you validate this locally? Does it work ok?

[2017-10-23 13:56] anuveyatsu commented on #10
@Mikanebu ok, I took a quick look - need to investigate the problem in detail on handsontable side. I will work on that tomorrow and will update here.

[2017-10-23 18:27] Mikanebu commented on #11
@rufuspollock Validation passed locally, yes, it does work ok. I checked encoding, it was `Western MAC OS Roman`, then I updated to `utf-8` and pipeline passed for encoding error. However, there are 2 minor errors related to `sources` and `licences` properties since they are not valid according to the spec.

[2017-10-23 19:18] Mikanebu commented on #11
Pipeline passed. Instead of `Réunion` we have `RÃ©union`.

[2017-10-23 19:40] Mikanebu commented on #11
Pipeline throws this error from the tabulator: https://github.com/frictionlessdata/tabulator-py/blob/031b482b85faf747c75c509cbf9a04623974c4a6/tabulator/parsers/csv.py#L85. So we do not handle encoding part.... It expects `utf-8`, but gets different encoding, that is why it throws the abovementioned error I think.

[2017-10-24 06:18] anuveyatsu commented on #8
Hi @brew

I will get back to you re farm-survey dataset ASAP, possible by tomorrow. On your side, everything seems correct so no need to change anything in datapackage.json.

[2017-10-25 19:27] anuveyatsu commented on #8
Hi @brew

I believe we found the source of the issue and fixed it. Re-deploying some services so should be live soon. I will update you tomorrow on that :)

[2017-10-26 05:34] anuveyatsu commented on #10
@Mikanebu debugged so this is a tableschema issue, just opened one there https://github.com/frictionlessdata/tableschema-js/issues/103

You could just remove `constraints` property from the schema and it would work. I am not sure for what it was added because looking at the specs I couldn't find `level` property in the constraints - https://specs.frictionlessdata.io/table-schema/

[2017-10-26 11:14] abdoudesouki opened #12 "Broken links"
The following datasets can't be downloaded
Airports
https://datahub.io/dataset/global-airports-in-rdf
http://rv1460.1blu.de/datasets/global-airports/global-airports.ttl
SIDER
https://datahub.io/de/dataset/fu-berlin-sider
http://wifo5-03.informatik.uni-mannheim.de/sider/sider_dump.nt.bz2
US security
https://datahub.io/de/dataset/sec-rdfabout

[2017-10-26 11:17] Mikanebu commented on #12
@abdoudesouki Thanks for reporting this! We will investigate

[2017-10-26 11:41] Mikanebu commented on #12
@abdoudesouki Have you tried using old.datahub.io https://old.datahub.io/dataset/global-airports-in-rdf?  Our redirection plan is in progress.

[2017-10-26 12:07] Mikanebu commented on #12
@abdoudesouki
* `global-airports-in-rdf` - source is temporarily unavailable due to maintenance
http://rv1460.1blu.de/datasets/global-airports/global-airports.ttl
* `fu-berlin-sider` - check their official page, that page speficied in `datapackage.json` is not available. http://dws.informatik.uni-mannheim.de/en/resources/
* sec-rdfabout - only this source works: http://www.govtrack.us/data/misc/se

[2017-10-26 14:56] anuveyatsu commented on #8
Hey @brew

So we've fixed the issue now! The reason was that the original `datapackage.json` is very rich on metadata and derived resources copies the metadata from the source. This creates a very bulky `datapackage.json`, which eventually causes the crash.

If you now visit https://datahub.io/brew/farm-survey, you'd see the showcase page with a preview. However, Vega graph is still not working be

[2017-10-26 16:24] brew commented on #8
@anuveyatsu Great! The Preview loads much quicker now.

I'll fix the scales reference (thanks for spotting) and push a new version soon.

[2017-11-02 07:10] anuveyatsu commented on #10
FIXED - the bug with `constraints` property was fixed in the upstream library `tableschema` and now the dataset is working fine - http://datahub.io/JohnSnowLabs/nys-mathematics-exam (you may need to clear your cache)

[2017-11-02 07:10] #10 closed

[2017-11-02 11:55] dofbi opened #13 "How pushing data for the organization"
Hi in github we have an organisation with some data packages, I would like to publish data with the name of the organisation not my username.

`https://datahub.io/organisation_name/dataset`

Thank you

## expected behavior

User can use his github organisation name to publish data under it.
E.g. @Mikanebu is a member of https://github.com/datopian so it would be great for him to publish data on ht

[2017-11-02 12:14] Mikanebu commented on #13
@genova Great to hear that you are interested in DataHub! You can setup account for the organization. And I am the guy who will take care of it.

[2017-11-03 11:26] genova commented on #13
Hi @Mikanebu very interested in DataHub! Cool, Where to start to organisation account. Thank you

[2017-11-04 10:04] rufuspollock commented on #13
@Mikanebu @genova i suggest you guys have a short chat to get clear on what is wanted and work out how we could set this up (atm organization accounts are manually provided ;-) ...)

[2017-11-05 10:35] rufuspollock opened #14 "[rfc] Indication of time period covered by a dataset"
RFC: Feature Idea: Indication of time period covered by a dataset

Thinking about adding metadata about what time period time series datasets cover. What do people think and any suggestions ...?

[2017-11-05 10:36] rufuspollock commented on #14
@stephen-gates wrote:

[2017-11-05 10:39] rufuspollock commented on #14
@stephen-gates i'm not thinking of automating this so much as allowing people to add it. What would be the convention be here?

There's already temporal in dublin core: http://dublincore.org/documents/dcmi-terms/#terms-temporal + http://dublincore.org/documents/dcmi-period/

The structure that would give would be:

[code]

[2017-11-05 16:11] genova commented on #13
Hi all I just initiate a chat on frictionlessdata/chat

[2017-11-06 05:10] Mikanebu commented on #13
@genova Great! Please, use  `gitter.im/datahubio/chat` and lets schedule a short call so I can setup your organization account.

[2017-11-10 09:03] anuveyatsu opened #15 "Scheduling the updates for datasets"
At the moment, we support scheduling in the following way: `every 90s`, `every 5m`, `every 2d`… number is always an int, selector is `s/m/h/d/w` (second -> week) and you can’t schedule for less than 60 seconds.

From @zelima :

[2017-11-10 09:04] anuveyatsu opened #16 "Horizontal bar charts"
At the moment, for "simple" view spec we support line and vertical bar charts. Although these two types are popular and cover most of use-cases, it would be useful to have horizontal bar charts. E.g., consider this example: https://datahub.io/core/gini-index. In the second graph, we have too many countries in x axis so it is not possible to show names for all of them as we have limited width. In s

[2017-11-14 11:56] rufuspollock opened #17 "Webhooks for notifications to import data / data packages"
As Rufus I want to push data packages to e.g. github and have a webhook so that auto-triggers an import to the datahub so that my datahub dataset is up to date (example: https://github.com/datasets/registry).

What i want is a webhook and github support for that ...

[2017-11-14 12:01] rufuspollock commented on #15
@anuveyatsu can you link to docs for this as well.

[2017-11-14 21:17] Stephen-Gates commented on #15
Big supporter for monthly and annual scheduling

[2017-11-14 21:25] Stephen-Gates opened #18 "Scheduled dataset not published"
Added a new dataset using
`data push https://raw.githubusercontent.com/okfn/licenses/master/licenses.csv --schedule="every 1d"`

Returned ` 🙌  your data is published!`

Went to link https://datahub.io/Stephen-Gates/licenses-black-rattlesnake-15

Got `Sorry, this dataset was not found.`

[2017-11-15 06:29] Mikanebu commented on #18
@Stephen-Gates Thanks for reporting this. Do you still have this issue? Seems like your dataset is unlisted. I will investigate

[2017-11-15 06:41] Stephen-Gates commented on #18
Issue still exists https://datahub.io/Stephen-Gates/licenses-jolly-shrimp-96

[2017-11-15 06:44] Mikanebu commented on #18
@Stephen-Gates Are you using the latest CLI version 0.5.0? I tested using my account, works fine.

[2017-11-15 06:52] anuveyatsu commented on #18
@Stephen-Gates hi there! Can you please paste you CLI version here?

[2017-11-15 07:40] Stephen-Gates commented on #18
<img width="353" alt="screenshot 2017-11-15 17 39 42" src="https://user-images.githubusercontent.com/9379524/32824262-fe74ad1e-ca2b-11e7-9609-c06f4e431cfb.png">

[2017-11-15 10:03] Mikanebu commented on #18
@Stephen-Gates Hey Stephen! We released new version of DataHub-cli v0.6.0. It is available on https://github.com/datahq/datahub-cli/releases. You have to re-install new version. We appreciate that you raised this issue.

[2017-11-15 10:07] Stephen-Gates commented on #18
Solved with v0.6.0
https://datahub.io/Stephen-Gates/licenses-yellow-ape-80

[2017-11-15 10:07] #18 closed

[2017-11-16 17:07] pwalsh opened #19 "Configuration file location"
May I suggest we use `~/config` and namespace under there:

`~.config/datahub.io/config.json`

This is a convention, and many CLI's I use follow it (Digital Ocean, Heroku).

In general I'm -1 on `~/.datahub.json`

[2017-11-16 17:08] pwalsh opened #20 "Error when using CLI (onboarding UX)"
# Steps to reproduce

[code]

# Context

When following the instructions at https://datahub.io/docs/getting-started/installing-data I consciously decided to run `data info` instead of `data info https://datahub.io/core/finance-vix`.

As a user of many CLI tools, I expect to be able to run a command without arguments and get some type of context-driven help, or, at least an error for the missing ar

[2017-11-16 17:09] Mikanebu commented on #19
@pwalsh Thanks for your suggestion. I will record and rise it in our coming standup

[2017-11-16 17:11] pwalsh opened #21 "Multiple accounts in config"
# Description

The current config file has a data structure designed around a single account on datahub. I have just started interacting with the system as a user and I already want two accounts (a pseudo org account, and my own account).

Many config files for CLIs support this elegantly. I suggest taking a good look at the `gcloud` CLI and the `aws` CLI in terms of user experience if running com

[2017-11-16 17:17] Mikanebu commented on #21
@pwalsh We really appreciate your feedback. For now, we do it manually by exporting config file(~/.datahub.json) for each account https://github.com/datahq/datahub-cli#configuration. This is really good suggestion.

[2017-11-16 17:20] Mikanebu commented on #20
@pwalsh Great feedback! We will analyse and work on them.

[2017-11-16 17:21] pwalsh opened #22 "Does data need to have a datapackage.json? If yes, infer one."
# Description

I'm a first time user of the current CLI. After login, I want to just push something.

[code]

I'm confused because the CLI tells me the following about `data push`:

I could be a user who does not know what `datapackage.json` is.

As someone involved in the development of our Frictionless Data software, I know we have an [infer method for Data Packages](https://github.com/frictionl

[2017-11-16 17:22] pwalsh commented on #22
Above I linked to infer in Python. [Here is the same in JavaScript](https://github.com/frictionlessdata/datapackage-js/blob/2bf1ebc17155b63a3c3aefa97cf80969d52b179b/src/infer.js#L9).

[2017-11-16 17:26] pwalsh opened #23 "[push] Validation of datapackage.json on data push is not clear"
# Description

I have an invalid `datapackage.json`. I try to use `data push`.

I get the message `> Error! Unexpected end of JSON input`.

I happen to know as a developer that this error is raised from the method that validates the descriptor. Even without fixing the messages that get thrown by our use of JSON Schema validators on our descriptors, the user experience could be greatly improved by

[2017-11-16 17:28] pwalsh commented on #21
@Mikanebu thanks! This is not in the user-facing documentation though.

[2017-11-16 17:31] Mikanebu commented on #23
@pwalsh Thanks for reporting this! We have a separate command `data validate` which validates metadata(latest spec) and data against a schema. We planned to include validation before pushing any data. We will work on this incoming sprint.

[2017-11-16 17:32] pwalsh commented on #23
@Mikanebu I think you must already be validating on `data push`. Otherwise, why would I get this error?

[2017-11-16 17:33] pwalsh commented on #23
I'm running:

[code]

[2017-11-16 17:37] Mikanebu commented on #23
@pwalsh Yes, you are right, it validates `json` file structure, I meant validation `datapackage.json` against the latest schema... We will improve the context of this error.

[2017-11-16 17:38] pwalsh opened #24 "[push] Error on data push"
# Description

I have this on disk:

[code]

test.txt is an empty file.

datapackage.json is:

[code]

This is a valid Data Package. It passes `data validate`.

I run `data push` and get:

[code]

[2017-11-16 17:39] Mikanebu commented on #21
@pwalsh I recorded your suggestion. Documentation will be updated

[2017-11-16 17:40] anuveyatsu commented on #23
@pwalsh thanks for the feedback! You're getting this error on reading `datapackage.json`. We do not validate descriptor on push atm.

Also, can I suggest to use our Desktop app so your CLI tool is always up to date - https://github.com/datahq/data-desktop/releases (it is available only for MacOS right now).

[2017-11-16 17:43] Mikanebu commented on #22
@pwalsh For now `data push` check for  `datapackage.json` file in given directory. If you run `data push fileName` it will publish by generating `datapackage.json` automatically by our system. This is good point.

[2017-11-16 17:44] pwalsh commented on #23
@anuveyatsu I know about the desktop app, but personally, I prefer CLI tools and have average experience with Electron apps (Slack etc. are resource hungry). So, for now at least, I really prefer to use the CLI from npm. As I pulled the CLI from nam in the last hour, I assume it is up-to-date?

[2017-11-16 17:48] anuveyatsu commented on #22
@pwalsh we expect users to have a full path to a file because a directory can have any number of files/dirs in it. So we assume there is a `datapackage.json` in the given dir and raise an error if not. As mentioned above by @Mikanebu you can push a single files and we do infer descriptor for it.

[2017-11-16 17:50] pwalsh commented on #24
It was suggested that this could be because the platform does not support `resource.data`. I think that should be addressed.

However, I then edited my `datapackage.json` to:

[code]

and now the error I get is:
[code]

I then added some text to `test.txt`.

This resulting in a success message, and the data is on data hub at https://datahub.io/pwalsh/stuff

[2017-11-16 17:51] rufuspollock commented on #19
@pwalsh i agree. We did have this planned and just had not got round to it. I think the location will be:

[code]

[2017-11-16 17:52] pwalsh commented on #19
Great!

[2017-11-16 17:53] anuveyatsu commented on #23
@pwalsh we've released a newer version today so I believe NPM is out of date. But I will publish right now so you can re-install.

[2017-11-16 17:53] rufuspollock opened #25 "Support inline resource data"
Support inline resource data on data packages.

My question is how common a use case this is ...

It may be a little bit of a pain i suspect because i'm not sure how data package pipelines handles this ...

/cc @pwalsh

[2017-11-16 17:54] rufuspollock commented on #21
@Mikanebu can you clarify how you think you'll update the documentation so we can refine here and then implement.

[2017-11-16 17:54] pwalsh commented on #22
Ok. It feels a bit arbitrary, but good to know 👍

[2017-11-16 18:00] Mikanebu commented on #21
@rufuspollock I am thinking to add configuration section right after `Verifying` section in http://datahub.io/docs/getting-started/installing-data.

[2017-11-16 18:36] pwalsh opened #26 "I can't logout"
# Description

I can't log out of datahub.io - not in the browser, and not via a CLI command.

[2017-11-16 18:40] pwalsh opened #27 "I can't get to my profile page if I don't know the URL"
# Description

I can't simply navigate from anywhere to my profile page. Clicking my avatar does nothing (goes to `https://datahub.io/#`).

[2017-11-16 18:41] pwalsh opened #28 "I can't navigate to a dataset from the dataset list on my profile"
# Description

The datasets list on my profile is not linkable to the actual dataset(s).

The only place I can navigate to a dataset is from my event stream in the left-hand column.

[2017-11-16 18:44] pwalsh opened #29 "I am still logged in after revoking access on GitHub"
# Description

Relates to https://github.com/datahubio/qa/issues/26

As I can't logout of datahub.io, I tried to force it by revoking access to my GitHub account.

After revoking access, I am still logged in, and worse, I can still push data from the CLI.

There are no browser cookies that I can clear to forcibly flush my session either.

I am not sure if there is a potential security issue here,

[2017-11-16 18:47] Mikanebu commented on #27
@pwalsh Thanks for reporting it! When you click on your avatar, it should show you `dashboard` and `logout` options.

[2017-11-16 18:49] pwalsh commented on #27
@Mikanebu

It does not. I'm on Safari / macOS High Sierra.

[2017-11-16 18:57] Mikanebu commented on #27
@pwalsh This is a bug! I opened an issue https://github.com/datahq/frontend/issues/132

[2017-11-16 19:54] pwalsh opened #30 "Problems with files in sources."
# Description

I have source data on disk with my Data Package. I refer to it with `sources`.

- Sources do not get uploaded (I can't find by going to what should be its URL)
- Sources are not part of the zip download
- The link for sources assumes a URL, and therefore creates incorrect links (relative to the data package preview page) for sources in the top metadata table of the page

[2017-11-17 19:44] rufuspollock commented on #21
@Mikanebu can you write out what you plan to add i.e. the full draft text.

I also should say this is probably a relatively secondary issue as most users won't have two accounts at this point!

[2017-11-17 19:48] rufuspollock commented on #26
DUPLICATE. This is a safari bug hiding the logout button in the browser - see #27. The CLI does not support logout as a command atm (and i don't think it is that important - you can just delete your config if you want).

[2017-11-17 19:48] #26 closed

[2017-11-17 21:28] rufuspollock commented on #28
@pwalsh ok - i know what the issue is. This is because this dataset does not have a title (you just pushed a file) and it is the title that is use to make the links -- see e.g. https://datahub.io/core for what it is supposed to look like.

This is a known issue but we'd thought it was minor - https://github.com/datahq/frontend/issues/77

The question is where we should fix this: should we generate

[2017-11-17 21:50] rufuspollock commented on #29
@pwalsh sign out is the bug with safari documented in #27.

Revoking access in github shouldn't have any effect on your login in datahub - remember we are just using github oauth auth to sign up (and re-login). Revoking will mean you can't login in again via github without reauthorizing.

Again, you have logged in and you have a *datahub* auth token now, so revoking should make no difference (unti

[2017-11-17 21:54] rufuspollock commented on #30
@pwalsh interesting edge case. Local path sources are not an obvious thing to handle -- and something relatively new we added to data packages.

We can look at uploading and storing these at some point - but it probably won't be a priority given that this is a relative edge case and it is fair amount of work to add support for this.

[2017-11-18 05:56] pwalsh commented on #28
All resources have a name, so I’d say fall back to name if no title.

[2017-11-18 05:57] pwalsh commented on #29
Yes, this is ultimately due to #27 and we can close here.

[2017-11-18 05:57] #29 closed

[2017-11-18 16:18] rufuspollock commented on #22
@pwalsh what do you think is the expected behaviour. There are a few options when you do:

[code]

In a directory.

1. Check for a datapackage.json.
    * If found use that.
    * If no datapackage.json escape out
2. Check for a datapackage.json.
    * If found use that
    * Else: Search the directory (and subdirectories) and create a data package based on that (in some interactive way)

[2017-11-18 17:33] pwalsh commented on #22
Depends: do we definitely intend to only push files referenced in a datapackage.json? Or, files found at location?

[2017-11-18 22:20] rufuspollock commented on #22
@pwalsh we want people to be able to push files really easily.

The question here is not whether we allow them to push files but what is the UX of the CLI. Consider git:

Doing `git push` in a non git repo will result in:

[code]

You then then need to do:

[code]

Whilst git is maybe not the best example of a great cli experience :wink: it illustrates that it has the user perform several steps ra

[2017-11-18 22:43] rufuspollock commented on #19
@anuveyatsu can you action this asap. My guess is that we can get away with just moving the location and not bothering with a migration of existing config since people can just login again but we should flag the change in the changelog for the CLI and mention on the channel.

[2017-11-18 22:49] rufuspollock commented on #27
FIXED. @pwalsh this should be fixed. Please check and let us know if it working - or not!

[2017-11-18 22:49] #27 closed

[2017-11-18 22:54] rufuspollock commented on #12
INVALID / WONTFIX.

@abdoudesouki unfortunately old.datahub.io just holds links to the datasets and often did not store the data itself so we have no control whether the data stays online. I'm therefore closing issue as INVALID as we don't have any control over resolving it unfortunately :smile:

[2017-11-18 22:54] #12 closed

[2017-11-18 22:55] rufuspollock commented on #9
WONTFIX. This a non-issue and just due to txt/plain setting on pkgstore.

[2017-11-18 22:55] #9 closed

[2017-11-18 23:05] rufuspollock commented on #11
@Mikanebu is this resolved?

[2017-11-18 23:05] rufuspollock commented on #8
@brew is this resolved now?

[2017-11-19 06:04] pwalsh commented on #27
works, thanks.

[2017-11-19 06:09] pwalsh commented on #22
That is fine, and I agree on less magic, but it means that we must educate the user as to what a Data Package is, i.e.: Data Package is a concept that users must grok in order to push data.

[2017-11-19 12:10] rufuspollock commented on #22
@pwalsh good point. They only need to grok if they don't push a single file but want to push multiple files.

[2017-11-19 17:48] anuveyatsu commented on #28
I agree with using a name if there is no title.

Note that, currently, we're generating a title when pushing a single file.

[2017-11-20 05:51] pwalsh commented on #28
From a few issues I raised, it might be good to revisit code paths that lead to different results when single file vs multiple files.

[2017-11-20 06:19] anuveyatsu commented on #28
@pwalsh I think there is some misunderstanding - you can push multiple files only with `datapackage.json` ready. If users don't know about `datapackage.json` they can push a single file only so we generate a descriptor for it.

[2017-11-20 06:29] pwalsh commented on #28
I understand that. This leads to differences in the result, as evidenced by this issue.

This issue can be addressed at the boundaries of the platform (e.g: normalising the datapackage.json and adding fields that the platform expects), or, place by place, such as `{{ package.title or package.name }}` in the UI. Whichever way it happens, consumers of data should get a consistent experience, whether

[2017-11-20 06:47] anuveyatsu commented on #19
This is FIXED in https://github.com/datahq/datahub-cli/issues/208 - will be available with the next release - https://github.com/datahq/datahub-cli/releases/tag/untagged-d3e107c189821283e712

[2017-11-20 06:47] #19 closed

[2017-11-20 06:51] anuveyatsu commented on #28
@pwalsh yes, I totally agree. This will be fixed in the current milestone.

[2017-11-28 07:17] Stephen-Gates commented on #30
@pwalsh Why wouldn't you use mandatory [`path`](http://frictionlessdata.io/specs/data-resource/#data-location) in the Data Resource? I didn't imagine the optional [`sources`](http://frictionlessdata.io/specs/data-package/#sources) metadata being used to upload the data; rather as a reference to the original source of the data in the `path` (or `data`).

I think that the specification should be cle

[2017-11-28 18:19] rufuspollock commented on #30
@Stephen-Gates i agree. I guess the main use for sources is where you want to cache an original source file (e.g. an xls) which was used to generate the actual data resource file.

I think this is definitely an edge case but an interesting one and one I've personally come across so useful that @pwalsh brought it up.

For now we'll definitely leave this as a WONTFIX though.

[2017-11-28 18:19] rufuspollock commented on #30
WONTFIX.

[2017-11-29 08:58] rufuspollock commented on #30
@pwalsh good point. I'll think more about this and reopen for now.

[2017-12-04 13:58] HeidiSeibold opened #31 "R code shown on does not work"
I tried to run the R code on datahub.io/JohnSnowLabs/community-emergency-response-teams
and received a warning and an error.

[code]

[2017-12-04 14:06] HeidiSeibold opened #32 "Both search and blog only show first entries"
http://datahub.io/search and  http://datahub.io/blog show me the first few datasets / blog entries but no way to go to the next page to see more data sets / older blog posts.

[2017-12-04 14:09] HeidiSeibold commented on #31
This seems to be an issue with other data sets as well

[code]

[2017-12-04 14:30] rufuspollock commented on #32
@HeidiSeibold on blog that is all the entries atm so you aren't missing anything 😄

Re datasets you are right and we need to fix that.

[2017-12-04 14:31] rufuspollock commented on #28
FIXED. This now works!

[2017-12-04 14:31] #28 closed

[2017-12-04 14:36] rufuspollock opened #33 "Sample Machine Learning datasets on DataHub"
Many potential users come from a machine learning context and may be interested in sample machine learning datasets so let's get some up on the DataHub.

* [ ] Identify some sample datasets
* [ ] Tabular Data package-ize them
* [ ] Get them into a machine-learning section (maybe create a special org or add these to examples and/or awesome list)
* [ ] Write a tutorial especially explaining how to c

[2017-12-04 14:46] HeidiSeibold commented on #33
You can for example use any data set from OpenML and extract the relevant info to create the data package.

Example in R:
[code]
The same can be done in python, java, ... (whatever you prefer, see [OpenML website](https://www.openml.org/guide/api)).

[2017-12-04 14:57] Mikanebu commented on #31
@HeidiSeibold Thanks for reporting this. We will investigate

[2017-12-04 15:08] HeidiSeibold commented on #33
There is a collection called [OpenML 100](https://www.openml.org/search?q=tags.tag%3AOpenML100&type=data&table=1&size=100) with interesting (classification) data sets. It was collected as a quick way to do [benchmarking with OpenML](https://www.openml.org/guide/benchmark).

[2017-12-04 18:18] Mikanebu commented on #31
@HeidiSeibold Could you try to replase `path_to_file` with `path_to_file = json_data$resources$path[1][1]`

[2017-12-05 09:04] HeidiSeibold commented on #31
Looks good:

[code]

[2017-12-05 09:40] Mikanebu commented on #31
@HeidiSeibold data comes with `.csv` and `.json` format.

[2017-12-05 11:49] Mikanebu commented on #31
FIXED, updated instructions on showcase page. @HeidiSeibold I am closing this issue, but feel free to reopen it if you need any help

[2017-12-05 11:49] #31 closed

[2017-12-05 16:49] rufuspollock commented on #33
@HeidiSeibold thanks - if you have any tips on which ones you'd especially recommend let us know.

@Mikanebu please take a look through these datasets and see how they work and if there any that you think would be good

From my own quick browse i found:

* https://www.openml.org/d/458 - which itself is taken from this original source of 98 datasets http://people.stern.nyu.edu/jsimonof/AnalCatData/

[2017-12-05 17:37] Mikanebu commented on #33
@rufuspollock ok, I will check

[2017-12-08 15:45] AcckiyGerman opened #34 "Guide for typical data wrangling operations."
As a non-experienced user of datahub I want to know how to handle and/or prepare data sets, so I could make data clean and clear.

## Acceptance Criteria

* [ ] guide in in the datahub.io/docs
* [ ] show this guide for some stranger, who need help with any of listed typical operations (from datahub.io/chat)

## Typical tasks to cover
Table:
Feature name | supported by automation pipelines
* [x] de

[2017-12-11 21:23] joelgombin opened #35 "Handle semicolon-separated CSVs in data cli (and desktop)"
At the moment, it seems neither `data push file.csv` nor `data init file.csv` works when the csv file is semicolon separated (as is common in France, for example).

[2017-12-11 21:35] joelgombin opened #36 "datahub.io fails if a resource name has an upper case letter"
E.g. if the csv file title is `ville_vitry_Subventions_2017_comma_csv` it gives an error: https://datahub.io/joelgombin/test/pipelines

[2017-12-11 21:39] Mikanebu commented on #35
@joelgombin Thanks for reporting this. Currently, we do not support when csv file is semicolon separated. All you can do is package it and assign  `"delimiter": ";"`  property into `datapackage.json`

[2017-12-11 21:41] Mikanebu commented on #36
@joelgombin Great report! It will be fixed in our new `CLI` release

[2017-12-11 22:00] joelgombin opened #37 "[frontend] Issue with encoding of the title"
See https://datahub.io/joelgombin/ville_vitry_subventions_2017: the title of the page - which was passed by the CLI tool - has encoding issue, whereas the previewing of the CSV resource is fine.

![](https://i.imgur.com/Fzs6JVd.png)

[2017-12-11 22:02] Mikanebu commented on #37
@joelgombin Thanks for reporting this. We will investigate

[2017-12-12 11:21] AcckiyGerman opened #38 "Data wrangling tips for users"
As a non-experienced user of datahub I want to know how to handle and/or prepare data sets, so I could make data clean and clear.

## Acceptance Criteria
[] guide article in in the datahub.io/docs
[] show this guide for some stranger, who need help with any of listed typical operations (from datahub.io/chat)

## Typical tasks to cover
[] delete first X rows
[] delete last X rows
[] date correction

[2017-12-12 11:24] AcckiyGerman commented on #38
@Mikanebu please review the  issue format itself  (and the Analysis)

[2017-12-12 11:44] AcckiyGerman commented on #38
DUPLICATED

[2017-12-12 11:44] #38 closed

[2017-12-12 11:44] AcckiyGerman commented on #34
## Analysis
[] do we need to create a python lib with this typical functions?
[] or we could integrate this functions in the existing package?
- https://github.com/frictionlessdata/datapackage-py
- https://github.com/frictionlessdata/tableschema-py

[2017-12-12 11:54] AcckiyGerman opened #39 "Ability to give a feedback on docs."
As a user, who is reading the docs, I need an ability to give a feedback about what i'm reading immediately, without need to leave the page, So I can send my ideas&proposals quickly and being focused on my tasks.

## Acceptance criteria
* [ ] user can quickly send a feedback directly from the doc page (by marking the text and pressing the right mouse button, or similar simple way)
* [ ] the feedba

[2017-12-12 13:33] Mikanebu commented on #38
@AcckiyGerman Next time, when you close it as a DUPLICATE, could you provide more details like a reference to the issue or etc...

[2017-12-12 16:58] rufuspollock commented on #39
I'm giving this a priority one as whilst nice to have i think there is a lot of other stuff that is more important.

[2017-12-12 19:13] AcckiyGerman commented on #38
ok, sorry @Mikanebu
https://github.com/datahubio/qa/issues/34

[2017-12-12 21:43] rufuspollock commented on #34
@AcckiyGerman i think this is a really great issue. I think we could add an entire section to the docs on data wrangling tips and techniques. As a start we can have just one page and then as we get more material we can divide this up.

In terms of existing resources to (re)use:

* https://github.com/rufuspollock/command-line-data-wrangling - we could entire merge this (and then deprecate the origi

[2017-12-14 13:38] AcckiyGerman commented on #34
Analysis: https://hackmd.io/MYNgRgpgnALAzABgLQCYQDMpJugjMJADkPTiTgFYEoF1hdCIBDOIA===?edit

[2017-12-15 20:58] AcckiyGerman commented on #34
The guide should describe, how to use the existing tools, that we use for automation e,g. *.yaml files, but at the moment we only cover  2 / 10 of listed typical tasks, so let's put this article aside, while focusing of adding features to our pipelines.

[2017-12-30 09:19] rufuspollock commented on #33
Also found https://archive.ics.uci.edu/ml/datasets.html

[2017-12-30 11:19] rufuspollock commented on #35
Just to say we plan to work on this in the next sprint and deliver an improvement mid January.

[2018-01-07 22:51] dpritchard opened #40 "Path arrays fail (using the CLI tool)"
Hello,
I am just testing / exploring what can be achieved with the datahub.io CLI tool and I have stumbled over the following:

With the following minimal data package:

[code]

and the following folder structure:

[code]

The CLI tool provides the following:

[code]

I get the same error even if `path` is an array with a single item (but not if a single string `path` is provided). This suggests t

[2018-01-08 06:12] Mikanebu commented on #40
@dpritchard Thanks for reporting this. We will investigate... Seems like it is valid according the spec, issue is related to cli tool

[2018-01-09 17:43] rufuspollock commented on #40
@dpritchard that is definitely valid according to the spec but is not supported on DataHub yet because data package pipelines tool does not support it yet.

If you could put the data in one file that will definitely work and we will note this for the roadmap.

[2018-01-09 18:13] rufuspollock commented on #33
@HeidiSeibold we've started data packaging some machine learning datasets here http://datahub.io/machine-learning

Any feedback or suggestions for next steps would be very welcome 😄

[2018-01-10 06:22] dpritchard commented on #40
Thanks for the replies. Good to know.

It will be interesting to see how this will be tackled with the existing resource URL scheme (`https://datahub.io/<user>/<package>/r/<file>`).

Especially (perhaps particularly) if no suitable pipeline exists. Just sending an (`.zip`) archive of all of the files seems like a useful fallback. But I am happy to wait and see how that develops.

Thanks again.

[2018-01-10 18:46] eocarragain opened #41 "datapackage.json in zip file differs from version on github or pkgstore.datahub.io"
As discussed on gitter, the version of datapackage.json included in zip files downloaded from datahub.io lack basic metadata like title, license, description.

See a diff here between https://pkgstore.datahub.io/core/registry/6/datapackage.json (left hand side) and the version included in the zip file downloaded (right hand side): http://www.mergely.com/Xo9fTlfZ/

### Update 7 feb 2018 from @accki

[2018-01-15 14:35] HeidiSeibold commented on #33
Cool, thanks :tada: . So there is at least one data set that is both in your collection as well as on OpenML:

- http://datahub.io/machine-learning/seismic-bumps
- https://www.openml.org/d/1500

I guess a first step now would be to check:

- [ ] which fields in the datapackage correspond to which fields in the ARFF file.
- [ ] if there is any information in the ARFF file that we cannot get from th

[2018-01-15 17:08] rufuspollock commented on #41
@zelima can you confirm this and check the source the issue please.

[2018-01-15 18:37] rufuspollock commented on #40
@dpritchard good points about how we handle in the urls. My intuition is that internally we will concatenate into one large file but its one we should work out.

@dpritchard in the mean time one question for you: what's your use case at the moment and is this essential to it? We are always keen to know more about what users want and need.

[2018-01-16 05:28] dpritchard commented on #40
@rufuspollock tl;dr: It is not essential!

But, without taking this thread too far off topic... Two specific array-related examples spring to mind:

1) ESRI Shapefiles.

[code]

I know this has been [discussed elsewhere](https://discuss.okfn.org/t/geo-data-package/6143/26) and I am happy enough with the view that Shapefiles are probably best avoided. Certainly they are not (per the spec) "similar

[2018-01-16 12:15] anuveyatsu opened #42 "How do I get started with push-flow?"
I have a remote data somewhere (URL) and I want to create `flow.yaml` in a way so I it scrapes data from that URL and does some processing steps (e.g., removes some rows). Although I know this functionality is provided by DataHub, I cannot find any guidelines. It would be very useful, if there is a tutorial or simple set of steps of what should I do.

[2018-01-18 12:55] MAliNaqvi opened #43 "`data get` only acquires the html page for the dataset not the datapackage.zip"
Currently, `data get` acquires the html page for a dataset

Expected Behaviour: `data get` should get the datapackage.zip of the dataset

Steps to reproduce this error:

[code]

which shows:
https://www.dropbox.com/s/abu72lhip7yyvln/Screenshot%202018-01-16%2017.22.28.png?dl=0

So data get only obtains the html page of the dataset

[2018-01-18 12:57] Mikanebu commented on #43
@MAliNaqvi Thanks for reporting this. We will investigate and fix it soon.

[2018-01-22 07:29] AcckiyGerman commented on #43
This issue is probably related with https://github.com/datahq/data-cli/issues/246

[2018-01-22 13:01] rufuspollock opened #44 "Cannot access dataset files cross origin (no CORS)"
Files in the pkg store are supposed to have CORS support turned on so that cross origin http requests work from javascript. However, it looks like this is not working atm which is breaking this site for example: http://rufuspollock.github.io/imf-weo/

![image](https://user-images.githubusercontent.com/180658/35221973-87333f82-ff7c-11e7-8708-3abec48419f4.png)

[2018-01-24 17:44] AcckiyGerman commented on #34
Updated (support for features atm).
Also, as we don't want to teach people how to program on python, but how to use our data tools - I  suggested to use **"Automation guidy"** article, which is ready.
But, while we freeze the Automation Epic, we could fill this article with DPP and TABULATOR using examples, and I'm not sure we need to do it, coz we have full documentation for this tools in their r

[2018-01-25 04:40] zelima commented on #34
@AcckiyGerman could you please provide the link to the article, or is it in hackmd?

[2018-01-25 05:02] AcckiyGerman commented on #34
@zelima yes, it is in hackmd

[2018-01-26 11:30] Mikanebu commented on #36
FIXED, @joelgombin it is fixed now in our new CLI release, please feel free to open if it happens again.

[2018-01-26 11:30] #36 closed

[2018-01-29 11:54] rufuspollock commented on #34
@AcckiyGerman could we get this tidied up and published in docs marked "experimental - use at own risk" :wink: as per discussion in sprint planning. And then we can close this issue.

Also what happened to my original issue about this which was just about data wrangling in general -- not about using the datahub features (e.g. i mentioned command line data wrangling - i can't find this now)

[2018-01-29 12:44] zelima commented on #44
I checked `pkgstore` and CORS is fine there. That should also confirm the fact that frontend is not complaining about CORS right?
[code]

I think the problem should be in redirection - redirecting URL must also include an Access-Control-Allow-Origin header. Not sure this Is happening

[2018-01-29 13:56] zelima commented on #44
FIXED. now there's another error:
[code]

[2018-01-29 15:48] AcckiyGerman commented on #34
### Wrangling data using datahub tools
* "automating datasets" is already published:  http://datahub.io/docs/automation
* it has some examples of wrangling data (and links to DPP and tabulator docs, if user need more examples)
* I doubt we need the whole post about how to use DPP and Tabulator (these two cover most of the use-cases) because these two already have a great documentation

### Wrangli

[2018-01-29 15:48] AcckiyGerman commented on #34
#### P.S. when I started creating datasets I have two troubles:
- how to unpivot|transpose table in a easy and a good-readable way (coz I read unpivot python methods and didn't understand what's going on)
- how to create datapackage.json semi-automatically (coz writing it by hands is a pain)

so I had this idea to create 'how to wrangle data' article - I was sure that  more of such hard data-wrang

[2018-01-30 05:18] zelima commented on #34
@AcckiyGerman @rufuspollock I think you are talking about this comment re command line wrangling https://github.com/datahq/datahub-qa/issues/34#issuecomment-351204281

Generally, I agree with @AcckiyGerman about datapackage. I remember was completely lost when trying to pack for the first time. It seems way too complicated for very beginner until understands the idea of datapackage and adding `dpp

[2018-01-30 09:25] AcckiyGerman commented on #42
FIXED: http://datahub.io/docs/automation

[2018-01-30 09:25] #42 closed

[2018-01-30 16:05] AcckiyGerman opened #45 "[Epic] Getting files and datasets from datahub.io"
This EPIC contains all the issues related to `data get` command

## Critical

- [x] `data get` only acquires the html page for the dataset itself https://github.com/datahq/datahub-qa/issues/43

##  Major

- [x] getting 403 when requesting data with urllib https://github.com/datahq/datahub-qa/issues/81

## Minor

- [x] can't get in NTSF folder https://github.com/datahq/datahub-qa/issues/55

## Triv

[2018-01-31 10:41] rufuspollock commented on #42
@AcckiyGerman great. I think this should be under features rather than tutorials no?

[2018-01-31 10:45] AcckiyGerman commented on #42
@rufuspollock Automation is a feature, and the guide is a tutorial, so I was not sure where to put it, so I asked @anuveyatsu and @zelima , and it was joint decision to put it into 'Tutorials'.  Anyway I think it is not so important where to put it.

[2018-01-31 11:09] ppKrauss opened #46 "Trying to use at UBUNTU 16 LTS"
Using Ubuntu 16.04.3 LTS (xenial)

[code]

[2018-01-31 11:13] ppKrauss commented on #46
About complete installation of `datahub-cli` by npm,

[code]

[code]

[2018-01-31 11:19] Mikanebu commented on #46
@ppKrauss Thanks for reporting this. We will investigate

[2018-02-01 08:29] AcckiyGerman opened #47 "[Epic] Pushing files and datasets to datahub.io"
This EPIC contains all the issues related to `data push` command

## Critical

- [x] push is not working with different separators https://github.com/datahq/datahub-qa/issues/59 and https://github.com/datahq/datahub-qa/issues/35

##  Major

- [x] Push large files https://github.com/datahq/datahub-qa/issues/62
- [x] Push with other encoding than utif-8 https://github.com/datahq/datahub-qa/issues/77

[2018-02-01 08:39] AcckiyGerman opened #48 "[Epic] Installation and download"
All issues about 'data-cli' installation should be listed here

As a User, I want to see clear instructions so I cat install and run 'data-cli' on a different OS.

## Critical

* [ ] ...

## Major

* [x] ubuntu 16LTS problem https://github.com/datahq/datahub-qa/issues/46
* [x] npm/yarn installable https://github.com/datahq/datahub-qa/issues/54

## Minor

* [x] installation size https://github.com/

[2018-02-01 10:17] AcckiyGerman opened #49 "Instructions for importing data are not working"
I cannot use data from the datahub following the instruction

## How to reproduce

Go to any dataset page on the datahub.io and try to use the dataset due to instructions, e.g. http://datahub.io/core/cofog#python

## expected behavior

* [x] I copy the example in my REPL
* [x] It works
    - [x] R
    - [x] Pandas
    - [x] Python
    - [x] JavaScript
    - [ ] Ruby

[2018-02-01 11:17] zelima opened #50 "[Push] Pushing excel file with non existing sheets should fail"
Currently, if you try and push excel file and define non-existing sheet it will not fail and push data from the first sheet of excel file.
Another problem is that if you select even existing sheet, it'd push the first one, which means we're not able to push a sheet other than first one.

## Reproduce

Try to push excel file with 2 sheets named `sheet1` and `sheet2`. The following command will push

[2018-02-01 11:39] Mikanebu opened #51 "Search page shows some unlisted datasets"
Search page shows some unlisted datasets

## How to reproduce

* Go to '\search` page and search for `core`

Some unlisted packages for `core` user are visible. For example `co2-fossil-by-nation `

## Expected behaviour

Search page should not show unlisted datasets

[2018-02-01 12:04] AcckiyGerman opened #52 "[Epic] Frontend"
All the issues, related to datahub.io web UI including the dataset (showcase) page.

## Critical

- [ ] Import into your tool description not working #49
- [ ] Search page does not show all results https://github.com/datahq/datahub-qa/issues/67
- [ ] logout when token expired https://github.com/datahq/datahub-qa/issues/82

##  Major

- [ ] Core datasets should appear prior others when searching #7

[2018-02-01 12:31] zelima opened #53 "Research data CLI app size reduction"
Currently, our CLI app is 123MB - https://github.com/datahq/data-cli/releases/tag/v0.6.5
This is too large and may be crucial for some users wanting to download it. We want it to be below 100MB (10Mb ideally)this seems a break point for the majority.

[2018-02-01 12:38] zelima opened #54 "Ensure npm/yarn installable"
A lot of people will install the CLI tool using package managers such as npm/yarn. To provide them a nice experience we want to double check if everything works.

Notice, package name was changed recently, now it's called `data-cli` - check docs, blog posts and any other writings and update instructions.

Related Issues: https://github.com/datahq/datahub-qa/issues/46

[2018-02-01 12:47] zelima opened #55 "[Get] data get does not work inside a NTFS folder"
Not able to get dataset in NTSF folder

## How to reproduce

Program version: https://github.com/datahq/data-cli/releases/download/v0.6.3/data-linux
OS version: Ubuntu 16.04
[code]

@anuveyatsu

## Expected behaviour

Able to get dataset in NTFS folder

[2018-02-01 12:54] zelima opened #56 "[Get] Able to get files from github"
As a user, I want to get some file using the link from the GitHub, so I could use it locally. Currently, if the link is not to the raw data it will only get HTML.

## How to reproduce

* **Fails:** run `data get https://github.com/datasets/finance-vix/blob/master/data/vix-daily.csv`
* Works fine: run`data get https://raw.githubusercontent.com/datasets/finance-vix/master/data/vix-daily.csv`
* Works

[2018-02-01 13:17] zelima opened #57 "[Push] pushing the files with modified extensions"
As a user, I might have files that are  CSV or EXCEL or any other but have modified extensions. Eg `my-file.xls` renamed and called `my-file.csv`. Right now they are failing with not a user-friendly error messages

## How to reproduce

* take a TSV file, change its extension to .csv and push
* take a XLS file, change its extension to .csv and push
* take a pdf file, change its extension to .csv an

[2018-02-01 13:24] zelima opened #58 "[Push] pushing excel with no entries makes CLI tool stop responding"
Tried to push the excel with 0 rows (no entries) and CLI hang

## How to reproduce

- Prepared Excel file with a sheet with 0 rows and pushed it, so CLI stuck while pushing. Spinner stopped and I'm not able to terminate the process.

Sample data file: https://github.com/frictionlessdata/test-data/blob/master/data-files/empty-files/empty.xls

## Expected behavior

* Don't allow pushing with clear r

[2018-02-01 13:34] zelima opened #59 "[Push] Can not push files with other separators than comma"
I have CSV file with various separators like `;` semicolon, `:` colon, `|` pipes etc... Not able to push any of them

## How to reproduce

- [ ] try to push any of this files https://github.com/frictionlessdata/test-data/tree/master/data-files/csv/separators
- [ ] try to package them and push as datapackage (using this [datapackage.json](https://github.com/frictionlessdata/test-data/blob/master/da

[2018-02-01 13:46] zelima opened #60 "[Push] Not able to push empty files"
Not able to push neither empty tabular nor empty non-tabular files

When pushing getting following errors:

* Program hangs with empty.csv
* For all other extensions - throws error: `Cannot calculate proper length in a synchronous way.`

## How to reproduce

- Try pushing empty files https://github.com/frictionlessdata/test-data/tree/master/files/empty-files
- Try pushing with 0 bites from here ht

[2018-02-01 13:56] zelima opened #61 "[Push] Not able to push remote datasets"
I have dataset remotely Eg on Github. If I try and run `data push https://url/to.datapackage.json` it will be pushed as a non-tabular resource.

## How to reproduce

- data push https://raw.githubusercontent.com/frictionlessdata/test-data/master/packages/remote-csv/datapackage.json

## Expected behavior

* Not allows me pushing
* displays `Error: You can push only local datasets.`

[2018-02-01 14:04] zelima opened #62 "[Push] Not able pushing data with large files"
Tries publishing large dataset, with large number of columns or large in size (170mb). CLI either hangs without displaying spinner or justs exits - terminates job.

## How to reproduce

- Try pushing https://raw.githubusercontent.com/frictionlessdata/test-data/master/files/csv/1030_columns.csv
- Try to pushing 168mb file

## Expected behavior

* Able to push large files
* Able to see the progress

[2018-02-01 14:07] zelima opened #63 "[Push] Suggest other command if dp.json is missing"
`data push` will fail if dp.json is missing with following error

[code]

## How to reproduce

- run `data push` in directory without datapackage.json

## Expected behavior

Should suggest help or `init`

[code]

[2018-02-01 14:13] zelima opened #64 "[Push] pushing valid dataset with the path to datapackage.json fails"
`data push path/to/datapackage.json` failes with following

[code]

## How to reproduce

* get a dataset https://github.com/frictionlessdata/test-data/tree/master/datapackages/remote-csv
* run `data push datapackage.json`

## Expected behavior

dataset gets on datahub.io

[2018-02-01 17:30] AcckiyGerman opened #65 "Dashboard page shows unlisted datasets for core user"
@Mikanebu commented on [Thu Feb 01 2018](https://github.com/datahq/frontend/issues/192)

We want to show only published datasets on core user's dashboard page

## Acceptance criteria

* [ ] Core user's page should show only published datasets

## Tasks

## Analysis

### How to reproduce

* Load `/core` page
* check if the list contains `unlisted` or `private` datasets

### Output

Loaded page, and

[2018-02-01 17:51] AcckiyGerman commented on #35
DUBLICATED: https://github.com/datahq/datahub-qa/issues/59

[2018-02-01 17:53] anuveyatsu opened #66 "[Push] Cannot publish tabular data with values that have double quotes"
@Mikanebu commented on [Thu Feb 01 2018](https://github.com/datahq/data-cli/issues/253)

### Steps to reproduce

* take the following data file - https://raw.githubusercontent.com/frictionlessdata/test-data/master/files/csv/all-schema-types.csv
* push it using "data push ..."

### Output

got error "Invalid opening quote" - this is because we need to have escape character setup

## Expected behavi

[2018-02-01 17:56] Mikanebu opened #67 "Search page does not show all results"
if you search for `core` datasets, it shows only first 20 datasets out of 78, no pagination implemented yet

## How to reproduce:

* Go to '\search` page and search for `core`

## Expected behaviour

It should all datasets on one page or with pagination

[2018-02-01 17:57] anuveyatsu opened #68 "Some validation errors are not being identified"
### How to reproduce

Take the sample datapackage from test-data repo and push it. Use datapackages for `string`, `datetime` and `time` data types: https://github.com/frictionlessdata/test-data/tree/master/packages/types-formats-and-constraints

### Output

Following errors are missing on showcase page:

* `string` - The value “https:/domain.com” in column “uri” is not type “string” and format “ur

[2018-02-01 18:07] Mikanebu opened #69 "Search page should not search by connecting words (at least incide the README), like: in, at, on, a, the, ..."
'the Mauna Loa' request found 109 datasets, but in perfect world, it should be roughly 3-4datasets

## How to reproduce:

Go to '\search' page and search 'the Mauna Loa'

## Expected behavior

'the Mauna Loa' request returns 3-4 datasets

[2018-02-01 18:12] Mikanebu opened #70 "[Search page] Core datasets appear not on the top"
if I search for `gdp`, `core` datasets do not appear on the top of list

## How to reproduce:

* Go to '\search` page and search for `gdp`

### Expected behaviour

`core` datasets should appear on the top of the result if it exists

## related issue
https://github.com/datahq/metastore/issues/27

[2018-02-01 18:13] anuveyatsu opened #71 "[Publish] processing speed"
After pushing a dataset I have to wait for some time before my data gets processed on datahub, e.g.:

100kb:

1mb:

150mb:

## How to reproduce

- take this 100kb data https://github.com/frictionlessdata/test-data/blob/master/files/csv/100kb.csv
  - and push it
  - see how long it takes
- take this 1mb data https://github.com/frictionlessdata/test-data/blob/master/files/csv/1mb.csv
  - and push it

[2018-02-01 18:14] anuveyatsu opened #72 "[Push] Pushing large files is not working"
@anuveyatsu commented on [Thu Feb 01 2018](https://github.com/datahq/data-cli/issues/255)

Pushing a file with > 1024 columns even did not show spinner, just stopped.

## How to reproduce

* [ ] take this data https://github.com/frictionlessdata/test-data/blob/master/files/csv/1030_columns.csv
* [ ] push it

## Expected behaviour

* [ ] I can push https://github.com/frictionlessdata/test-data/blob

[2018-02-01 18:17] anuveyatsu opened #73 "[Push] Cannot push empty files or zero byte files"
When pushing empty or zero bytes files, I'm getting following errors:

## How to reproduce

* [ ] take the following data:
  * [ ] https://github.com/frictionlessdata/test-data/tree/master/files/empty-files
  * [ ] https://github.com/frictionlessdata/test-data/tree/master/files/zero-files
* [ ] push them

## Expected behaviour

* [ ] I am able to push empty files
* [ ] showcase page tells me that

[2018-02-01 18:17] Mikanebu opened #74 "Publisher page shows unlisted datasets for core user"
@Mikanebu commented on [Thu Feb 01 2018](https://github.com/datahq/frontend/issues/192)

We want to show only published datasets on core user's publisher page - https://datahub.io/core

## Acceptance criteria

* [ ] Core user's page should show only published datasets

## Tasks

## Analysis

### How to reproduce

* Load `/core` page
* check if the list contains `unlisted` or `private` datasets

##

[2018-02-01 18:17] Mikanebu opened #75 "Publisher page shows unlisted datasets for core user"
On publisher page for `core` user, found some `unlisted` datasets

## How to reproduce

* Load `/core` page
* check if the list contains `unlisted` or `private` datasets

## Expected behaviour

Core user's page should show only published datasets

[2018-02-01 18:21] Mikanebu opened #76 "Some validation errors are not being identified"
@Mikanebu commented on [Thu Feb 01 2018](https://github.com/datahq/frontend/issues/191)

We want to improve showcase page, so it should have error messages as per readme of the dp, eg, when pushing following datapackages some errors are not catched in the frontend:

https://github.com/frictionlessdata/test-data/tree/master/datapackages/types-formats-and-constraints

* `string` - The value “https:/

[2018-02-01 18:26] Mikanebu commented on #75
DUPLICATED, https://github.com/datahq/frontend/issues/192

[2018-02-01 18:26] #75 closed

[2018-02-01 18:26] Mikanebu commented on #74
DUPLICATED, https://github.com/datahq/frontend/issues/192

[2018-02-01 18:26] #74 closed

[2018-02-01 18:28] anuveyatsu opened #77 "data with different encoding than utf-8 does not work"
Starting from an error report in datahq/frontend#58 of encoding issues in the frontend we have traced issue to a bug in the encoding detection here in the CLI (see 58 issue for details).

If data is saved in the different encoding that utf-8, it will fail.

This issue is also related to https://github.com/datahq/data-cli/issues/154

## How to reproduce

- take these datasets:
  - https://github.co

[2018-02-01 18:29] Mikanebu commented on #76
DUPLICATED, https://github.com/datahq/datahub-qa/issues/68

[2018-02-01 18:29] #76 closed

[2018-02-01 18:32] anuveyatsu commented on #72
DIPLICATE of https://github.com/datahq/datahub-qa/issues/62

[2018-02-01 18:32] #72 closed

[2018-02-01 18:33] anuveyatsu commented on #73
DUPLICATE of https://github.com/datahq/datahub-qa/issues/60

[2018-02-01 18:33] #73 closed

[2018-02-02 06:06] zelima commented on #75
@Mikanebu why is this closed? Think we agreed to have issues in both places. Also if closing it as duplicate add appropriate label and remove others

[2018-02-02 06:15] Mikanebu commented on #75
my fault, this issue https://github.com/datahq/datahub-qa/issues/65. It was created by @AcckiyGerman.

[2018-02-02 06:16] zelima commented on #75
@Mikanebu that means it's duplicate of #65 right?

[2018-02-02 06:17] Mikanebu commented on #75
@zelima right

[2018-02-02 06:46] AcckiyGerman commented on #62
data-cli issue: https://github.com/datahq/data-cli/issues/255

[2018-02-02 07:09] AcckiyGerman opened #78 "[Epic] New Features and Ideas"
New proposals, features, ideas from users and our team.

## Critical

* [ ] ...

## Major

* [ ] ...

## Minor

* [ ] Publish on the datahub, using Organisation name instead of GitUser name https://github.com/datahq/datahub-qa/issues/13
* [ ] horizontal bar charts  https://github.com/datahq/datahub-qa/issues/16
* [ ] multiple accounts in config #21
* [ ] infer dp.json #22

## Trivial

* [ ] indica

[2018-02-02 07:15] AcckiyGerman commented on #78
Notifying message for @rufuspollock @akariv @anuveyatsu @Mikanebu :
@zelima has an idea to put new ideas from users in this Epic
I like the idea :+1:

[2018-02-02 07:27] AcckiyGerman commented on #13
## expected behavior

User can use his github organisation name to publish data under it.
E.g. @Mikanebu is a member of https://github.com/datopian so it would be great for him to publish data on http://datahub.io/datapian

### how to implement

Using github oauth scopes https://developer.github.com/apps/building-oauth-apps/scopes-for-oauth-apps/  we probably could read a list of organisations whe

[2018-02-05 08:33] AcckiyGerman commented on #62
processing page issue added: https://github.com/datahq/frontend/issues/198

[2018-02-05 09:52] zelima commented on #77
FIXED

[2018-02-05 09:52] #77 closed

[2018-02-05 12:17] zelima commented on #64
This seems no longer an issue in `data v0.6.7`. Please retry and if this repeats please provide detailed steps of how to reproduce

[2018-02-05 13:01] AcckiyGerman commented on #64
FIXED: Could not reproduce the bug.
TESTED:  with `datapackage.json` that has has local and remote resources

[2018-02-05 13:01] #64 closed

[2018-02-05 13:36] AcckiyGerman opened #79 "[push][assembler] Big files are not processed after `data push`"
I've pushed an 168mb csv file and probably something hangs on the the server, because:
- data processing is not finished even after several hours
- now smaller datasets are processing veeeery slowly as well

## How to reproduce

* push a big csv file:
[code]
(The last command will only work if https://github.com/frictionlessdata/tableschema-js/pull/118 is merged, so https://github.com/datahq/data-

[2018-02-05 15:27] AcckiyGerman opened #80 "[push] show proper error when `resources.path` is invalid"
As a user I want to see a readable error when I push the data, so I could fix my dataset.
But now, when I push a dataset with invalid `resources.path` I've got
- `> Error! [object Promise]` if I have `../` in the path OR
- got no error from `data-cli`, dataset is pushed and then I have `Not Found for url:` error on the frontend.

## How to reproduce

Push datasets with following errors in the `dat

[2018-02-06 06:57] zelima commented on #79
@AcckiyGerman Not sure how this differs from #62 and think is duplicate
* Think problem here is that browser crashes due to it's trying to load data from an original file. This was part of #62 and was fixed (needs to be tested and closed)
* If it really is not getting processed and is stuck somewhere in backend, we should open issue in assembler and say that large data is not getting processed.

[2018-02-06 07:00] AcckiyGerman commented on #46
TESTED: installation failed on a new system (ubuntu 17.04), got the same issue as issue-starter:
[code]

[code]

So I failed to install `data-cli` via npm as a User and as a Root  😞
@anuveyatsu could we avoid installation of git packages? `Command failed: /usr/bin/git clone -q https://github.com/anuveyatsu/datapackage-js-temp.git`

[2018-02-06 07:51] zelima commented on #67
Should be fixed, live on datahub http://datahub.io/search

[2018-02-06 08:07] AcckiyGerman commented on #79
@zelima Yes, you right, I crated that issue as an entry-point to https://github.com/datahq/pm/issues/117 and all this `browser crashes` and `data is not processed` is just a context and are duplicating other issues. Let me change the name and clean the issue, and then will decide, leave it or close.

[2018-02-06 10:09] Mikanebu opened #81 "HTTP Error 403: Forbidden for resources"
We are getting 403 forbidden from CloudFlare if you try and open url with urllib.
[code]

## How to reproduce

- [ ] use `urllib` library to fetch resources
- [ ] sample url https://pkgstore.datahub.io/core/country-list/data_csv/data/d7c9d7cfb42cb69f4422dec222dbbaa8/data_csv.csv:

## Expected behaviour

No forbidden message

[2018-02-06 10:11] AcckiyGerman commented on #41
FIXED: issue is fixed in the assembler
TESTED: pushed co2-emissions dataset and check the resulting `dp.json` from zipped dataset: all the metadata is on place (name, title, license)

[2018-02-06 11:07] zelima opened #82 "Not able to see private datasets or failed revisions while "logged in""
If a user is logged in and after a while (token expires) tries to take a look at private dataset or pushes new one, a user is not able to see neither of the private dataset, broken revision or it's processing progress - the user is getting 404  instead. The user has to magically guess the reason, got to the main page, log out and log in again.

## How to reproduce

- log in and wait until token ex

[2018-02-06 12:40] AcckiyGerman commented on #41
Added a new task - redeploy all the core datasets

[2018-02-06 12:53] Mikanebu opened #83 "I cannot see the list of datasets on dashboard page"
In dashboard page, I cannot see my list of datasets

## How to reproduce

- [ ] login into DataHub
- [ ] go to dashboard page

## Expected behavior

* List of all my datasets on dashboard page

[2018-02-06 12:54] Mikanebu commented on #83
<img width="1034" alt="screen shot 2018-02-06 at 6 45 27 pm" src="https://user-images.githubusercontent.com/19908588/35860675-1667396c-0b6f-11e8-9775-f817ad33a737.png">

[2018-02-06 13:35] zelima commented on #81
This is happening cause Cloudflare does not really like urllib and blocks as bot. For now, we turned   Browser Integrity Check off on Cloudflare. Should work

[2018-02-06 13:56] Mikanebu commented on #83
INVALID

[2018-02-06 13:56] #83 closed

[2018-02-06 14:09] zelima commented on #83
@Mikanebu small explanation of why this is invalid would be useful

[2018-02-06 14:11] Mikanebu commented on #83
@zelima added

[2018-02-06 14:15] AcckiyGerman commented on #81
TESTED: working:
[code]

FIXED by changing the Cloudflare settings.

[2018-02-06 14:35] AcckiyGerman commented on #32
TESTING:
WORK:
- I could see the pagination on the http://datahub.io/search page:

![image](https://user-images.githubusercontent.com/11707682/35864522-b2522842-0b5a-11e8-9103-e6dfd9b1d4cf.png)
NOT WORK / SUGGESTIONS:
- I would like to add some mark or highlighting, that shows the current page (here on the image I'm on the 7th page probably, but not sure, and need to carefully look and think about

[2018-02-06 14:46] AcckiyGerman commented on #67
TESTED:
[code]
Yes, there is 75 core datasets on the page.
@zelima do we need pagination here?

[2018-02-06 14:49] AcckiyGerman commented on #49
@Mikanebu is it now ready for testing ?

[2018-02-06 14:56] anuveyatsu commented on #32
@AcckiyGerman at the moment, we don't need pagination for `/blog` page - it is just showing up all results.

Agree about highlighting current page 👍

[2018-02-06 15:05] Mikanebu commented on #49
@AcckiyGerman created PR. It is under review. I will ping you

[2018-02-06 15:21] AcckiyGerman commented on #41
FIXED: the issue https://github.com/datahq/assembler/issues/81 was closed 21 days ago and core datasets were redeployed one day ago, so there is no need to redeploy again.
TESTED: manually - the metadata is on place.

[2018-02-06 17:07] Mikanebu commented on #43
@AcckiyGerman This issue is fixed here https://github.com/datahq/data-cli/issues/266.

[2018-02-06 17:10] Mikanebu commented on #55
@AcckiyGerman please, check this issue, it should be fixed now since we fixed `data-get` issue here https://github.com/datahq/data-cli/issues/266. I tested from my site

[2018-02-07 05:18] zelima commented on #41
@AcckiyGerman Can you provide examples of which datasets you've checked? Cause I don't see any changes for the example from above https://datahub.io/core/registry
* it was last modified 3 weeks ago
* datapackage.json in zip resource is still missing key metadata like license, title, etc...

[2018-02-07 06:52] AcckiyGerman commented on #41
Core datasets need to be redeployed, once Accembler well be updated.

[2018-02-07 06:57] zelima commented on #67
@AcckiyGerman probably we need, but that's a different issue with different severity and priority. Please close this one and open another one for publishers page

[2018-02-07 07:23] AcckiyGerman commented on #43
TESTED:
1. `data get https://github.com/datasets/imf-weo` - OK
2. `data get http://datahub.io/core/finance-vix` - FAILED
[code]

[2018-02-07 07:29] Mikanebu commented on #43
@AcckiyGerman Please, pull the latest changes from `data.js` repo and try again.

[2018-02-07 07:47] AcckiyGerman commented on #43
TESTED:
- get from github
- get from datahub
- get into NTFS folder
All tests passed.

Issue is FIXED:
@MAliNaqvi  Thanks for report!

[2018-02-07 07:50] AcckiyGerman commented on #55
FIXED: Works well on Ubuntu 16.04 inside the NTFS folder.

[2018-02-07 07:50] #55 closed

[2018-02-07 08:19] AcckiyGerman opened #84 "Pagination on the publisher's page"
http://datahub.io/core shows all 82 datasets at once, and it would be better to implement pagination on the publisher's page to make it looks better.

## How to reproduce

- [x] visit http://datahub.io/core

## Expected behavior

There is pagination on the publisher page, when the publisher has more then (10, 20) datasets

[2018-02-07 08:20] AcckiyGerman commented on #67
FIXED: http://datahub.io/search page has a pagination now.

[2018-02-07 08:20] #67 closed

[2018-02-07 08:53] AcckiyGerman commented on #71
Renamed title from "push speed" to "processing speed" - the push speed itself is fast enough (do 2.5 Mb/sec on my pc, which is my internet provider limit)

[2018-02-07 09:01] AcckiyGerman opened #85 "`data push` displays upload progress bar"
At the moment, when pushing packages, especially big ones, it is not clear what's happening. We want to have a progress bar so users know which stage is being processed.

## How to reproduce

* `data push 168mb.csv`

## Expected behavior

User could see the progress bar [and the upload speed]

## related issues:

https://github.com/datahq/data-cli/issues/116

[2018-02-07 09:02] AcckiyGerman commented on #62
Ok, the 168 mb file was processed successfully.
It took two days :sob: but generally it is working.
We have another issue about the processing speed https://github.com/datahq/datahub-qa/issues/71
and issue about showing Progress Bar is postponed https://github.com/datahq/datahub-qa/issues/85, so

FIXED: User could push big dataset and it is processed.

[2018-02-07 09:44] anuveyatsu commented on #66
This is now INVALID as if you try to reproduce, it wouldn't fail as before.
In general, if users want to have double quotes `"` in the values, e.g., when a value is a hash `{"a":1}` then it should be enclosed in single quotes.

[2018-02-07 10:07] AcckiyGerman commented on #66
[code]

`data-cli` is up to date with github master branch, `npm i` is also done.

[2018-02-07 10:08] AcckiyGerman commented on #66
@anuveyatsu ^^^

[2018-02-07 10:10] anuveyatsu commented on #66
@AcckiyGerman have you pulled latest "test-data"?

[2018-02-07 10:16] anuveyatsu commented on #66
Just realised that double quotes in values should be used with escape character (and escape character by default should be also double quotes) so, e.g.:

[code]
should become:
[code]

[2018-02-07 10:48] AcckiyGerman commented on #66
that all becomes complicated, I suggest you to make a list of rules like
- escape this and this with quotes
- escape doublequotes in this way
- etc

[2018-02-07 10:50] AcckiyGerman commented on #66
coz otherwise It could become very compex - did you ever seen the json file encoded in the url string ?  :smile:

[2018-02-07 10:51] AcckiyGerman commented on #66
or probably you can use `json.dumps()` for that

[2018-02-07 10:56] anuveyatsu commented on #66
@AcckiyGerman I think it's a common situation when you have double quotes in values. By default, `"` is used as the escape character, e.g., in this library http://csv.adaltas.com/parse/#parser-options (we're currently using it) and also if you try to export data from Excel or Google Spreadsheets as CSV you would get the same result. Considering these points, I think we should have `"` as default e

[2018-02-07 11:08] zelima commented on #66
Agree. You can escape `\"` or set different escape character and push that way.

[2018-02-07 13:35] zelima commented on #79
@AcckiyGerman why do we keep this open?  https://github.com/datahq/pm/issues/117 is not related to big files, but redis generally failing from time to times. Please close this one and keep https://github.com/datahq/pm/issues/117 in pm as is

[2018-02-07 13:55] AcckiyGerman opened #86 "Dataset structure is not elegant"
As a datahub user I want my data to be not only Valid, but also handy, comfy and usable, so I feel comfortable, using it.
And here are some things I would like to improve:

## folders structure

After `data get http://datahub.io/core/finance-vix` I've got such file-structure:
![image](https://user-images.githubusercontent.com/11707682/35918622-1e33e184-0c1b-11e8-8f6d-533b88f7627b.png)
It is weird.

[2018-02-07 14:05] AcckiyGerman opened #87 "Readable datapackage.json"
**Now any dataset's  `datapackage.json` on the datahub.io is printed in one line:**
![image](https://user-images.githubusercontent.com/11707682/35920293-2f72e382-0c20-11e8-81f4-1543b5f69e3e.png)
**Same is in the zipped version**

## How to reproduce

open this link https://datahub.io/core/finance-vix/datapackage.json

## Expected behavior

Customer wants to see something like https://github.com/da

[2018-02-07 14:08] zelima commented on #86
@AcckiyGerman I think we should just grab zip resource, where data is placed in a nice way:
[code]

Side: I doubt `major` is correct severity for this issue

[2018-02-07 14:21] AcckiyGerman commented on #86
It is definitely polishing issue and Rufus likes polishing things.
And Steve Jobs is rolling in the grave now, when we thinking it is not so important :smile:

Anyway it is easy to fix and it's good.

[2018-02-07 14:24] AcckiyGerman commented on #79
FIXED:
Big files are processed after `data push`.
It is still very slow, but we have an issue about that.

[2018-02-07 14:24] #79 closed

[2018-02-07 14:42] AcckiyGerman opened #88 "pushing excel data by the sheet name"
Now we can push sheets like here:
* `run data push myexcel.xlsx --sheets=1,2`
* `run data push myexcel.xlsx --sheets=all`

It would be nice to do run
`data push myexcel.xlsx --sheets=mysheet_name`

## Expected behavior

* [x] User could push one sheet from the excel file by its name
* [x] (optional) user could push several sheets at once by providing their names
    - [x]  `--sheets=first,prices`

[2018-02-07 15:53] lwm opened #89 "META: Clarify which part of the system the issue relates to"
There are [many repositories](https://github.com/datahq?utf8=%E2%9C%93&q=&type=&language=) for this project. Very UNIX! However, when coming in and seeing which issues I might want to hack on, I'm not quite sure which is relevant for which part of the project! If I'm just looking for a Python project, where do I get the issues here?

Also worth noting, I am not sure of the relationship between iss

[2018-02-07 15:57] Mikanebu commented on #89
@lwm Thanks for asking this. `datahub-qa` repo is for all types of issues. Then it will be discussed, analysed, and assigned to someone, and will go to the appropriate repo.

[2018-02-07 15:59] anuveyatsu commented on #89
@Mikanebu while this is true, I think having a label that indicates which repo the issue relates to is useful

[2018-02-07 16:24] lwm opened #90 "META: Gitter and Github talk. Gitter shows activity. People get motivated."
Over at https://gitter.im/giving-a-fuck-about-climate-change/Lobby, we have the integration setup to show when activity is happening on the Github repositories. This is cool and gets people motivated to contribute! It would be cool to also have this (and is just a few clicks for a channel admin).

## How to reproduce
Go to the Gitter chat and see no activity :)

## Expected behavior
Go to the Gitt

[2018-02-07 16:28] lwm commented on #89
Thanks! I see that, for example, some way of marking the issue is being used in https://github.com/datahq/datahub-qa/issues/79 but in https://github.com/datahq/datahub-qa/issues/81 it is just a regular bug report with no marking. This isn't clear to someone outside of the organisation or scanning for issues to contribute on. I think a label would better suit this.

[2018-02-08 05:07] AcckiyGerman commented on #50
TESTED:
If an empty sheet is pointed by user, the program will reply with > Error! You cannot push an empty sheet. Please, add some data and try again.
FIXED.

[2018-02-08 05:07] #50 closed

[2018-02-08 05:17] zelima commented on #50
@AcckiyGerman this is not about pushing empty sheet but pushing non-existing sheet. Eg I have excel file with 2 sheets and trying to push 4th sheet `data push my.xlsx --sheets=4` - Are you sure it's fixed?

[2018-02-08 05:20] AcckiyGerman commented on #50
@zelima yes, I tested with
`--sheets=5000`
`--sheets=all`
`--sheets=1,2`
`--sheets=2,3`
`--sheets=all`
etc
with an empty xlsx file and xlsx file with three sheets, where  1,3 has data, 2 is empty

[2018-02-08 05:42] AcckiyGerman commented on #49
TESTED:
Python: OK
Pandas: OK
nodejs: FAIL
[code]

R: FAIL
[code]
Ruby: Works but not with all the datasets.

[2018-02-08 05:54] zelima commented on #86
Not saying that it is not important. Just suggesting the easiest way to go

[2018-02-08 06:13] AcckiyGerman commented on #66
TESTED: FAILED
`data push all-schema-types.csv` cause:
* data is successfully pushed
* data is successfully processed
* then the dataset page **FAILs** https://datahub.io/AcckiyGerman/all-schema-types-strange-otter-46 https://testing.datahub.io/AcckiyGerman/all-schema-types-average-wasp-88 https://datahub.io/AcckiyGerman/all-schema-types-chatty-cat-17
**Something failed. Please, try again later.**

[2018-02-08 06:16] AcckiyGerman commented on #66
@anuveyatsu The push is OK, so we could close this issue, but create an issue about PUBLISH FAIL

[2018-02-08 06:24] anuveyatsu opened #91 "Automate npm/yarn installable"
It is crucial that installing data-cli via npm and yarn always works. But testing it manually for several versions of Nodejs + OS (at least Linux and MacOS) is time-consuming and error-prone. So we want to have this automated.

## How to reproduce

- try to test for NodeJS versions 7, 8 and 9 + use Linux and Macos

## Expected behaviour

- each time new release of data-cli is issued, auto test npm

[2018-02-08 07:04] #32 closed

[2018-02-08 07:05] AcckiyGerman commented on #32
FIXED: pagination is implemented on http://datahub.io/search

[2018-02-08 07:10] AcckiyGerman commented on #90
Cool idea!  Probably you are using some github extension, right ?

[2018-02-08 07:10] AcckiyGerman commented on #90
I'd like to implement this :smile:

[2018-02-08 08:35] lwm commented on #90
Cool! You just go to Room Settings -> Integrations. And then it can hook into your Github. Easy!

[2018-02-08 08:39] Mikanebu commented on #89
@lwm @anuveyatsu Yes, labelling issues to the appropriate repo is a good idea!

[2018-02-08 11:46] AcckiyGerman commented on #62
Again FAILing with `1030_columns.csv` :cry:

[2018-02-08 12:43] AcckiyGerman commented on #35
Test Failed: https://github.com/datahq/pm/issues/87#issuecomment-364100066

[2018-02-08 13:12] AcckiyGerman commented on #35
TESTED - FIXED:
Now delimeter sniffer works well well.
In case of existing datset you should have valid descriptor with proper `resources.dialect` section
In case of a new dataset you should do `data init` to create a valid descriptor.

[2018-02-08 13:12] #35 closed

[2018-02-08 13:24] AcckiyGerman opened #92 "Notification re new data-cli versions."
As a User I want to know when new version of `data-cli` is released, so I will always use the latest features

## Expected behavior

* When I run the `data-cli` it checks for a new versions and give me a suggestion about how to update
* I could update with `sudo data --upgrade`

[2018-02-08 13:40] AcckiyGerman commented on #62
FIXED in v 0.7.3
TESTED
* 1030_colums - OK
* 80mb.csv - OK

[2018-02-08 13:40] #62 closed

[2018-02-08 17:00] lwm opened #93 "Web API access for data packages"
As [raised on the Gitter chat](https://gitter.im/datahubio/chat?at=5a7855cee217167e2c449caf), it would be cool if each data package was exposed as an API endpoint. This would complement the CSV access and better help front-end devs perhaps. Open to thoughts.

Some ideas:
  * datahub.io/core/api/cofog/ -> api.datahub.io/core/cofog/
    * In the first iteration, we would like to see: HTTP GET (retri

[2018-02-08 17:05] AcckiyGerman commented on #93
@zelima I know we already using some API for data-cli tool
Can we use extend it somehow to match this issue?

[2018-02-09 05:45] zelima commented on #93
@AcckiyGerman @lwm not sure about web API in near future, but I would recommend using our "r" endpoints for getting resources in different formats (CSV and JSON for now).  Eg:
* Get CSV https://datahub.io/core/cofog/r/cofog.csv
* Get JSON https://datahub.io/core/cofog/r/cofog.json

Exposing POST API is something that we have on our long-term roadmap, together with other cool features, but for now,

[2018-02-09 05:47] Mikanebu opened #94 "Showcase page has 5 identical graphs instead of 1"
Showcase page has an identical 5 views. Please see https://datahub.io/Mikanebu/push-speed-62-1mb

## How to reproduce

- create a simple view with the following properties
[code]
- publish it and check showcase page for graphs

## Expected behaviour

* only one graph appears on showcase page

[2018-02-09 06:45] anuveyatsu opened #95 "Cannot update data-cli (binary)"
At the moment, if I'm using data-cli tool using executable binary, I cannot update it to a newer version. This is only possible with data-desktop right now.

## How to reproduce

- Download and install data-cli from https://datahub.io/download page
- Try to update it... so you don't know how (unless you download again and replace that binary)

## Expected behaviour

- I can run single command, e.g

[2018-02-09 06:50] Mikanebu opened #96 "Description for `core` user is missing"
If you open publisher page for `core` user, there is no more description of the user

## How to reproduce

- Go to the following page https://datahub.io/core
- Check for username and description

## Expected behaviour

description: "Core datasets, maintained by the DataHub team"

[2018-02-09 06:52] anuveyatsu opened #97 "Notify users about new versions of the data CLI tool"
User story: as a Publisher I want to get notified about cli tool updates so I always use bug-free and improved software.

I cannot know if a newer version of the data-cli tool was released unless I visit the website or go to releases page (or read gitter channels for updates).

## How to reproduce

- install old version of the cli tool
- run any command and get no notification about newer versions

[2018-02-09 06:52] AcckiyGerman commented on #93
Oh, didn't know that we have this endpoints.
We can use it as an API to get the data files, but I would like to extend this endpoint a bit:
* `https://datahub.io/core/cofog/r/` path should return a list of resources, so machines could now what to bet

@lwm @zelima WDYT ?

[2018-02-09 06:53] Mikanebu commented on #43
data get does not work for any other users except core
tried to run data get http://datahub.io/Mikanebu/push-speed-62-1mb

invalid json response body at http://pkgstore.datahub.io/Mikanebu/push-speed-62-1mb/latest/datapackage.json reason: Unexpected token < in JSON at position 0
The reason: if you take a look on pkg url, it uses username, but it should use userid

The solution: We need to call res

[2018-02-09 07:03] anuveyatsu opened #98 "Not processing "yearmonth" and "geopoint" types"
Showcase page is failing when there is "yearmonth" and "geopoint" data types in my dataset - http://api.datahub.io/source/90998f7f90e086bd5fc7c9075dfda43b/all-schema-types/latest

[code]

## How to reproduce

- push the following data https://github.com/frictionlessdata/test-data/blob/master/files/csv/all-schema-types.csv
- see a failed showcase page

## Expected behaviour

- processing succeeds

[2018-02-09 07:07] zelima commented on #93
@AcckiyGerman list of resources and other useful metadata about dataset is available inside datapackage.json Eg: https://datahub.io/core/cofog/datapackage.json

[2018-02-09 07:08] anuveyatsu opened #99 "Validate command doesn't work with remote datasets"
If I try to validate a remote dataset, I would get following error:

[code]

## How to reproduce

- run `data validate https://raw.githubusercontent.com/frictionlessdata/test-data/master/packages/basic-csv/datapackage.json`
- get error message

## Expected behavior

- I can do validation of remote datasets

[2018-02-09 07:13] anuveyatsu opened #100 "Validate command fails for dataset that contains different delimiters"
Validate command fails if I run it on valid dataset that contains different delimiters - https://github.com/frictionlessdata/test-data/tree/master/packages/different-separators

## How to reproduce

- download https://github.com/frictionlessdata/test-data/tree/master/packages/different-separators to local disk
- run `data validate ./different-separators`
- see following error: `The column header n

[2018-02-09 07:18] anuveyatsu opened #101 "Validate command approves datasets with backwards paths"
If I run validate command on dataset, which contains resource with backwards paths, it would tell me it's valid. However, if I push that dataset, I would get an error - https://github.com/frictionlessdata/test-data/issues/1#issuecomment-361527126

## How to reproduce

- download https://github.com/frictionlessdata/test-data/tree/master/packages/invalid-backward-path to local disk
- run validate on

[2018-02-09 07:21] zelima opened #102 "[Push] pushing dataset with invalid data behaves unexpectedly"
I have a data that is irrespective of the schema,  Eg has extra or missing column init. While pushing the single CSV - `data push my.csv` will display a nice error message saying column is missing, pushing same CSV file when packacged (with datapackage,json) will not display any error message and will push to the server - showcase page for such case hangs when processing is done.

## How to reprod

[2018-02-09 07:22] anuveyatsu opened #103 "Validate command prints noisy warnings for date and time related data types"
If I run validate command on dataset with date, datetime or time data types, I would get following noisy warnings:

[code]

## How to reproduce

- download https://github.com/frictionlessdata/test-data/tree/master/packages/types-formats-and-constraints to local disk
- run validate on it
- get warnings

## Expected behaviour

- no warnings, just expected error messages or a valid message

[2018-02-09 07:28] anuveyatsu opened #104 "Cat command does not fail for non-existing URLs"
If I run cat command on URL that returns 404, it would print table with that response:

<img width="559" alt="screen shot 2018-02-09 at 13 27 43" src="https://user-images.githubusercontent.com/17809581/36016421-11bb2786-0d9d-11e8-9e6c-b9f9fb5e772b.png">

## How to reproduce

- run `data cat https://raw.githubusercontent.com/frictionlessdata/test-data/master/packages/basic-csv/comm.csv`
- see the t

[2018-02-09 07:31] anuveyatsu opened #105 "Cat command is not working with different encodings"
Cat command doesn't consider encodings and always tries to print as UTF-8:

<img width="250" alt="screen shot 2018-02-09 at 13 30 24" src="https://user-images.githubusercontent.com/17809581/36016493-69a6c4dc-0d9d-11e8-9a2b-9915ac0671fe.png">

## How to reproduce

- run `data cat https://raw.githubusercontent.com/frictionlessdata/test-data/master/files/csv/encodings/iso8859.csv`
- see some chars be

[2018-02-09 07:33] AcckiyGerman commented on #90
@zelima Let's integrate this.
I have no access to the https://gitter.im/datahubio/chat settings, could you enable that setting?

[2018-02-09 07:38] anuveyatsu opened #106 "Info command does not work for datasets on datahub and github"
Running info command on remote datasets from datahub and github would fail with `> Error! File is not in known tabular format.` message.

## How to reproduce

- run `data info https://datahub.io/core/co2-ppm` or `https://github.com/datasets/co2-ppm`
- receive `> Error! File is not in known tabular format.`

## Expected behaviour

- normal info command's response

[2018-02-09 07:40] anuveyatsu opened #107 "Info command doesn't work for non-tabular files"
Running info command for non-tabular files would throw follow error message: `File is not in known tabular format.`

## How to reproduce

- download https://github.com/frictionlessdata/test-data/blob/master/files/other/sample.pdf to the disk
- run `data info <path>`
- see error message

## Expected behaviour

- should print descriptor for file - very basic as for non-tabular, e.g., with name, form

[2018-02-09 08:17] anuveyatsu commented on #92
DUPLICATE of #97

[2018-02-09 08:17] #92 closed

[2018-02-09 08:51] AcckiyGerman opened #108 "Issues day-to-day counter"
As a team we want to see how's going the epic fight :crossed_swords:  with the Issues horde :japanese_ogre: , so we could feel like real heroes! :v:

## Expected behavior

I would like to see:

* how many issues do we have today
     - Issues are split by the severity
* how many was closed during last 24h
* update this info every day
* build the fancy graphic

## Tasks

* [x] study the github API

[2018-02-09 08:54] anuveyatsu commented on #97
This will be fixed in https://github.com/datahq/data-cli/issues/198

[2018-02-09 08:58] anuveyatsu commented on #95
This will be fixed in https://github.com/datahq/data-cli/issues/269

[2018-02-09 09:28] anuveyatsu commented on #95
WONTFIX for details see https://github.com/datahq/data-cli/issues/269#issuecomment-364380984

[2018-02-09 09:28] #95 closed

[2018-02-10 21:12] AcckiyGerman commented on #108
@zelima dataset is ready: https://github.com/datasets/datahub-qa/
There are updating script.
Could you make an Travis task to update the data daily and push it on the datahub?
Later I will add the view.

[2018-02-11 19:10] rufuspollock opened #109 "Graphs are repeated in showcase page - Feb 2018"
Visit datasets e.g.:

https://datahub.io/core/finance-vix

http://datahub.io/core/house-prices-us

You'll see the same graph repeated 7 times.

This is not in the source: https://github.com/datasets/house-prices-us/blob/master/datapackage.json

[2018-02-12 05:10] zelima commented on #109
DUPLICATE of #94

[2018-02-12 05:10] #109 closed

[2018-02-12 06:56] AcckiyGerman commented on #49
FIXED
* Python & Pandas has been tested before.
* R instructions is working.
* NodeJS instructions has been fixed here: https://github.com/datahq/frontend/pull/204
* Ruby instructions has been moved from the page.
@Mikanebu please update the data import blogpost

[2018-02-12 06:56] #49 closed

[2018-02-12 07:03] AcckiyGerman commented on #108
This dataset will only count issues with labels (Critical, Major, Minor, Trivial, New Feature) on the current date and add one line in the result table:
[code]
If people replace the severity label, next day script will count  - 1 for previous label and + 1 for current.

Script is not tracking closed issues at all (closed issues counter will just constantly grow - I don't see how it could be useful

[2018-02-12 07:42] zelima commented on #108
@AcckiyGerman

* Exactly and Is this what we want? - and closed issues would help here
* Also what if we open an issue and it's closed on the same day

Generally, I have a feeling that this lacks analysis. I would start with some more detailed user stories

[2018-02-12 08:13] anuveyatsu commented on #59
@AcckiyGerman shouldn't this be closed now?

[2018-02-12 08:32] anuveyatsu commented on #99
This is now fixed in https://github.com/datahq/datahub-client/pull/16 and https://github.com/datahq/data-cli/commit/2396f4fa13f1e89587e7168fcc4c3e2b7abcb60b

The fix will be available with the next release of the CLI tool.

[2018-02-12 08:34] anuveyatsu commented on #100
This is now fixed in https://github.com/datahq/datahub-client/pull/16 and https://github.com/datahq/data-cli/commit/2396f4fa13f1e89587e7168fcc4c3e2b7abcb60b

Exact part for this fix: https://github.com/datahq/datahub-client/blob/master/lib/validate.js#L26-L32

The fix will be available with the next release of the CLI tool.

[2018-02-12 08:44] AcckiyGerman commented on #108
@zelima analysis is updated.
Also, I have a feeling that I spent too much time on this task. Actually I like it, but we have priority to close other tasks, and do tests and @akariv asked us not to spend many efforts on this one.

Task is 95% ready, so I propose finish it in the way I started and then extend/rewrite the script if we are not satisfied with the result.

[2018-02-12 08:57] zelima commented on #108
@AcckiyGerman Agree

[2018-02-12 09:25] zelima commented on #94
Should be fixed as soon as datasets are re pushed

[2018-02-12 09:43] anuveyatsu commented on #97
This PR https://github.com/datahq/data-cli/pull/271 will fix this issue and it will be available with the next release of the CLI tool.

[2018-02-12 09:54] Mikanebu opened #110 "Since we have a cli for windows users, we need to add a proper instructions"
We need to add instructions for `windows` cli users on [installing data page](http://datahub.io/docs/getting-started/installing-data)

## How to reproduce

- go to [installing data](http://datahub.io/docs/getting-started/installing-data)

## Expected behavior

We have a section for windows users on  [installing data](http://datahub.io/docs/getting-started/installing-data) page

[2018-02-12 10:31] AcckiyGerman commented on #108
https://datahub.io/AcckiyGerman/datahub-qa-issues-tracker

Dataset is ready and have fancy views.

Now it needs to be executed daily....

[2018-02-12 10:34] AcckiyGerman commented on #59
@anuveyatsu , yes, I forgot about it.

Testd & FIXED
Now delimeter sniffer works well well.
In case of existing datset you should have valid descriptor with proper resources.dialect section
In case of a new dataset you should do data init to create a valid descriptor.

related https://github.com/datahq/datahub-qa/issues/35 is closed

[2018-02-12 10:34] #59 closed

[2018-02-12 12:25] zelima commented on #66
@AcckiyGerman Just a tip: posting links to the Failed revisions do not really help as we can not see unless logged in. Could we switch posting screenshots instead in cases like this.

[2018-02-12 12:39] AcckiyGerman commented on #66
@zelima sure. I don't know why I was sure that you can read related logs from the backend.  But even if so, it will be easier to read logs in the message than lurking on the backend

[2018-02-12 12:56] AcckiyGerman commented on #43
Just tested with latest versions of `data-cli`, `data.js`, `datahub-client`
Test Failed:
[code]
How should I test it?

@Mikanebu  Please provide some description, when moving to 'Review', like: **Fixed in this PR, to test changes, do that and that (e.g. fetch this branch)**
Otherwise I can't test it properly, coz I don't see any PR in this issue, and don't know where is the fix.

[2018-02-12 13:03] AcckiyGerman commented on #41
@Mikanebu did we republished core datasets already? May I test it now to close this issue?

[2018-02-12 13:05] AcckiyGerman commented on #54
@anuveyatsu
I know you created a Travis task to test  `sudo npm i -g data-cli`, how is it going on? Could we close this issue?

[2018-02-12 13:06] Mikanebu commented on #41
@AcckiyGerman I republished all core datasets on Friday(09.02.2018)

[2018-02-12 13:12] AcckiyGerman commented on #99
TESTED
[code]
Cool!

FIXED (see output in the previous comment)

[2018-02-12 13:15] zelima commented on #41
@Mikanebu please publish https://datahub.io/core/registry package as well

[2018-02-12 13:15] zelima commented on #54
Please paste link to Travis here

[2018-02-12 13:16] AcckiyGerman commented on #100
FIXED (see previous msg)

TESTED:
[code]

[2018-02-12 13:16] #100 closed

[2018-02-12 13:36] AcckiyGerman commented on #41
TESTED:
* gdp-uk
* country-codes
* currency-codes
* gold-prices
Metadata is on the place in the result datapackage.json

[2018-02-12 13:36] #41 closed

[2018-02-12 13:43] AcckiyGerman commented on #94
TESTED:
- finance-vix **OK**
- gold-prices **FAILED** http://datahub.io/core/gold-prices

Will test again tomorrow ...

[2018-02-12 14:23] AcckiyGerman commented on #63
fixed: https://github.com/datahq/data.js/pull/29 waiting for a review

[2018-02-12 14:37] AcckiyGerman commented on #22
We extended the error message and it now suggest to:
- create a new datapackage with `data init`
- read more help with `data help push`.

Related issue https://github.com/datahq/data.js/pull/29
Fix PR: https://github.com/datahq/data.js/pull/29

Closing this issue in an advance as DUPLICATED of https://github.com/datahq/data.js/pull/29
@pwalsh Thanks for appreciate reports ;-)

[2018-02-12 14:37] #22 closed

[2018-02-12 15:21] anuveyatsu commented on #102
This will be fixed in https://github.com/datahq/frontend/issues/206

[2018-02-12 18:44] Mikanebu commented on #106
@AcckiyGerman FIXED in https://github.com/datahq/data-cli/issues/272, also see commit https://github.com/datahq/data-cli/commit/34c35fe2f946e3e7d122c570dda1e3e40664865c, please, review and close it

[2018-02-12 18:46] Mikanebu commented on #43
@AcckiyGerman Good catch first of all! 👍 Since we are now using `revisionId` instead of `latest` for generating pat, I fixed `data.js` library, `parseDatasetIdentifier` function that generates the path. FIXED in PR https://github.com/datahq/data.js/pull/30. Please, test and close it

[2018-02-13 05:23] zelima commented on #102
@anuveyatsu I thought fix for this would be to not allow pushing the dataset (as we do not allow pushing single file)

[2018-02-13 05:36] anuveyatsu commented on #102
@zelima when you have your own `datapackage.json`, we don't validate data against schema prior to pushing - we validate only the descriptor itself. In case, when you push a single file, we try to infer a schema for it so it fails if CSV data is invalid (e.g., in this example inconsistent field numbers).

[2018-02-13 06:04] anuveyatsu commented on #110
FIXED, see https://datahub.io/docs/getting-started/installing-data

[2018-02-13 07:05] AcckiyGerman commented on #43
FAILED:
[code]
As you see, I tried both the github version and the latest binary, but `data get` is not working for non-core datasets :(

[2018-02-13 07:09] anuveyatsu commented on #43
@AcckiyGerman I suppose you're not using the latest changes from `data.js` library which should fix this.

[2018-02-13 07:32] zelima commented on #102
Ok think this is fine for now

[2018-02-13 07:34] AcckiyGerman commented on #46
FIXED
`sudo npm install -g data-cli` is now working.
`yarn add data-cli` works as well.

We still need to automate tests re this issue, but we have an QA tests spreadsheet to track that task.

[2018-02-13 07:34] #46 closed

[2018-02-13 07:36] AcckiyGerman commented on #43
TESTED & FIXED
* tested with my user dataset
* tested with JohnSnowLabs dataset

[2018-02-13 07:39] AcckiyGerman commented on #106
TESTED & FIXED
`data info <remote dataset>` is now showing the dataset info.

[2018-02-13 07:39] #106 closed

[2018-02-13 07:51] AcckiyGerman commented on #46
@anuveyatsu I cannot reproduce this error with `/usr/local/bin/xdg-open` on my ubuntu 16.04.3
[code]

#### question
Why do we copy `$ cp /usr/bin/xdg-open /usr/local/bin/xdg-open`
I guess the `/usr/bin` and `/usr/local/bin` is both in the `$PATH` ?

[2018-02-13 07:59] Mikanebu commented on #41
@zelima https://datahub.io/core/registry

[2018-02-13 08:20] zelima commented on #43
@AcckiyGerman tip: URLs would be more useful, instead of saying tested on X dataset

[2018-02-13 08:42] AcckiyGerman commented on #63
fix moved from `data.js` to `data-cli` to keep the `data.js` clean for using in non-datahub context.
Waiting for a review...

[2018-02-13 08:55] AcckiyGerman commented on #63
FIXED: https://github.com/datahq/data-cli/pull/275
[code]

[2018-02-13 08:55] #63 closed

[2018-02-13 09:04] AcckiyGerman commented on #102
TESTED & FIXED
Got proper error on frontend when pushed datapackage with errors.

[2018-02-13 09:04] #102 closed

[2018-02-13 09:12] anuveyatsu commented on #46
@AcckiyGerman to reproduce it you need to install using the executable binary file. This issue is described here https://github.com/zeit/pkg/issues/207

I think you're right about `$PATH` but I never experienced that issue so difficult to say.

[2018-02-13 09:18] AcckiyGerman commented on #46
So, I'm leaving this issue closed, assuming that
- we reported a bug to the package owners
- fix is done, but not yet in stable, which is not under our control
- you update the `data-cli` dependencies each time when releasing, so we'll got the fix, once guys there will merge it into stable

[2018-02-13 09:24] AcckiyGerman commented on #94
TESTED:
* pushing a new dataset with a view
* existing datasets
   - finance-vix
   - gold-prices

Bug is FIXED.

[2018-02-13 09:24] #94 closed

[2018-02-13 10:03] anuveyatsu commented on #103
This issue will be addressed here https://github.com/frictionlessdata/tableschema-js/issues/132

This is very minor item IMO so I leave it for now.

[2018-02-13 10:15] AcckiyGerman commented on #23
@zelima

Can we close this issue datahq/datahub-qa#23 as a fixed in datahq/data-cli#231 ?. And saying that we do hangle validation on data validate command. data push only validates datapackage.json against schema

[2018-02-13 10:52] zelima commented on #23
@AcckiyGerman I don't think I understand you.
Do you mean we do not validate data prior push?

[2018-02-13 10:56] AcckiyGerman commented on #23
@zelima please forget this question, we already discussed it, here is the log:

Dima German @AcckiyGerman 12:40
I tried to data push with invalid dp.json (deleted one comma)
[code]
so data push error is not obvious enough I think, data validate error is cool )

Meiran Zhiyenbayev @Mikanebu 12:39
You see, data validate handles it, but data push not
data push handles metadata validation agains specs

[2018-02-13 11:10] anuveyatsu opened #111 "Repeating dates in the x axis of the simple graphs"
When there are very few values for x axis, we have ticks with repeating values, which looks wrong.

## How to reproduce

- go to https://datahub.io/AcckiyGerman/datahub-qa-issues-tracker and see the graph
- notice that x axis ticks have repeating dates, e.g., 11 Feb 2018 appears 4 times

## Expected behaviour

- no repeating values in for the x axis

[2018-02-13 11:13] AcckiyGerman commented on #23
I think this is a solution for this issue: https://github.com/datahq/data-cli/pull/277

[2018-02-13 11:21] #23 closed

[2018-02-13 17:45] anuveyatsu commented on #54
@AcckiyGerman @zelima the Travis is now running in the data-cli repo: https://travis-ci.org/datahq/data-cli

[2018-02-13 17:46] anuveyatsu commented on #91
FIXED now, see travis builds here https://travis-ci.org/datahq/data-cli
The issue was fixed in https://github.com/datahq/data-cli/issues/274

[2018-02-13 17:47] anuveyatsu commented on #97
FIXED and working since v0.7.4 of the data-cli

[2018-02-13 17:52] Mikanebu commented on #96
@AcckiyGerman FIXED, new image for auth `datahub-auth` is updated by @zelima. Please, review and close

[2018-02-14 00:36] rufuspollock commented on #94
@zelima @AcckiyGerman  please could briefly explain what the source of this bug was.

[2018-02-14 05:30] zelima commented on #94
@rufuspollock it's explained here in details https://github.com/datahq/assembler/issues/82 + pasting here as well

The reason behind this was the latest change in getting the dp.json for original data. Since we wanted to include datapackage.json with original metadata (description, licence etc...) in ZIP resource, we decided to load original dp.json instead of creating it from the scratch see http

[2018-02-14 05:36] zelima commented on #96
Reason: recently we switched to use a new image for auth called datahub-auth. This one is not linked to any Github repo and was last updated 21 days ago. Also, `datahub-auth` itself was using `datopian/auth:external-providers` instead of latest.

So now `datahub-auth` is linked to `datahq/plans` and using latest image from `auth` `datopian/auth:latest`

[2018-02-14 06:44] AcckiyGerman commented on #54
FIXED:
Install npm/yarn tests runs in the Travis for every push.

[2018-02-14 06:44] #54 closed

[2018-02-14 06:48] #91 closed

[2018-02-14 07:19] AcckiyGerman opened #112 "[push] "link to clipboard" is not working in Windows7 x64 terminal"
Windows version of data-cli can't paste the link into the clipboard from the standard windows terminal.
And it is not comfortable to copy given link from the terminal window (need to do few steps for that: RMB, check 'mark' in menu, mark text with LMB, press 'Enter')

## How to reproduce

[code]
## Expected behavior

- I have a link to the dataset in my clipboard
OR
- browser opens a processing pa

[2018-02-14 07:22] AcckiyGerman commented on #110
FIXED - we have instruction for win users now.

P.S. Never used `gzip` in windows, though it can be unzipped by RAR or ZIP programs as well :)

[2018-02-14 07:22] #110 closed

[2018-02-14 07:24] AcckiyGerman commented on #97
Issue will be closed, when I will see the notification of v0.7.5 :)

[2018-02-14 07:26] AcckiyGerman commented on #96
TESTED
[code]
FIXED

[2018-02-14 07:26] #96 closed

[2018-02-14 07:46] anuveyatsu commented on #97
@AcckiyGerman you should see notification of v.0.7.6 if you're using the older version. Make sure you're not using the cli tool with `npm link` because in this case you likely using the v0.7.6 already

[2018-02-14 07:52] anuveyatsu commented on #97
@AcckiyGerman oh, I see it is not showing up a notification when running the CLI tool as binary executable.. will investigate

[2018-02-14 07:53] anuveyatsu commented on #110
@AcckiyGerman yes probably, but none of them are preinstalled on Windows as I know.

[2018-02-14 07:58] AcckiyGerman commented on #97
hmmm, I just checked twice and it works with my `v.0.7.4` binary. I could see the notification and the instruction how to update...

@anuveyatsu The only thing is - when copying instructions from the terminal - I have `|` pipes in my clipboard:
[code]
Let's remove the `|` pipes decoration `|` from around the code, so user could just copy-paste

[2018-02-14 08:01] anuveyatsu commented on #97
@AcckiyGerman that's strange, there shouldn't be any pipes. By the way, I probably not getting a notification as it caches the result of update check - it checks only every 1h. I will check if I have any pipes in a bit.

[2018-02-14 08:06] anuveyatsu commented on #111
@AcckiyGerman  this is fixed in https://github.com/datahq/frontend/issues/207
Please, see https://datahub.io/AcckiyGerman/datahub-qa-issues-tracker to verify - you need to make sure that your browser is not caching the old script (open in the incognito mode).

[2018-02-14 08:08] AcckiyGerman commented on #111
Yes it looks good now.
FIXED:
- dates are not repeating in the simple graphs, e.g. https://datahub.io/AcckiyGerman/datahub-qa-issues-tracker

[2018-02-14 08:08] #111 closed

[2018-02-14 08:41] AcckiyGerman commented on #60
Related data-cli issue: https://github.com/datahq/data-cli/issues/257

[2018-02-14 09:53] anuveyatsu commented on #20
FIXED in https://github.com/datahq/data-cli/issues/280

[2018-02-14 10:01] anuveyatsu commented on #58
This has been already fixed in https://github.com/datahq/datahub-client/commit/626057938ea5d738705c4aaf4381fa5bd90ce52a

@AcckiyGerman please, verify and close this issue.

[2018-02-14 10:04] zelima commented on #66
@AcckiyGerman Although you won't be able to push this exact file due to #98, this one will be fixed in `data 0.7.7`.

I created Gist and removed `yearmonth` and `geopoint` types from there, leaving double quote's column as is. You can try
[code]

[2018-02-14 10:08] AcckiyGerman commented on #58
@anuveyatsu your fix will stop pushing process...
But here we want to push an empty file: [Cannot push empty files or zero byte files](https://github.com/datahq/data-cli/issues/257)

[2018-02-14 10:12] zelima commented on #58
@AcckiyGerman Why do you think we want to push empty files? - Expected behavior section says:

[2018-02-14 10:36] AcckiyGerman commented on #58
Here https://github.com/datahq/datahub-qa/issues/60 the expected behavior section says:

@zelima @anuveyatsu so we should resolve this behavior conflict )))

[2018-02-14 10:39] anuveyatsu commented on #58
@AcckiyGerman I think correct behaviour is to not allow to push empty files - what's the point of it?

[2018-02-14 10:43] AcckiyGerman commented on #58
@anuveyatsu
- I agree
- I'm pointing that there is an issue where we want to push empty files.
- I don't know reason for that, too. May be @zelima knows, as an author of https://github.com/datahq/datahub-qa/issues/60

[2018-02-14 10:45] zelima commented on #58
Agree, @AcckiyGerman As QA master I would follow acceptance criteria for QA issues rather than other issues. Even if the other fix is better. (Think this one's ready to be closes, will update description of #60)

[2018-02-14 11:17] AcckiyGerman commented on #58
ok, closing this and will discuss the question in the chat.

FIXED:
Trying to push an Empty xls file will interrupt pushing and show a warning msg.

[2018-02-14 11:17] #58 closed

[2018-02-14 11:26] Mikanebu commented on #104
@AcckiyGerman it is FIXED in this commit https://github.com/datahq/data.js/commit/6124502182c54a226c647ce6c940c1b5453ed7bf. Please, review and close it

[2018-02-14 11:33] Mikanebu commented on #56
@AcckiyGerman This is FIXED in this PR https://github.com/datahq/data-cli/pull/278. Now we can use data get for files in GitHub. Please, review and close it

[2018-02-14 11:43] AcckiyGerman commented on #104
[code]
Is that correct behavior to return the HTML error from the page? As we see in the log - it is not always obvious.
May it we just say `> Error! file not found, check the URL|PATH` if the HTTP response is not 200?
@anuveyatsu @Mikanebu  ^^^

[2018-02-14 13:13] zelima commented on #11
@Mikanebu @AcckiyGerman Is this still an issue?
* Original looks good http://datahub.io/core/geoip2-ipv4
* Just pushed and looks good https://datahub.io/zelima/geoip2-ipv4

Here is the URL to original dataset https://github.com/datasets/geoip2

[2018-02-14 13:16] AcckiyGerman commented on #60
https://github.com/datahq/datahub-client/pull/18 (non-tabular zero files error added)

[2018-02-14 19:15] Mikanebu commented on #11
@zelima it is not an issue anymore

[2018-02-15 06:22] #97 closed

[2018-02-15 06:57] AcckiyGerman commented on #99
Does not work with datahub.io :(
[code]

[2018-02-15 07:10] Mikanebu opened #113 "X axis on Graphs is not displayed properly"
If you take a look on graphs on showcase page, you can see that X axis is not displayed properly. Please, take a look on these samples:

https://datahub.io/Mikanebu/push-speed-65-5kb
https://datahub.io/Mikanebu/simple-views

## How to reproduce

- publish any dataset with `views` propery
- check graphs

## Expected behavior

* Graphs are displayed fine

[2018-02-15 07:13] anuveyatsu opened #114 "Total datasets number on dashboard page not correct"
The number of datasets should increase when a new dataset is pushed, however, if it fails then it is not counted.

## How to reproduce

- push some invalid data
- wait until it fails
- see no difference on datasets number on the dashboard page

## Expected behaviour

- total number of datasets increased even if a newly pushed dataset fails

[2018-02-15 07:19] anuveyatsu commented on #104
@AcckiyGerman it is not HTML error but HTTP response message. In your suggested message it always assumes it is the file. I think giving response message when we receive non 200 status code is sufficient.

[2018-02-15 07:22] AcckiyGerman commented on #104
@anuveyatsu What about non-existing domain and non-existing path on existing domain?
[code]

[2018-02-15 07:23] AcckiyGerman commented on #104
We should have some general message for all this cases, like `file not found` or `path is invalid`

[2018-02-15 07:25] anuveyatsu commented on #104
@AcckiyGerman ok, we can have `Provided URL is invalid: http message`

[2018-02-15 07:26] zelima opened #115 "Instructions for R is failing on Linux"
if you go on and simply copy paste the instructions for R into the file and execute it will fail with following:

[code]

## How to reproduce

- copy instructions into test,r
- execute: `R CMD BATCH test.r`
- check output `cat test.r.Rout`

This might help https://www.r-bloggers.com/installing-r-packages/

## Expected behavior

* Says on Linux you may need to define directory to store package
  *

[2018-02-15 07:29] AcckiyGerman opened #116 "[data cat] does not work with TSV files"
`data cat` does not work with TSV files

## How to reproduce

[code]

## Expected behavior

'cat' command will show the table from tsv file.

[2018-02-15 07:30] AcckiyGerman commented on #104
Yes, that would be great for users!

[2018-02-15 07:38] zelima opened #117 "Pushing excel file with "--all" flag results to duplicated resources"
If you try and push excel file with  >2 resources, it will not fail, get processed but will be represented all resources will be same: Eg https://datahub.io/zelima/sheet-two

## How to reproduce

* `data push files/excel/sample-2-sheets.xlsx --sheets=all`
* or `data push files/excel/sample-2-sheets.xls --sheets=all`
* visit the link displayed in CLI

## Expected behavior

Have different resources

[2018-02-15 07:49] AcckiyGerman opened #118 "[validate] is not working for datasets on datahub.io"
[validate] is not working for datasets on datahub.io

As a data scientist I want to push my data and then check if it is processed well, without leaving the terminal or shell script, so I could automate my work.

## How to reproduce

[code]
## Expected behavior

[code]

* [x] works with DATAHUB
* [x] works with GITHUB
    - probably user should specify full path to `datapackage.json` on the github

[2018-02-15 07:49] #99 closed

[2018-02-15 07:50] AcckiyGerman commented on #99
New issue re `data validate http://datahub.io/.../` : https://github.com/datahq/datahub-qa/issues/118

[2018-02-15 07:55] zelima opened #119 "Publishing excel files fails validation"
Tried to push simple excel file, got the validation error on showcase page

![image](https://user-images.githubusercontent.com/15143785/36245981-07efa372-1247-11e8-8716-2d95a8a5d3bd.png)

## How to reproduce

- data push files/excel/sample-1-sheet.xlsx
- data push files/excel/sample-1-sheet.xls
- take a look at the showcase page

## Expected behaviour

Publishes without any errors
...

[2018-02-15 08:10] AcckiyGerman opened #120 "[data cat] conversion is not working"
I want to save the `data cat` output to different formats, but it doen't work

## How to reproduce
[code]

## Expected behavior

I want to be able to convent `csv` into:
* [x] csv => ascii table
* [x] csv => excel(.xlsx)
* [x] csv => markdown(.md)

Test sample - https://raw.githubusercontent.com/frictionlessdata/test-data/master/packages/basic-csv/comma.csv

---
I want to be able to convent `xls`

[2018-02-15 09:02] AcckiyGerman commented on #56
TESTED: works on github
[code]

TEST FAIL on datahub
[code]
@zelima should I create an separate issue, or just update this one to support the datahub?

[2018-02-15 09:03] zelima commented on #56
@AcckiyGerman yes, since the issue is named  "Able to get files from github"

[2018-02-15 09:12] #56 closed

[2018-02-15 09:17] AcckiyGerman commented on #20
TESTED & FIXED
Now we have the additional message
[code]

[2018-02-15 09:17] #20 closed

[2018-02-15 09:23] AcckiyGerman commented on #66
TESTED & FIXED
- pushing values with double quotes is OK
- Processing is FAIL, but we have an issue about that: https://github.com/datahq/datahub-qa/issues/98

[2018-02-15 09:23] #66 closed

[2018-02-15 09:33] AcckiyGerman commented on #82
I still see the same message.
![image](https://user-images.githubusercontent.com/11707682/36249625-f5da6e5e-1243-11e8-88ee-87753add160a.png)

[2018-02-15 09:38] AcckiyGerman commented on #11
FIXED
- geoip dataset is processing OK after `data push`

[2018-02-15 09:38] #11 closed

[2018-02-15 10:13] anuveyatsu commented on #120
@AcckiyGerman what exactly not working here - everything in the Expected Behaviour sections works for me.

Re `csv => txt` we haven't added `txt` format support in the `cat`

[2018-02-15 10:35] AcckiyGerman commented on #120
I cannot convent Neither `xls` nor `xlsx` into => `csv` or `md`
[code]
[code]
[code]

[2018-02-15 10:46] anuveyatsu opened #121 ""string" type with "uri" format not recognized in the showcase"
If I push a dataset with field that has "string" type and "uri" format, the processing would fail with the following message:

[code]

which indicates that backend is not considering IP addresses as URI.

## How to reproduce

- push sample data https://github.com/frictionlessdata/test-data/blob/master/files/csv/100kb.csv
- wait until processing finishes and see errors on the failed showcase page

[2018-02-15 10:52] anuveyatsu opened #122 "Wrong schema inferred for dates that have `%m/%d/%Y` format"
When pushing data files that have date field with `%m/%d/%Y` format, data-cli generates schema incorrectly - it puts misplaces day and month.

## How to reproduce

- push this sample data https://github.com/frictionlessdata/test-data/blob/master/files/csv/100kb.csv
- wait until processing step finishes and see the validation report

## Expected behaviour

- data-cli generates a correct schema for

[2018-02-15 11:52] anuveyatsu commented on #119
@zelima it seems like the problem is in difference between JS and Python when "string" to "number" coercion happens. You can see that on the showcase page error says:

[code]

however, the value is `1` but it is being converted into `1.0`. Can you please take a look how it works in the backend?

[2018-02-15 12:36] anuveyatsu commented on #117
@zelima this issue looks invalid to me. When you push Excel file with 2 sheets and want all sheets to be processed, you'd get 3 resources: sheet1, sheet2 and the excel itself.

Looking at your example dataset, I see there are 2 CSV/JSON, 1 ZIP and 1 Excel downloadables. It seems correct to me. Can you clarify what did you mean?

[2018-02-15 12:38] zelima commented on #117
@anuveyatsu correct! my bad - thought they were Identical. Now I see first one contains `a,b,c,d,e,f` and the other `h,i,j,k,l,m`

[2018-02-15 12:38] zelima commented on #117
INVALID

[2018-02-15 12:38] #117 closed

[2018-02-15 12:53] anuveyatsu commented on #113
@Mikanebu what sort of graph should be rendered here https://datahub.io/Mikanebu/push-speed-65-5kb ? Looking at "views" property, it filters data by country code (WLD) but the data doesn't have any entries with such country code.

[2018-02-15 14:44] anuveyatsu commented on #113
Fixed now, please revisit the example datasets and make sure your browser isn't caching assets:

- https://datahub.io/Mikanebu/push-speed-65-5kb
- https://datahub.io/Mikanebu/simple-views

P.S. seems like docker cloud is not rebuilding atm. I will update this comment once it's ready.

[2018-02-15 15:10] anuveyatsu commented on #67
Highlighting current page is implemented here https://github.com/datahq/frontend/commit/e71f299d206e27f23052256f73bbc4298c612cec

[2018-02-15 15:45] AcckiyGerman commented on #87
As I investigate, all descriptors are saved in the DPP lib, so I created issue there: https://github.com/frictionlessdata/datapackage-pipelines/issues/120

[2018-02-15 15:50] AcckiyGerman commented on #67
Cool!

[2018-02-15 21:10] ppKrauss commented on #46
Hi, thanks. Only to register, I redo today and worked fine:
* `sudo npm install -g data-cli`  was perfect, `data --version` 0.7.6
* `data login` worked fine, call Firefox, login Github.
* `data push state-codes` produced https://datahub.io/ppKrauss/br-state-codes/v/1

All ok!

[2018-02-16 06:58] AcckiyGerman commented on #113
'simple-views': All the dates printed at once, and it looks very dirty:
![image](https://user-images.githubusercontent.com/11707682/36296685-348c3dc2-12f7-11e8-86c1-f41d3eabbd96.png)

The same is on the 'push-speed-65-5kb' view :(

When I do a deep zoom-in - then it is ok, but on general view it is just a noise.
Could we do something with that?

[2018-02-16 07:01] anuveyatsu commented on #113
@AcckiyGerman this is fixed just awaiting docker cloud to be redeployed (see our discussion in the gitter)

[2018-02-16 07:13] AcckiyGerman opened #123 "[showcase] Per view urls"
As a datahub user I want to have URLs for each view so that I can embed the view in my own website; download the view in an automated way; direct link to the view (maybe better to do this in showcase)

## How to reproduce

* try to embed a graph from http://datahub.io/core/finance-vix in your website/post

## Expected behaviour

* I am able to embed a view from datahub in my website/post

[2018-02-16 07:17] AcckiyGerman commented on #60
@Mikanebu Could you please test this issue?  I should not test it, as I had resolve it :)

[2018-02-16 07:30] Mikanebu commented on #60
@AcckiyGerman TEST OUTPUTS:

Empty files:
* `no extension` -  `> Error! Cannot calculate proper length in synchronous way.`
* `.csv` - `> Error! tabular file is invalid: files/empty-files/empty.csv`
* `.html` - pushed without any error
* `.txt` - `> Error! Cannot calculate proper length in synchronous way.`
* `.json` - pushed without any error
* `.xls` - `> Error! You cannot push an empty sheet. P

[2018-02-16 07:30] anuveyatsu commented on #104
@AcckiyGerman this is now fixed in https://github.com/datahq/data-cli/commit/c4cd8590ce3c2316e06b57067304caaf0219046a

[2018-02-16 07:37] zelima commented on #60
@AcckiyGerman @Mikanebu Can we have some common error message for this? Eg `Can not push empty files`

`Error! Cannot calculate proper length in synchronous way.`  Seems like there's some bug that we can not handle (from user perspective)

[2018-02-16 07:39] Mikanebu commented on #60
@zelima You are right, also it is not a human-readable error message.

[2018-02-16 07:42] AcckiyGerman commented on #60
@zelima  The error will be:
[code]
Do you think we also could say `empty files is not allowed` ?

[2018-02-16 07:43] zelima commented on #60
@AcckiyGerman Why complicating and not just saying this: `You can not push empty files, please add some data and try again`

[2018-02-16 07:46] AcckiyGerman commented on #60
@zelima Because empty is only one case. The same exeption will happen for any reason when file could not be read (broken url, no user rights to read the file, etc)

[2018-02-16 07:46] zelima commented on #60
@AcckiyGerman
* Also what happens if it is not pushed directly with datapackage.json.
  * what there are 4 files and 2 are empty?

[2018-02-16 07:53] zelima commented on #60
@AcckiyGerman Maybe we need different way to guess this cases and not just `try/except`?

Also is this an actual output?
[code]

Why the error message is not on new line ?

[2018-02-16 07:56] AcckiyGerman commented on #60
@zelima
1. case with two files in `dp.json` and one is missing:
[code]
This is OK I think

2. will add `\n` to get on a new line

[2018-02-16 08:04] AcckiyGerman commented on #60
@zelima

Sure you are right, but we hadn't any issues from users about that, are you sure we should spend time on that?  This quick fix is good enough for now, I think, but If you insist I will analyse more edge cases and implement some 'test-file-before-reading-method'

[2018-02-16 08:07] zelima commented on #60
@AcckiyGerman

Let's spend an hour or so on that

I'm not talking about this case - the file is there, but data is missing.

[2018-02-16 08:12] AcckiyGerman commented on #60
The length is calculating on each file push, so if even 1 of 100 files is empty, it will cause the same error:
[code]

OK

[2018-02-16 08:15] AcckiyGerman commented on #60
I'm starting to think, that prohibiting empty files is not so good idea )))
Just imaging myself pushing 100 files scientific dataset, where few files is empty - I will curse the datahub :)))

[2018-02-16 08:20] zelima commented on #60
@AcckiyGerman this is a good example of why we should do good analysis, before stating implementation

[2018-02-16 08:44] anuveyatsu commented on #107
This will be fixed here https://github.com/datahq/data-cli/issues/218

[2018-02-16 10:10] AcckiyGerman commented on #60
I've done more analyse for `Error('Cannot calculate proper length in synchronous way.')` when the file is empty.

Error happens in `form-data` lib with zero-length files when using sync function `formData.getLengthSync()`. I have reported this error in `form-data` repo, hope they will fix it.

Anyway, async `formData.getLength(callback)` works good and returns 0

But, later in the code, when we pu

[2018-02-16 10:36] AcckiyGerman commented on #60
Message changed in datahub-client lib: https://github.com/datahq/datahub-client/pull/20

[2018-02-16 13:24] zelima commented on #65
@AcckiyGerman Should be fixed now

[2018-02-16 13:25] zelima commented on #82
@AcckiyGerman should be fixed now (disable caching for css)

[2018-02-16 13:25] zelima commented on #70
@AcckiyGerman should be fixed https://datahub.io/search?q=gdp

[2018-02-16 13:28] zelima commented on #69
Fixed
* `the Mauna Loa` with one dataset: https://datahub.io/search?q=the+Mauna+Loa
* `Mauna Loa` with several dataset: https://datahub.io/search?q=Mauna+Loa

[2018-02-16 13:57] AcckiyGerman commented on #113
FIXED: X-axis shows its values normally.
- checked several existing datasets with views - everything looks good.
- pushed new one - looks good.

[2018-02-16 13:57] #113 closed

[2018-02-16 14:03] AcckiyGerman commented on #70
FIXED: on 'gdp' search shows results in that order
- matching 'core' results
- matching results from other users
- non-perfectly matching results from core
- non-perfectly matching results from other users

[2018-02-16 14:08] AcckiyGerman commented on #60
FIXED & TESTED
Pushing:
- empty tabular file: `> Error! tabular file is invalid: ...`
- zero-length non-tabular files: `> Error! You can not push empty files, please add some data and try again: <path>`
- non-tabular files that are not empty, but have no data are pushed normally, e.g:
    - json `{ }`
    - html `<html></html>`

[2018-02-16 14:18] AcckiyGerman commented on #104
FIXED & TESTED
[code]
Ok, I would remove the second error message, but it is sufficient now.

[2018-02-16 14:18] #104 closed

[2018-02-16 14:20] AcckiyGerman commented on #82
FIXED.
User now have instructions what to do, when he sees the blocked page.

[2018-02-16 14:20] #82 closed

[2018-02-16 14:31] AcckiyGerman commented on #69
TESTED
- connecting words are not pollute the search
- search in titles
- search in readme

[2018-02-16 14:31] #69 closed

[2018-02-17 11:40] anuveyatsu opened #124 "Graphs are rendered incorrectly due to order of the data rows"
For time series data it is important that rows in the tabular data are ordered consistently by time. However, sometimes we have situations where ordering is inconsistent, e.g.,:

[code]
Notice that after 2015 there is 2013 and then 2014.

We've discovered this problem when `tableschema-js` library was changing the order during the read process, read more about it here https://github.com/frictionle

[2018-02-19 05:10] zelima commented on #51
@AcckiyGerman this should be fixed now

[2018-02-19 08:26] anuveyatsu commented on #107
FIXED in https://github.com/datahq/data-cli/releases/tag/v0.7.9

[2018-02-19 08:44] zelima commented on #121
@anuveyatsu Not sure why CLI decides IP (242.181.107.55) address is URI, but it does not seem so. According to [this article in Wikipedia](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#syntax) URI syntax should follow following patern:
[code]
Also take a look at this StackOverflow question, by user asking how to turn IP into valid URI - https://stackoverflow.com/questions/35260121/turn

[2018-02-19 08:51] anuveyatsu commented on #121
@zelima this is strange because tableschema-js is inferring a schema with format "URI" for me: https://runkit.com/anuveyatsu/ip-as-uri

[2018-02-19 09:34] AcckiyGerman commented on #115
FIXED: instructions for R fixed

TESTED
- on ubuntu
- on macos

[2018-02-19 09:34] #115 closed

[2018-02-19 09:38] AcckiyGerman commented on #51
TESTED
- for core user
- for AcckiyGerman user

FIXED - no unlisted dataset is shown in search results.

[2018-02-19 09:38] #51 closed

[2018-02-19 09:44] AcckiyGerman commented on #107
TESTED and FIXED
[code]

[2018-02-19 09:44] #107 closed

[2018-02-19 10:09] zelima commented on #121
@anuveyatsu Seem I had older version of `tablechema-js`. - I have following result with `1.7.0`
[code]

[2018-02-19 10:12] AcckiyGerman commented on #101
Fixed when trying to push: https://github.com/datahq/datahub-client/pull/22

[2018-02-19 11:18] anuveyatsu commented on #124
This is now fixed in https://github.com/datahq/frontend/issues/211

To test the fix:

* visit following showcase pages from production website:
  * https://datahub.io/core/population-global-historical
  * https://datahub.io/core/household-income-us-historical
* notice the weird graphing due to unsorted rows (see screenshot below if you don't get it)
* now, run the latest frontend version locally a

[2018-02-19 13:06] zelima commented on #121
Basically, the problem here is the same as in #119 - inconsistency between `tableschema-js` and `tablechema-py` they cast values in a different way. Opened an issue for that https://github.com/frictionlessdata/tableschema-py/issues/204

[2018-02-19 14:09] AcckiyGerman commented on #124
TESTED: works fine.

@anuveyatsu
1. do you think it is good to fix this issue buy applying this `sorting` patch in our code? Isn't it better to fix `tableschema-js` ?
2. are you sorting values only for building graphs ?  It doesn't touch the original data, right?

[2018-02-19 15:11] AcckiyGerman opened #125 "[push] no warning for Invalid URI"
@AcckiyGerman commented on [Mon Feb 19 2018](https://github.com/datahq/data-cli/issues/286)

When `pathType` set to 'remote', `data push` does not check if the `path` is valid URI, and this dataset will be pushed.
[code]

Then we got an error on the dataset page:
[code]

## Acceptance criteria

* [ ] User have a warning, when `remote` path is not actually remote.

[2018-02-19 15:17] anuveyatsu commented on #125
@AcckiyGerman then what's the point of having `pathType` property?

[2018-02-19 15:20] AcckiyGerman commented on #101
Datapackage.py has `is_safe_path(path)` function and checks if the path is save when loading package.
https://github.com/frictionlessdata/datapackage-py/blob/0bc5276c2acd730fd765af99dbfdecbca9b1c46d/datapackage/helpers.py#L196

But there is no such code in datapackage-js yet :-1:
So the best place to fix this issue -  in the `datapackage-js`

[2018-02-19 15:21] AcckiyGerman commented on #101
@anuveyatsu ^^^

[2018-02-19 15:22] AcckiyGerman commented on #80
FIXED: https://github.com/datahq/data-cli/issues/265#issuecomment-366716624

[2018-02-19 15:26] AcckiyGerman commented on #125
I think `pathType` is inferred automatically, when we do `data init`, but what if the some hacker change it later?
Actually I think this is a very rare case, If you agree, we could not fix this issue?
Should I close it as WONTFIX ?
@anuveyatsu

[2018-02-19 15:41] anuveyatsu commented on #125
@AcckiyGerman yes, and it's inferred correctly, although it doesn't check for the actual content of the remote path. I agree that we shouldn't fix this one.

[2018-02-19 16:06] anuveyatsu commented on #101
@AcckiyGerman I think we're not using datapackage-js library anymore but using tableschema-js library. For loading datasets (packages) or files (resources) we use data.js library.

[2018-02-19 16:22] anuveyatsu commented on #124
@AcckiyGerman answers:
1. yes, would be great to have a fix in tableschema-js but in general, we still might need to sort data before rendering the graph
2. yes, the original data remains the same

[2018-02-20 05:34] anuveyatsu commented on #122
Opened issue about it in tableschema-js - https://github.com/frictionlessdata/tableschema-js/issues/134

[2018-02-20 06:13] zelima commented on #114
@anuveyatsu this raises another question for me - What should we display on the dashboard page and what on the publishers page? Should those numbers differ? Saying cause if we change current approach they will.

Currently, dashboard gets the total number of datasets from search API, cause we simply do not serve any other endpoint to get that number. So if we change this and get it Eg from `specsto

[2018-02-20 06:29] zelima commented on #114
One option would be to export failed datasets as well to `metastore` and add new flag `success=true/false`, but this will require changes in `metastore`,  remapping and reindexing of elastic search

[2018-02-20 06:34] anuveyatsu commented on #114
@zelima  Yes, I think all Failed datasets should be considered private but should be included on the publisher page as well. This way the only owner can see it on the list.

[2018-02-20 07:30] Mikanebu commented on #24
@AcckiyGerman this is fixed in https://github.com/datahq/data-cli/issues/284 and https://github.com/datahq/datahub-qa/issues/60, please review and close it.

[2018-02-20 08:58] anuveyatsu commented on #121
@zelima I have opened an issue in tableschema-js library about IP addresses being recognized as URIs - https://github.com/frictionlessdata/tableschema-js/issues/135

[2018-02-20 09:29] AcckiyGerman commented on #24
TESTED & FIXED
- https://github.com/datahq/data-cli/issues/284
- second part of this issue is duplicate of https://github.com/datahq/datahub-qa/issues/60

Now user will get clear error messages, when trying to push empty files, or inline data.

[2018-02-20 09:29] #24 closed

[2018-02-20 09:32] AcckiyGerman commented on #124
FIXED (see this message https://github.com/datahq/datahub-qa/issues/124#issuecomment-366659927)
Graphs, created from tabular data, are now displayed well.

[2018-02-20 09:32] #124 closed

[2018-02-20 13:55] akariv commented on #98
@anuveyatsu with datapackage-pipelines v1.6.3 this should be resolved.
I've rebuilt assembler and redeployed to testing - could you please try and re-push your dataset to see if the problem persists?

[2018-02-20 14:03] akariv opened #126 "Exception in auth service"
Tried to push a file to testing and got an 'internal server error' message.

From inspecting the logs, this is the exception:
[code]

Retrying the upload succeeded (so this was a temporary issue it seems).

[2018-02-20 18:01] anuveyatsu commented on #98
@akariv @zelima I've tried to push this dataset into testing and getting `TypeError: Object of type 'Decimal' is not JSON serializable` message. To see full logs: http://api-testing.datahub.io/source/90998f7f90e086bd5fc7c9075dfda43b/all-schema-types/latest

Any ideas?

[2018-02-20 18:10] akariv commented on #98
I see that the problem is now only in the JSON pipeline (CSV now passes) -
I'll take care of that as well.

On Tue, Feb 20, 2018 at 8:01 PM Anuar Ustayev <notifications@github.com>
wrote:

[2018-02-20 18:26] akariv commented on #98
Okay, now this seems to be working:

https://testing.datahub.io/adam.kariv/all-schema-types-honest-pig-14

On Tue, Feb 20, 2018 at 8:09 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2018-02-21 06:46] AcckiyGerman commented on #125
INVALID
- `data infer` shouldn't check the remote file existing

[2018-02-21 06:46] #125 closed

[2018-02-21 08:42] Mikanebu commented on #116
@AcckiyGerman It is fixed now in https://github.com/datahq/data-cli/issues/292. Please, see PR on data.js datahq/data.js#35. And appropriate tests, see PR on data-cli #293. Please, review and close

[2018-02-21 09:46] AcckiyGerman commented on #80
@zelima could you update the production specstore with your "return errors" fix https://github.com/datahq/specstore/commit/fde06cdbbc223b7f33dcae7d4787af439383ea33 and I will close the issue.

[2018-02-21 10:02] zelima commented on #80
@AcckiyGerman updated

[2018-02-21 10:02] AcckiyGerman commented on #116
TESTED & FIXED
Works well:
- `data cat tab.tsv`
- `data cat colon.tsv`
- `data cat https://github.com/frictionlessdata/test-data/blob/master/files/csv/separators/tab.tsv?raw=true`

[2018-02-21 10:02] #116 closed

[2018-02-21 10:04] AcckiyGerman commented on #80
TESTED & FIXED
[code]

[2018-02-21 10:04] #80 closed

[2018-02-21 10:17] AcckiyGerman commented on #98
TESTED & FIXED:
"yearmonth" and "geopoint" types are now processed without errors.
https://datahub.io/AcckiyGerman/all-schema-types_csv-unlucky-bird-52/v/1

[2018-02-21 10:17] #98 closed

[2018-02-21 11:44] Mikanebu opened #127 "data init throws an error when try to assign dataset name with numeric value"
Tried to package file, but got the following error on assigning dataset `name` property
[code]

## How to reproduce

- run data init sample.csv
- when it asks for `name` property, include any number( e.g dataset-100kb)

## Expected behavior

* It should accept alphanumeric characters according to the spec https://frictionlessdata.io/specs/data-package/

[2018-02-21 12:58] Mikanebu commented on #127
@AcckiyGerman Fixed in https://github.com/datahq/data-cli/issues/294. Please see PR on datahub-client https://github.com/datahq/datahub-client/pull/23. Review and close

[2018-02-21 13:11] AcckiyGerman commented on #127
TESTED & FIXED

[code]

[2018-02-21 13:11] #127 closed

[2018-02-22 05:35] anuveyatsu commented on #53
Right now users can download compressed versions of the CLI ~30MB

[2018-02-22 05:45] anuveyatsu opened #128 "Get command doesn't work for private datasets"
If I try to get a private dataset, I'd receive following error message that is unclear to me:

[code]

## How to reproduce

- run `data get https://datahub.io/anuveyatsu/finance-vix`

## Expected behavior

- I can get my own private dataset
- prints more clear message, e.g., "This dataset not found."
- I want to see same message for all non-existing datasets

[2018-02-22 06:09] Mikanebu commented on #86
@AcckiyGerman  TESTED, the downloaded structure the following
[code]

[2018-02-22 06:16] Mikanebu commented on #86
@AcckiyGerman why 100kb.csv is not inside `data` folder?

[2018-02-22 06:21] AcckiyGerman commented on #86
@Mikanebu I don't know - data get just grabs zipped version of dataset, everything that accembler put there will appears.
This particular file probably is a source file

[2018-02-22 06:26] Mikanebu commented on #86
@AcckiyGerman I cannot close this issue, because there is a missing `README.md`, please see structure
[code]

[2018-02-22 06:35] AcckiyGerman opened #129 "[assembler] structure of zipped dataset (archive)"
As the `data get` will now fetch and unpack archived version of the dataset - we should fix it has a fancy and valid structure.

## How to reproduce

- `data push gold-prices`
- wait for processing
- `data get http://datahub.io/<user>/gold-prices`
- check the content you've got

## Expected behavior

- [x] valid `datapackage.json` - you can do `data validate` and it is OK
- [x] README.md
- [x] dat

[2018-02-22 06:38] AcckiyGerman commented on #86
FIXED:
- dataset, fetched from datahub, have elegant structure.

NOT FIXED:
- missed README: separate issue https://github.com/datahq/datahub-qa/issues/129

[2018-02-22 06:38] #86 closed

[2018-02-22 08:26] AcckiyGerman commented on #108
FIXED:
https://datahub.io/examples/datahub-qa-issues-tracker

[2018-02-22 10:54] AcckiyGerman commented on #43
@Mikanebu again this bug :cry:
While I could see this dataset on the datahub.io, I can not get it: http://datahub.io/examples/vega-views-tutorial-topojson
[code]

[2018-02-22 12:08] AcckiyGerman opened #130 "Delete / remove a dataset from the datahub.io"
As a user, I want to be able to remove previously uploaded data.

As an Administrator I want to purge a dataset so that it not longer exists in storage or in the frontend

* Want to make sure I don't do this accidentally
* Do we have a concept of a trash (so we can undo?)

## Expected behavior

- There is a 'delete' button on the showcase page
- `are you sure you want to delete the data` question,

[2018-02-22 12:38] Mikanebu commented on #43
@AcckiyGerman Republished all examples datasets. It has been 3 months since the last update. The problem happened with the upgraded backend, so we need to repush datasets if appears this error.

[2018-02-22 12:39] AcckiyGerman commented on #43
Ok I will test& close as Duplicate

On Feb 22, 2018 14:38, "Meiran Zhiyenbayev" <notifications@github.com>
wrote:

[2018-02-22 16:47] anuveyatsu opened #131 "Some data types are not rendered as expected on showcase page"
When rendering data types below, the values are getting converted:

- array type: `[1]` is rendered as `1`
- object type: `{"one": 1}` is rendered as `[object Object]`
- time and datetime types: the time is converted depending on user's timezone
- yearmonth type: `2018-01` is rendered as `2018, 1`

## How to reproduce

- see the preview table and compare it with raw data: https://testing.datahub.i

[2018-02-22 16:54] anuveyatsu commented on #126
@akariv seems like it throws that exception when you hit authz api several times within some short period of time. E.g., I've experienced it while doing multiple "push"s in parallel in the tests - https://travis-ci.org/datahq/data-cli/jobs/344397536#L675
/cc @zelima

[2018-02-22 16:57] anuveyatsu opened #132 "Print proper error messages for "info" and "get" commands when URL is invalid"
If I try to "info" or "get" some invalid URL, I'd get following error message that doesn't tell me enough about what's wrong:

[code]

## How to reproduce

- run `data info https://datahub.io`
- run `data get https://datahub.io`

## Expected behavior

- show error message similar to: `Provided URL is invalid. Expected URL to a dataset or descriptor.`
* [ ] `data info http://NON-EXISTING-DOMAIN.in/

[2018-02-22 17:17] anuveyatsu opened #133 "Ability to add (append) tick suffix to graph axis"
As a Publisher, I want to be able to add a suffix to the graph axis so my numbers are represented correctly. E.g.:
- `B` as for billion so in Y axis I can have 1B, 2B etc. instead of just 1, 2

## How to reproduce

- try to build a view and have a suffix for your data in the x/y axis ticks
- see that you cannot do it (or just don't know how to)

## Expected behavior

- ability + explanation (docs)

[2018-02-22 17:22] anuveyatsu opened #134 "Custom axis titles in the graphs"
As a Publisher, I want to customize x and y axis titles so my graph looks more informative.

At the moment, axis titles are the respective field names and publishers cannot change it.

## How to reproduce

- create a view and try to change axis title

## Expected behavior

- I have an ability to customize axis titles and it is documented somewhere.

[2018-02-22 17:26] anuveyatsu opened #135 "Bar and line charts are on the same graph"
As a Publisher, I want to have bar and line charts on the same graph so I have a better presentation of my data.

P.S. This is possible using Vega specs, but not using Simple specs. So the issue is about having this feature in the Simple specs.

## How to reproduce

- try to have both charts on the same graph and see that you cannot

## Expected behaviour

- I have simple way of doing this and som

[2018-02-23 09:05] #43 closed

[2018-02-23 09:06] #108 closed

[2018-02-23 19:08] AcckiyGerman commented on #87
The PR with 'pretty-descriptor' ability: https://github.com/frictionlessdata/datapackage-pipelines/pull/121

If / when this PR will be accepted, then we also need to add `pretty-descriptor` option to the planner here: https://github.com/datahq/planner/blob/5eeb00603d20be054b8262a62e68a7ba20e680d2/planner/utilities.py#L31

[code]

[2018-02-25 12:08] Mikanebu opened #136 "data push-flow does not work"
Wherever I try to push valid `flow.yml`, I get the following error
[code]

## How to reproduce

- git clone https://github.com/datasets/bond-yields-us-10y.git
- remove data directory since it is automated and does not need it
- update `flow.yml` owner` and `ownerid` with yours
- data push-flow pathToDataset

## Expected behavior
data push-flow works fine

[2018-02-26 05:01] zelima commented on #136
@Mikanebu we decided to hold on `data push-flow` and automated push generally. Think this should move in features section for now

[2018-02-26 06:17] zelima commented on #71
Results after latest changes:
* 100KB - needs 40 seconds for full process
  * 5 seconds for push
  * 35 seconds from link displayed in CLI until page reload
* 1mb - needs 45 seconds totally
  * 8 seconds for push
  * 37 seconds from link displayed in CLI until page reload

[2018-02-26 06:29] zelima commented on #101
@anuveyatsu @AcckiyGerman is this still issue?

[2018-02-26 06:34] anuveyatsu commented on #101
@zelima validate command is still accepting backwards paths. I've raised a question here - https://github.com/frictionlessdata/tableschema-js/issues/133 - this is not priority issue but will post reminder question in the gitter chat.

[2018-02-26 07:09] anuveyatsu opened #137 "Showcase (dataset) page improvements"
@akariv commented on gitter (25 Feb 2018):

- [x] "This is a preview version. There might be more data in the original version.” - why are we showing it if there’s no preview anywhere? (e.g. for the ZIP resource)
- [x] The ZIP resource - there’s no need to have a section for it if it contains no information whatsoever.
- [x] The resource title and ‘Field Information’ are of the same size, although

[2018-02-26 08:58] Mikanebu opened #138 "Content types for download files are incorrect (tabular data + html file)"
Content types for download files are incorrect (tabular data). Checked published dataset https://datahub.io/Mikanebu/hello-world1
* `csv` : `Content-Type: text/plain; charset=utf-8`
* `json`: `Content-Type: text/plain; charset=utf-8`
* `zip`: `Content-Type: text/plain; charset=utf-8`
* `html`: `Content-Type: text/html; charset=utf-8`

## How to reproduce

- publish dataset
- run `curl -s -I https:

[2018-02-26 10:05] anuveyatsu commented on #128
@AcckiyGerman should be now fixed (https://github.com/datahq/data-cli/issues/301) - will be available in the next release of the CLI tool.

[2018-02-26 10:15] AcckiyGerman commented on #128
@anuveyatsu do we have test for this in QA spreadsheet or `data-cli` travis tests?

[2018-02-26 10:37] AcckiyGerman opened #139 "data info should return proper error for invalid URLs"
As a user I want to see a proper error when trying to `data info` for non-existing resource.

## How to reproduce

[code]
[code]

## Expected behavior

User get a proper error when:
* [ ] `data info http://NON-EXISTING-DOMAIN.in/`
* [ ] `data info http://datahub.io/core/non-existing-dataset` domain is real, but web server returns non-success status code (all except `200-203`)

[2018-02-26 11:05] AcckiyGerman opened #140 "User can’t see the failure reason of a dataset if it doesn’t have any successful revision."
## How to reproduce

Push a dataset with some errors with a NEW name.

## Expected behavior

* [ ] User could see the showcase page even if the dataset has an errors.

## Analysis

I think I found the problem @zelima :
https://github.com/datahq/frontend/blob/378737c51937e86255d38f78bdbcbe34a4fe6fbf/routes/index.js#L389

I didn't analysis the method to its end, but due to this comment the problem i

[2018-02-26 11:12] AcckiyGerman commented on #61
FIXED:
[code]

[2018-02-26 11:12] #61 closed

[2018-02-26 11:32] AcckiyGerman commented on #126
TESTED by pushing a lot of datasets in a short period of time:
[code]
But I don't know what was fixed.
@zelima please close this issue, if the authz api issue were solved.

[2018-02-26 11:32] AcckiyGerman commented on #126
oh, sorry, I see now here https://github.com/datahq/auth/issues/24

[2018-02-26 11:32] #126 closed

[2018-02-26 11:38] AcckiyGerman commented on #128
TESTED:
[code]
After some time:
[code]

[2018-02-26 11:38] #128 closed

[2018-02-26 12:00] AcckiyGerman commented on #89
FIXED:
New 'frontend' and 'data-cli' labels were added in this repo, please use them, when analyzing issues. @Mikanebu @anuveyatsu you could add more labels, if there is need.
But still I thinks the best way is to add a link to the issue in a related repo.

[2018-02-26 12:00] #89 closed

[2018-02-27 07:31] AcckiyGerman commented on #105
First of all our `FileRemote` class from `data.js` is not recognizing remote resource encoding: https://github.com/datahq/data.js/issues/37

[2018-02-27 08:32] AcckiyGerman commented on #105
Even when encoding is right (recognised as iso8839) - the `data cat` output encoding is broken after line `const rows = await toArray(await resource.rows())` in `data.js/lib/parser/csv.js`

[2018-02-27 09:07] anuveyatsu commented on #139
@AcckiyGerman I think this is duplicate of https://github.com/datahq/datahub-qa/issues/132

[2018-02-27 09:09] AcckiyGerman commented on #139
@anuveyatsu yes, right
FIXED: duplicate

[2018-02-27 09:09] #139 closed

[2018-02-27 10:11] Mikanebu commented on #132
@AcckiyGerman It is fixed in https://github.com/datahq/data-cli/issues/303. Please review

[2018-02-27 16:37] anuveyatsu commented on #137
@akariv re the last point about `Created` field, it is set to get data from `dataset.datahub.created` but we don't have such property in the descriptor, e.g., [here](https://pkgstore.datahub.io/core/co2-ppm/5/datapackage.json). We need to implement it in the planner I think.
/cc @zelima

[2018-02-28 06:48] Mikanebu commented on #118
@AcckiyGerman FIXED in this PR https://github.com/datahq/datahub-client/pull/25, please review and close

[2018-02-28 06:49] AcckiyGerman commented on #132
TESTED - FAIL
## invalid domain
- [x] `$ node bin/data.js get http://no-site.io`
Error! Connection error: request to http://no-site.io failed, reason: getaddrinfo ENOTFOUND no-site.io no-site.io:80
- [ ] `$ node bin/data.js info http://no-site.io`
File descriptor:
{
  "path": "http://no-site.io",
  "pathType": "remote",
  "name": "",
  "format": "",
  "encoding": "utf-8"
}

## Invalid url on the d

[2018-02-28 07:14] anuveyatsu commented on #132
@AcckiyGerman to me `> Error! NOT FOUND` is sufficient error and it's coming from `data.js` library when it tries to read the descriptor from given URL.

[2018-02-28 07:37] AcckiyGerman commented on #132
@anuveyatsu then we could fix it in the `data.js`.

User who get `Error: NOT FOUND` will think:
 **What is actually not found, ha?**:
- command not found ?
- info not found ?
- dataset not found ?

Oh, this programm is too hard for me...

[2018-02-28 07:40] Mikanebu commented on #132
@AcckiyGerman Are you suggesting to replace to `> Error! Provided URL is invalid. Expected URL to a dataset or descriptor` ?

[2018-02-28 07:57] AcckiyGerman commented on #137
@anuveyatsu could you also fix this:
- [ ]  ‘Created’ field in the main infobox is empty.

It is always empty, and I remember Rufus also mentioned that.
I would remove it at all, as we have **Updated**, but we could put here updated time from **revision 1**

[2018-02-28 08:02] anuveyatsu commented on #137
@AcckiyGerman have you read my comment just above yours?

[2018-02-28 08:07] anuveyatsu opened #141 "'Created' info is missing on showcase (dataset) page"
‘Created’ field in the main infobox is empty.

## How to reproduce

- visit any dataset page, e.g., https://datahub.io/core/co2-ppm
- see that `Created` field is empty

## Expected behavior

- I can see when a dataset was created

[2018-02-28 08:08] anuveyatsu commented on #137
@AcckiyGerman I've moved that item into separate issue - https://github.com/datahq/datahub-qa/issues/141 so please don't consider it in that issue review.

[2018-02-28 08:10] #137 closed

[2018-02-28 08:38] akariv commented on #132
@AcckiyGerman some centralizing is a good idea for sure.
But the meaning of a 404 error is different based on context, so it should be handled in the caller and no the callee I think.

[2018-02-28 08:40] AcckiyGerman commented on #88
TESTED & FIXED
[code]
[code]
Pushing with invalid name:
[code]

Job well done!

[2018-02-28 08:40] #88 closed

[2018-02-28 08:47] AcckiyGerman commented on #87
Tested 28 feb - feature is not working on datahub.io and testing.datahub.io
@zelima do we need to update/restart planner instance to fix this issue?

[2018-02-28 08:52] AcckiyGerman commented on #132
@Mikanebu yes, change `NOT FOUND` to `Provided URL is invalid. Expected URL to a dataset or descriptor` in the `data.js` please.
And this also need to be fixed:
[code]

[2018-02-28 09:04] anuveyatsu commented on #132
@AcckiyGerman @Mikanebu I think it depends on context, e.g., if it's happening in `Dataset` class or in`parseDatasetIndentifier` function then yes, otherwise in `File` class it should say that provided URL is invalid.

Re info command, I don't think we should do anything there. It acts just as parser there.

[2018-02-28 09:07] AcckiyGerman commented on #131
TESTED:
Everything is fixed except **Number** type.
 `1.0` is rendered as `1`
@anuveyatsu

[2018-02-28 09:13] AcckiyGerman commented on #132
@anuveyatsu we could just check the response code, if it is not `200-203` then return error instead of parsing the response.

[2018-02-28 09:15] zelima commented on #87
@AcckiyGerman yes, Just restarted tested environment. Let's test changes there first and will redeploy production after

[2018-02-28 09:20] zelima commented on #118
@AcckiyGerman not sure I understand the question, need more context

[2018-02-28 09:20] anuveyatsu commented on #131
@AcckiyGerman I left it for a reason. We still want to have some values converted to JS objects, e.g., we want **Number** type to not be **String** so we can use the values in graphs. But `1.1` would still be `1.1`. Another example is **Date**, sometimes you can have some unusual format but it gets rendered in ISO format. Why? Because otherwise, we wouldn't be able to use those date values in the

[2018-02-28 09:22] AcckiyGerman commented on #118
@zelima I want to get rid of this:
[code]

[2018-02-28 09:24] anuveyatsu commented on #132
@Mikanebu ok, can you please fix that and let's close the issue

[2018-02-28 09:34] anuveyatsu commented on #133
FIXED, see https://datahub.io/anuveyatsu/simple-views and its `views` property in https://pkgstore.datahub.io/90998f7f90e086bd5fc7c9075dfda43b/simple-views/3/datapackage.json

You can see that I've set `ySuffix` and `xSuffix` properties in the `views[0].spec`, which is then are used as suffixes in the axis ticks of the graph.

P.S. make sure your browser is not caching old assets.

Also added smal

[2018-02-28 09:34] AcckiyGerman commented on #131
Thanks for update.
I just checked that Numbers values is the same in result data. If it is render `1` instead `1.0` only on the frontend - that's OK

FIXED:
Different data types are rendered properly in the preview table. Only exception is `1.0` -> `1` for using this values in the graphs.

[2018-02-28 09:34] #131 closed

[2018-02-28 09:39] AcckiyGerman commented on #87
Still doesn't work: https://pkgstore-testing.datahub.io/test/fancy-descriptor-test/3/datapackage.json :(

[2018-02-28 10:05] zelima commented on #118
@AcckiyGerman be my guest :)

[2018-02-28 10:07] anuveyatsu commented on #134
FIXED, see the graph on https://datahub.io/anuveyatsu/simple-views and take a look at its views in descriptor https://datahub.io/anuveyatsu/simple-views/datapackage.json

The docs are in http://datahub.io/docs/features/views#how-it-works

[2018-02-28 10:15] AcckiyGerman commented on #87
TESTED:
- OK on the site: https://pkgstore-testing.datahub.io/test/fancy-descriptor-test/4/datapackage.json
- FAIL in the zipped dataset

Need to investigate and fix

[2018-02-28 10:28] anuveyatsu commented on #120
@AcckiyGerman after testing this out, I have realised that this issue is INVALID. Possibly, you run commands incorrectly, below is how you should run them:

[code]

Please, try it out and close this issue as INVALID if you agree.

[2018-02-28 12:07] zelima commented on #87
@AcckiyGerman I will fix that

[2018-02-28 14:01] AcckiyGerman commented on #87
FIXED:
Processed datasets now have pretty-printed datapackage.json :
![image](https://user-images.githubusercontent.com/11707682/35920438-8b82ac20-0c20-11e8-9fa0-384efda8b3f2.png)

[2018-02-28 14:01] #87 closed

[2018-02-28 14:11] AcckiyGerman commented on #134
TESTED, looks good.

[2018-02-28 14:11] #134 closed

[2018-02-28 14:13] AcckiyGerman commented on #133
TESTED

[2018-02-28 14:13] #133 closed

[2018-02-28 14:51] AcckiyGerman commented on #120
@anuveyatsu yes, you are right! This `>` character is used to stream pipe in a file in `bash`
That's why the `> Sorry, provided output format is not supported.` get into the file :)

[2018-02-28 14:51] #120 closed

[2018-02-28 16:50] AcckiyGerman commented on #105
ok, I am blocked with https://github.com/datahq/data.js/issues/37 - I don't know how to recognize the remote resource encoding.

[2018-02-28 19:46] Mikanebu commented on #132
@AcckiyGerman FIXED, please test again. Data get and info for URL throws the following error messages
[code]

[2018-03-01 06:47] zelima commented on #138
@Mikanebu How exactly you tested this? I've just run same commands on same [dataset ](https://datahub.io/Mikanebu/hello-world1) and getting following:

[code]

Also, I don't see HTML resource - how did you test?

[2018-03-01 06:52] AcckiyGerman commented on #132
TESTED & FIXED
User now get proper error, when provide invalid url to `data get|info`

[2018-03-01 06:52] #132 closed

[2018-03-01 07:03] Mikanebu commented on #138
@zelima
[code]

[2018-03-01 07:07] zelima commented on #138
@Mikanebu But that URL has redirect - and that's an actual place from where the download happens, no?
[code]

[2018-03-01 07:10] Mikanebu commented on #138
@zelima Yes, all of them has a redirect. Probably, yours is correct

[2018-03-01 07:13] zelima commented on #138
@Mikanebu what about another question?

[2018-03-01 09:02] AcckiyGerman commented on #132
TEST ON GITHUB: Still not very good:
Valid link - TEST OK
[code]
Invalid link (return 404 status code, but also return a html page) - TEST FAIL
[code]

[2018-03-01 10:00] AcckiyGerman opened #142 "[validate] fix error message in case when remote resource is not available."
When validating dataset, we should check if all the resources are available.

Next command should return error, and it does, but the **error message is not clear**
User could think something wrong with the program, not with the resource.
[code]

## How to reproduce
[code]

## Expected behavior

* Error: resource are not reachable: `<resource URL>`

OR we could return more generalized error, which

[2018-03-01 10:12] AcckiyGerman commented on #101
Validation is NOT FIXED yet:
[code]
However `data push` is failing as expected.
[code]

[2018-03-01 11:23] AcckiyGerman commented on #60
Fix is broken now :(
[code]
Here should be an error.

## Analysis

I could see that I did not added tests and probably somebody changed related code and was not notyfied.

[2018-03-01 11:50] AcckiyGerman commented on #70
If I search for Mauna Loa, the core dataset is not on the top :cry:

[2018-03-01 12:11] zelima commented on #70
@AcckiyGerman link is to gold prices.
* gold prices - that's just best match - it exactly matches to the phrase you are searching.
* Manua Loa - again best match: match in the title. If I bump core furthermore it will result in that best matches (Title match) will be ignored and core result will be displayed cause somewhere in readme Phrase is mentioned.

As a user who has searched much intuitivel

[2018-03-01 12:13] AcckiyGerman opened #143 "Instructions for getting data is not working for Python"
Instructions for getting data is not working for Python
Tested with
- https://datahub.io/AcckiyGerman/residential-property-price-statistics-from-different-countries#python
- http://datahub.io/core/finance-vix#python

## How to reproduce

Run the code from the instructions:
[code]
There is normal output for some time, and then:
[code]

## Expected behavior

I want to see my data without any errors.

[2018-03-01 12:44] AcckiyGerman commented on #143
For two different valid packages?

On Mar 1, 2018 13:21, "Irakli Mchedlishvili" <notifications@github.com>
wrote:

[2018-03-01 13:04] zelima commented on #143
@AcckiyGerman If the source for both of them is invalid csv yes... Above is provided only one

[2018-03-01 13:14] AcckiyGerman commented on #143
Second have the same error, so I decided to open the issue. It requires a proper analysis and testing from somebody (not me) on other datasets

[2018-03-01 15:56] anuveyatsu opened #144 "Don't upload files that already exist on AWS"
It becomes noticeable when you want to publish some large data. I have to wait each time I push my dataset, although I only changed metadata.

## How to reproduce

- get some data that is at least ~100MB
- push it - notice how long you have to wait until push finishes (if it's the first time then OK)
- push it again with small change in metadata (or without any change!) - you have to wait same amo

[2018-03-01 16:24] AcckiyGerman commented on #143
@zelima you were right - I did more testing and most of the datasets are OK

[2018-03-01 16:26] AcckiyGerman commented on #143
@zelima Should I right a script to test all datasets is valid?, and should we do something with invalid datasets ?

[2018-03-01 16:43] AcckiyGerman opened #145 "dataset instructions for PANDAS is invalid"
Dataset instructions for PANDAS are invalid

## How to reproduce

- Follow the instructions: http://datahub.io/core/cpi#pandas
- Get an error:
[code]

## Expected behavior

User get his data without errors.

[2018-03-01 17:04] AcckiyGerman commented on #70
@zelima thanks for explanations, didn't know all the details.
FIXED as INVALID

[2018-03-01 17:04] #70 closed

[2018-03-02 05:05] zelima commented on #145
@AcckiyGerman that's really strange:
[code]
Also here it is in docs https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

[2018-03-02 05:18] zelima commented on #143
@AcckiyGerman all datasets are valid on datahub, another way they would fail. Just the source data for some of them are invalid. Like for finance-fix - Eg it has some rows to remove from the top, etc... http://www.cboe.com/publish/ScheduledTask/MktData/datahouse/vixcurrent.csv

So what happening here is that:
* we iterate over resources
* trying to load tabular data
* but source data is invalid ->

[2018-03-02 05:27] zelima commented on #144
@anuveyatsu I doubt this is the happening cause of pushing large files on S3. That time is consumed by processing large files - we need to process them anyway, right? (slight change in metadata may change data completely).

We skip uploading files for sure (if it's not dapackage.json) https://github.com/frictionlessdata/datapackage-pipelines-aws/blob/master/datapackage_pipelines_aws/s3_dumper.py#L

[2018-03-02 06:02] akariv commented on #144
@anuveyatsu <https://github.com/anuveyatsu> - is this about the push from
data-cli, or the time it takes to process the data?
I think you meant the 1st, while @zelima referred to the 2nd - do you agree?

On Fri, Mar 2, 2018 at 7:27 AM Irakli Mchedlishvili <
notifications@github.com> wrote:

[2018-03-02 06:07] anuveyatsu commented on #144
@akariv yes, I was tracking my network yesterday and have seen that the CLI uploads unchanged files to AWS even if they already exist. E.g., I had 330MB file and by looking at my traffic I can say it is uploading the file again and again. @zelima so I think this is really a major issue at the moment.

[2018-03-02 06:10] zelima commented on #144
@anuveyatsu @anuveyatsu hm, ok will take a look

[2018-03-02 10:46] AcckiyGerman commented on #60
FIXED: https://github.com/datahq/data.js/pull/43
We do not decode File.stream() with `iconv` in `data.js` any more.
`Iconv` used only in `csv parser` for correct `data cat non-utf8.csv`

Now when user push empty file, he will see
[code]

[2018-03-04 16:06] anuveyatsu commented on #144
@AcckiyGerman that's available starting from v0.8.2 - https://github.com/datahq/data-cli/releases/tag/v0.8.2

[2018-03-05 06:47] AcckiyGerman commented on #105
PullRequest for quessing remote files https://github.com/datahq/data.js/pull/44
Main idea:
- get a piece of remote file (one chunk ~3kb)
- guess an encoding, using this piece

## Objections:
- `chardet.detectFileSync()`  guess for `western-macos-roman` encoded file is INCORRECT, even if the file is local
- guessing for remote file, that contains Base64 encoded images is also invalid.
- guessing re

[2018-03-05 07:33] AcckiyGerman commented on #144
TESTED & FIXED
When pushing files on datahub, `data-cli` checks if there is already a file with the same hash on the server, and does not pushing the same file again.

[2018-03-05 07:33] #144 closed

[2018-03-05 08:11] zelima commented on #60
@AcckiyGerman have you read this Note of `form-data` lib? https://www.npmjs.com/package/form-data#notes

[2018-03-05 08:34] Mikanebu opened #146 "Geojson resources are not working"
Looks like rendering `geojson` resources are broken. E.g., cannot find any graphs on http://datahub.io/examples/geojson-tutorial

## How to reproduce

- open the page http://datahub.io/examples/geojson-tutorial

## Expected behavior

* Since it is a tutorial on how to add `GeoJSON` file and display it on the map, it should display some graph.

[2018-03-05 09:18] lambdamusic opened #147 "Publishing a large Linked Open Data project - how to?"
Hi,

I'm part of the [SciGraph project](scigraph.springernature.com) and would like to make available our data (~200G) via datahub.io.

I have two questions:

* can I create a record for a dataset hosted elsewhere? if yes how?
* what is the relationship between datahub and the LOD cloud (http://lod-cloud.net/)? It says on their site that the metadata was "collected and curated by contributors to t

[2018-03-05 11:03] AcckiyGerman commented on #60
@zelima but we already used `knownLength` option few lines before:
[code]
So my assuming (I'm not sure) is that there was some kind of race error in the `FormData` lib:
- ` totalLength = formData.getLengthSync()` threw an exception in the past
- coz `formData.append('file', resource.stream(), {...}` is an Async method
- and it was not finished when `getLengthSync` was called.

I don't know why for

[2018-03-05 11:03] AcckiyGerman commented on #60
FIXED by changing  Acceptance Criteria.

[2018-03-05 11:06] #60 closed

[2018-03-05 11:20] AcckiyGerman commented on #118
@zelima could you please test the PR, merge and close this issue, if test is OK.

[2018-03-05 12:07] AcckiyGerman commented on #145
INVALID:
Error happened because I saved the script in the file, called **`pandas.py`** and when I did `import pandas` this file was imported instead of real `pandas` :man_dancing:

[2018-03-05 12:07] #145 closed

[2018-03-05 12:14] AcckiyGerman commented on #143
@zelima I'm not sure I get what you wanted to say:

We could add a condition to skip `source/*` files, WDYT ?

[2018-03-05 12:22] zelima commented on #143
@AcckiyGerman Yes that is one option. But maybe there's a better one - `resource.read()` is a method of `Package` class right? So maybe `read()` method accepts arguments like schema, or `skip_rows` to and reads that way.

Indeed looking at the logs you posted it does, just we need to know what exactly.

[code]

You see `**options` - what that options may be? Just read the datapckage-py docs https:

[2018-03-05 12:28] zelima commented on #118
@AcckiyGerman let's wait for @anuveyatsu to review the PR, merge and release and after I'll test

[2018-03-05 12:31] zelima commented on #60
@AcckiyGerman That sound really extreme to depend on "something's working, but I don't know why it working" But ok. Let's hope they've fixed that.

Also, I suggest pinning the version of the lib if we are fine with that

[2018-03-05 15:02] anuveyatsu commented on #142
FIXED in `datahub-client@0.3.1` and will be available with the next release of the CLI. For now can be tested using the latest commits from `data-cli`

[2018-03-05 15:03] anuveyatsu commented on #101
@AcckiyGerman this should start working once https://github.com/frictionlessdata/specs/pull/595 gets merged.

[2018-03-05 15:06] anuveyatsu commented on #37
@AcckiyGerman @Mikanebu this should be fixed once https://github.com/frictionlessdata/datapackage-py/pull/211 is merged and deployed.

[2018-03-05 19:07] Mikanebu commented on #84
@AcckiyGerman It was fixed in https://github.com/datahq/frontend/issues/218, so please review and close it. Also, small bug discovered on search page pagination and fixed as well

[2018-03-06 06:52] AcckiyGerman commented on #118
FIXED:
User can now validate remote datasets:
- on github
- on datahub

[2018-03-06 06:52] #118 closed

[2018-03-06 07:00] zelima commented on #143
@Mikanebu resource descriptor should include that info...

[2018-03-06 07:11] AcckiyGerman commented on #142
TESTED:
Invalid path on existing site - GOOD
[code]

Invalid domain name - GOOD
[code]

Invalid url: `htt://file.csv/` (missed **P** in http prefix) - FAIL
[code]

@anuveyatsu the last case is a very rare, but.  Probably someone used manual parsing of URL instead of using a special lib. WONTFIX for now.

Issue is FIXED.

[2018-03-06 07:11] #142 closed

[2018-03-06 07:15] AcckiyGerman commented on #84
FIXED, looks good! :+1:

[2018-03-06 07:15] #84 closed

[2018-03-06 07:19] anuveyatsu commented on #146
Now fixed - see https://datahub.io/examples/geojson-tutorial and don't forget to clear your browser cache.

[2018-03-06 09:51] anuveyatsu commented on #85
Fixed and will be available in the upcoming release of the CLI (>0.8.2). For now, you can test by pulling the latest changes from `datahub-client` and `data-cli` libraries @AcckiyGerman

So you can see the progress bar, progress percentage, estimated time left and path of the file being uploaded:
<img width="512" alt="screen shot 2018-03-06 at 15 14 58" src="https://user-images.githubusercontent.c

[2018-03-06 10:54] zelima commented on #136
@AcckiyGerman Closed this with the commit message. Will be included in next release of CLI (anyway this is not for user feature, but feel free to reopen if not fixed).

[2018-03-06 15:39] AcckiyGerman commented on #68
## WONTFIX (full Analysis here: https://github.com/datahq/frontend/issues/191)

`JS` version of `tableschema` gives some validation errors, while `PY` version doesn't:
- WONTFIX: `00:01` is not Time
     * '00:01' is not time? :angry: Really?!! Who's that guy, who created the corresponding test?
- WONTFIX: `"2018/01/02T00:00:00"` is not datetime with format 'Any'
    * https://github.com/datahq/fr

[2018-03-06 15:57] AcckiyGerman commented on #147
@lambdamusic

Yes, that is very easy: you just create an `datapackage.json` file that describes your data (this is a simple example):
[code]
Then you run the command `data push` and the dataset will be uploaded on the datahub.io

To avoid typing this file manually, you can use our `data-cli` tool (type command `data init` in the folder where you store the data) to infer the data structure into tha

[2018-03-06 16:01] AcckiyGerman commented on #147
Personally I don't know. Probably they used our old datahub.io site as a source of their data, may be @zelima could answer?

[2018-03-07 05:59] zelima commented on #140
@AcckiyGerman @akariv I suppose this is related to the fact that user is not able to see it failed dataset on publisher's page.

If so it will be fixed together with #114

[2018-03-07 06:14] zelima commented on #147
@AcckiyGerman @lambdamusic I don't obtain any information about this.

Looking at the diagram and playing around with it a bit: in most cases, URLs are redirected to old.datahub.io. Also, it is last updated at in 2017-08-22. At that point, current datahub was not live. I assume They were using old.datahub.io as a source for their project. Don't think there's more relation between them than this.

[2018-03-07 06:59] #147 closed

[2018-03-07 07:13] AcckiyGerman commented on #85
TESTED & FIXED
[code]
@anuveyatsu do you have the same **MaxListenersExceeded Warning** ? I think this uploading bar could be a reason of few new events added so this warning pops up.

[2018-03-07 07:31] anuveyatsu commented on #85
@AcckiyGerman probably we should implement this in higher level, e.g., in `/bin/data.js` - https://github.com/datahq/data-cli/pull/310/files

WDYT?

[2018-03-07 07:33] AcckiyGerman commented on #85
@anuveyatsu yes, good idea.
Also updated a comment (tested multi-files dataset)

[2018-03-07 07:35] AcckiyGerman commented on #85
@anuveyatsu also I realize the `data-cli` miss the spinner when `data get` and `data validate` is performing, e.g. `data validate` takes up to 15 sec on my i7 processor, and user could think that the program is stuck. (will create an separate issue now)

[2018-03-07 07:45] AcckiyGerman opened #148 "Spinner for `data get` and `data validate`"
**Get** and **Validate** commands could take a lot of time on big datasets, but we have no spinner when performing this operations, so user could think the program stuck.

## How to reproduce
[code]
## Expected behavior

- `data get` have a spinner
- `data validate` have a spinner
- (optional) `data validate` shows the spent time

[2018-03-07 07:52] AcckiyGerman commented on #146
TESTED: looks good  https://datahub.io/examples/geojson-tutorial

[2018-03-07 07:52] #146 closed

[2018-03-07 08:05] AcckiyGerman commented on #136
Let's keep the issue in **Trivial** as we don't have **Frozen** column here.

[2018-03-07 08:11] zelima commented on #114
@akariv This should be fixed. We now export metadata even if it's failed with `unlisted` findability (Only if there's no successful revision)

[2018-03-07 08:14] zelima commented on #138
@AcckiyGerman should not be a problem if you push

[2018-03-07 08:15] #136 closed

[2018-03-07 08:15] zelima commented on #129
@AcckiyGerman pushes after today should have nice structure with readme and archive folders

[2018-03-07 09:09] AcckiyGerman commented on #68
Created an issue for frictionlessdata guys: https://github.com/frictionlessdata/tableschema-js/issues/138

[2018-03-07 09:27] AcckiyGerman commented on #123
Tested - FAIL (on production and testing servers)
@anuveyatsu
As a user I couldn't find any new  'create a link to this view' button.
Also I cannot copy the view link with the right mouse button (in Chrome)

could you please specify, how did you fix this issue?

[2018-03-07 09:41] AcckiyGerman commented on #129
@zelima This is a very cool fix!
[code]
I have only one suggestion:
[code]
Seems the last two are the same file - could we get rid of one of them?

[2018-03-07 09:46] AcckiyGerman commented on #123
Also I tryied https://datahub.io/core/finance-vix/view/0 but it doesn't work as well.

[2018-03-07 09:49] zelima commented on #129
@AcckiyGerman Yes we can, but I did this on purpose - to be aligned with original dp.json (we do have the same duplicate in original dp.json as well)
Let's close this one and discuss that later.

[2018-03-07 09:54] AcckiyGerman commented on #129
FIXED:
User get a valid dataset with pretty folders and files structure after `data get`

[2018-03-07 09:54] #129 closed

[2018-03-07 10:03] AcckiyGerman commented on #138
TESTED on https://datahub.io/AcckiyGerman/finance-vix after a new push:
[code]
Should be `text/csv` I think

---

[code]
Should be `application/json`

---

[code]
This one is correct.

[2018-03-07 10:04] AcckiyGerman commented on #138
@Mikanebu @zelima ^^^

[2018-03-07 10:13] AcckiyGerman commented on #114
TESTED & FIXED:
Datasets with errors are included in Total datasets number on Publisher's page.

[2018-03-07 10:13] #114 closed

[2018-03-07 10:37] AcckiyGerman opened #149 "Data get is not working, if you add a slash `/` at the end of dataset address"
## How to reproduce

[code]

## Expected behavior

- [x] http://datahub.io/core/finance-vix/ is valid address
- [x] http://datahub.io/core/finance-vix is valid address

[2018-03-07 10:47] zelima commented on #138
@AcckiyGerman are you sure you've tested this on newly published stuff? Just published and looks as expected:
[code]

[2018-03-07 10:52] zelima commented on #138
@AcckiyGerman maybe that files were cached on S3? Try to push something completely new

[2018-03-07 11:08] AcckiyGerman opened #150 "Data get from github breaks the descriptor visual structure"
`data get http://github.com/datasets/...` breaks the descriptor file.

## How to reproduce

Original descriptor is pretty structured: https://raw.githubusercontent.com/datasets/finance-vix/master/datapackage.json
[code]
Now the descriptor is written in one line and is not Human-readable.

data push is not working now, too
[code]

## Expected behavior

- [ ] `data get` does not change the descripto

[2018-03-07 11:43] AcckiyGerman commented on #143
[code]

[2018-03-07 11:53] AcckiyGerman commented on #143
The trick with `skip_rows` does not work:
- original resource does not have `skip_rows` in the descriptor
- `resource.read()` method does not accepn `skip_rows` parameter
   (even if there is such parameter somewhere in the `resource.schema` - it will not work with original resource)

## Solution:
Added more conditions before reading the resource:
[code]

But I don't like this solution - too many

[2018-03-07 12:06] AcckiyGerman commented on #138
[code]
TESTING:
[code]
GOOD

---

[code]
GOOD

---

[code]
GOOD

---

[code]
GOOD

[2018-03-07 12:07] AcckiyGerman commented on #138
TESTED & FIXED:
- server returns correct content types for download files.

[2018-03-07 12:07] #138 closed

[2018-03-07 12:13] AcckiyGerman commented on #123
Oh, sorry, https://testing.datahub.io/core/finance-vix/view/0 is working!
And I see the instructions under the graph!
Thats cool!

[2018-03-07 13:28] zelima commented on #119
Ok so diving deeply into this I've got the following:

https://stackoverflow.com/a/8826770/6056362

Also, similar problem with [openpyxl used by tabulator](https://github.com/frictionlessdata/tabulator-py/blob/master/tabulator/parsers/xlsx.py#L9) to parse `.xlsx` data

https://bitbucket.org/openpyxl/openpyxl/issues/131/incorect-reading-integer-in-use_iterators#comment-10399143

Meaning that any nu

[2018-03-07 14:02] anuveyatsu commented on #123
@AcckiyGerman yes, I will redeploy production in a bit. Please close the issue when you think it's ready.

[2018-03-07 14:39] lambdamusic commented on #147
Awesome guys. Thanks very much. I'll play with the CLI and see how far I can get.

[2018-03-07 16:13] AcckiyGerman commented on #123
FIXED:
User can now share the links to the views or embed the views on other sites with `<iframe>...`

[2018-03-07 16:13] #123 closed

[2018-03-07 16:16] anuveyatsu commented on #149
Will be fixed with https://github.com/datahq/data-cli/pull/314

[2018-03-07 16:51] anuveyatsu commented on #150
This is happening due to `buffer` method in `data.js` library https://github.com/datahq/data.js/blob/master/lib/index.js#L70-L76
I guess `stream => array => buffer` removes `\n` characters.

[2018-03-07 19:30] anuveyatsu commented on #119
@zelima it sounds OK to me, I couldn't think any other solution for now.

[2018-03-07 19:49] Mikanebu commented on #57
I tried the following cases:
* `tsv`=> `csv` - CLI - OK, showcase - OK - https://datahub.io/Mikanebu/extenstion-test-1
* `csv` => `tsv` - CLI - OK, showcase - Broken -` CastError: Row length 1 doesn't match fields count 4`
* `xlsx` => `csv` CLI - broken `> Error! Invalid opening quote at line 2`
* `csv` => `xlsx` CLI - OK, showcase -OK - only `zip` resource - probably, this is bug
* `pdf` => `csv`

[2018-03-07 19:57] anuveyatsu commented on #85
@AcckiyGerman moved increasing `MaxListeners` snippet to higher level module `/bin/data.js`:
https://github.com/datahq/data-cli/commit/2ba6166eb0ff800e73ae45397158678e702a3dec

[2018-03-08 03:58] zelima commented on #57
@Mikanebu I agree, indeed I think in the case it's erroring for `csv` is totally fine. Think we can close this as WONTFIX. cc @anuveyatsu @akariv

[2018-03-08 04:23] zelima commented on #147
@lambdamusic I just read instructions for publishing data from @AcckiyGerman and while it's complete and quite accurate, alternatively you could just simply run `data push path/to/my/file.ext` and it will get there.

datapackage.json and `data init` (creates datapackage.json) is something for describing your data in the best way. Eg you could include some key metadata like a description of your da

[2018-03-08 05:36] zelima commented on #8
@AcckiyGerman @anuveyatsu I assume this is no longer an active issue, so I suggest closing. @brew feel free to reopen if necessary

[2018-03-08 05:51] AcckiyGerman commented on #140
@akariv we cannot fully understand what is the case, but think this is the same:
FIXED as Duplicate of https://github.com/datahq/datahub-qa/issues/114
Reopen please, if not agree.

[2018-03-08 05:56] AcckiyGerman commented on #143
FIXED:
Instructions are now getting only processed data so process not fails if source data has errors.

[2018-03-08 05:56] #143 closed

[2018-03-08 05:57] AcckiyGerman commented on #149
TESTED & FIXED

[2018-03-08 05:57] #149 closed

[2018-03-08 06:06] AcckiyGerman commented on #141
TESTED & FIXED

[2018-03-08 06:06] #141 closed

[2018-03-08 06:13] AcckiyGerman commented on #53
@adam I'm not sure if this is solved.
The download size is now ~32mb, but user needs to do additional steps to unpack the program manually.

Also the ideal solution for installing is to have the standard distribution schema in every OS:
### Debian-based
- `sudo apt install data-cli`

OR
- download   data-cli.deb  package

### Mac OS
- usual program install workflow for MacOS

### Windows
- `data-c

[2018-03-08 06:14] AcckiyGerman commented on #53
@zelima @anuveyatsu ^^^

[2018-03-08 06:17] #8 closed

[2018-03-08 06:35] Mikanebu commented on #37
tested, it is not the correct title. I assigned Réunion, but on the showcase page, the title is RÃ©union. Please, see published dataset https://datahub.io/Mikanebu/hello-world

[2018-03-08 08:06] AcckiyGerman opened #151 "Push multiple files warning"
If user tries to push several files at once
[code]
the program pushes only the first file, all others are ignored.

This is an expected behavior, but User doesn't know that, so he could be confused, thinking that all his files are pushed.

## How to reproduce

[code]

## Expected behavior

- [x] only the first file is pushed
- [ ] user get a Warning message in the Terminal:
[code]

## Tasks

- [ ]

[2018-03-08 08:32] AcckiyGerman commented on #151
I create a test that checks for a Warning message in `data-cli` repo (disabled ATM)

[2018-03-08 08:44] anuveyatsu commented on #85
@AcckiyGerman now it must be more clear which files are finished and which one is running with the latest change in datahub-client - https://github.com/datahq/datahub-client/commit/27307e9830a4f82a37e7373841c0defc5c9c49c9

[2018-03-08 11:14] rufuspollock commented on #30
WONTFIX.

This is low priority for now as i think having local source paths is pretty rare. If other people run into this problem please let us know and we'll reopen.

[2018-03-08 11:14] #30 closed

[2018-03-08 11:19] AcckiyGerman commented on #34
todo: analyse https://github.com/datahq/datahub-qa/issues/34#issuecomment-351204281 and create a new corresponding issue

[2018-03-08 11:31] AcckiyGerman commented on #85
@anuveyatsu works good on big files.
Shows nothing on small files.
If this expected behavior?

[2018-03-08 11:45] AcckiyGerman commented on #93
Note:
We have the API but haven't proper documentation or guide for Users, how to use it.
Todo:
BlogPost about using existing datahub.io API and endpoints

[2018-03-08 12:04] anuveyatsu commented on #135
WONTFIX - publishers can use Vega views for having this or any other complicated graphs.

[2018-03-08 12:04] #135 closed

[2018-03-08 12:32] Mikanebu commented on #90
@AcckiyGerman Integrated `datahubio/chat` room on gitter with `datahub-qa` repo, so users will be notified in any activity in this repo. Please, review and close.

[2018-03-09 04:58] zelima opened #152 "Remove duplicated original resource from dp.json and zip"
Due to recent changes in the planner, we introduced "original" resource, which is nothing more, but a duplicate of `source/tabular`, just placed into `archive/` folder

## How to reproduces

* Take a look at https://pkgstore.datahub.io/core/finance-vix/121/datapackage.json and compare. (They are identical)
  * url for source/tabular `"path": "https://pkgstore.datahub.io/core/finance-vix/vix-daily/

[2018-03-09 06:38] AcckiyGerman commented on #85
TESTED & FIXED:
`data-cli` shows upload progress bar while pushing files on the datahub.

[2018-03-09 06:38] #85 closed

[2018-03-09 06:59] AcckiyGerman commented on #90
@Mikanebu I've just closed one issue in QA board but cannot see any new messages on `datahubio/chat`

I also check the https://gitter.im/giving-a-fuck-about-climate-change/Lobby channen but there are no any activity from github repo, too.

So I'm not sure this github feature is working at all.
Or may be it just shows the new commits or PRs ?

[2018-03-09 07:09] AcckiyGerman commented on #90
TEST: Fail

[2018-03-09 07:09] Mikanebu commented on #90
@AcckiyGerman Can you see any activity in `datahubio/chat` channel?

[2018-03-09 07:12] Mikanebu commented on #90
You can see my comment there
<img width="1179" alt="screen shot 2018-03-09 at 1 10 11 pm" src="https://user-images.githubusercontent.com/19908588/37195049-71221f90-239b-11e8-8fd6-f2dbe95620d5.png">

[2018-03-09 07:16] AcckiyGerman commented on #90
FIXED.
People can see the activity from datahub-qa repo in the gitter channel

[2018-03-09 07:16] #90 closed

[2018-03-09 07:30] AcckiyGerman opened #153 "Embedded views in a form of PNG, not iFrame script"
## To be Analysed:
There is a button - download plot as PNG and when you click it - the JS script makes a PNG image and download form is started in browser - so user could download the image itself.
We could modify the Frontend server, so when somebody goes on, say https://datahub.io/core/finance-vix/view/0.png - server runs the same method and returns the fresh PNG image, that was created by the

[2018-03-09 07:41] AcckiyGerman commented on #153
Anuar Ustayev @anuveyatsu 08:30
yes, but this solution is only about simple (plotly) graphs. We also have Vega views (+vega-lite) and handsontable. In general, we want the solution to be library independant.
here are examples of vega:
http://datahub.io/examples/vega-views-tutorial-lines
http://datahub.io/examples/vega-views-tutorial-grouping
http://datahub.io/examples/vega-views-tutorial-topojson

[2018-03-09 07:42] AcckiyGerman commented on #153
WONTFIX as very hard to implement without a strong need.

[2018-03-09 07:55] AcckiyGerman opened #154 "Search by findability"
I want to be able to filter my datasets by findability (unlisted v public v private) so I can better manage my data.

## How to reproduce

http://datahub.io/search?q=unlisted

## Expected behavior
On the search page
- [ ] http://datahub.io/search?q=unlisted shows unlisted datasets, that BELONGS to USER
- [ ] http://datahub.io/search?q=private shows private datasets, that BELONGS to USER
- [ ] http

[2018-03-09 07:56] AcckiyGerman opened #155 "Search box in publisher page is not working"
There is a situation when you cannot find dataset on users dashboard's search box, but it can be found on the main search page. For example, dataset http://datahub.io/JohnSnowLabs/ietf-language-tags-list

## Analysis

It seems that the problem is not in filtering but dataset not appearing on users page at all:

* if you try and search for that word with regular search (ctrl+f) you will not find it

[2018-03-09 08:32] AcckiyGerman opened #156 "Split docs + blog as a separate repo (like awesome pages)"
Comes from https://github.com/datahq/datahub-qa/issues/39 (ability to do a feedback)

As a user - I want to give some feedback to the docs and/or blogs that I read on the http://datahub.io/ so It would be great to be able to do commits/PR to the docs/blog section.

As a developer I want to separate the server code and the content users may wanna edit.

## Expected behavior

- [x] datahub.io/docs i