[2018-03-09 08:35] AcckiyGerman commented on #39
WONTFIX & DUPLICATE of https://github.com/datahq/datahub-qa/issues/156 (move docs & blog in separate repos)

[2018-03-09 08:35] #39 closed

[2018-03-09 09:17] AcckiyGerman commented on #93
FIXED: API is already exists.
- GET API
   * List of resources: https://datahub.io/core/cofog/datapackage.json
   * Get CSV https://datahub.io/core/cofog/r/cofog.csv
   * Get JSON https://datahub.io/core/cofog/r/cofog.json

- POST APIs:
   - Docs: http://docs.datahub.io/developers/api/
   - support LIB https://github.com/datahq/datahub-client
   - example of use: https://github.com/datahq/data-cli

[2018-03-09 09:17] #93 closed

[2018-03-09 09:36] AcckiyGerman opened #157 "API Documentation (GET&POST) + CURL instructions on showcase page"
As a programmer I want to have proper docs re using datahub API so I could use it in my project

## we need to have:

* [x] document Web API for getting data and datasets
  - [x] /r/ links ...
  - [x] datapackage.json
* [x] Web API for creating datasets and pushing data
* [x] curl and `data get` instructions on the showcase page

## Issues:
https://github.com/datahq/frontend/issues/224

[2018-03-09 09:59] AcckiyGerman commented on #157
Writing docs in hackmd

[2018-03-09 10:42] AcckiyGerman opened #158 "Monitor and restore datahub.io server modules (web, specstore, rawstore, etc)"
[Issue in the Frontend repo](https://github.com/datahq/pm/issues/122)

The server could hang for different reasons
Once we notice that after 3 hours after the accident. (Redis failded)
Today we notice that server is down, when I can't get any data while writing a blog-post

As a Admin I want to control the server status and to have a auto-restore system, so I'm sure my users are happy.

## Accepta

[2018-03-09 11:03] AcckiyGerman opened #159 "Improve documentation for Markdown"
Markdown doc page: https://datahub.io/docs/misc/markdown

## Things to improve
(comment from Rufus):

Documentation of things like:

* infoboxes? (markdown extension)
* special code block e.g. cli output (datahub only)
* is there support for mermaid diagrams (?)

Also guidance on things like what is the default level for headings (e.g. you used level 3 in your markdown doc atm - which i just chang

[2018-03-09 15:46] AcckiyGerman opened #160 "See How Much a Data Package is Used (Downloaded)"
As a Consumer i want to see how much the data has been downloaded so that i can choose most popular (=> probably most reliable and complete) in the case when there are several alternatives for my usecase (maybe from different publishers)

## How to reproduce

Visit the publishers page

## Expected behavior

- [ ] There is a list of publisher's datasets
- [ ] you can see how many downloads each dat

[2018-03-09 16:24] anuveyatsu commented on #153
@AcckiyGerman I think this is at least a good issue to have so let's keep it open. We also have done some analysis for it here - https://github.com/datahq/frontend/issues/92 - and we also wanted SVG along with PNG :)

[2018-03-09 16:30] anuveyatsu opened #161 "Embeddable HTML tables for resources"
As a Publisher, I want to be able to embed resources from my dataset as a HTML table in some post/website so:
- I can present my data from datahub for my audience.
- I can use processed data in my website.

## Expected behavior

* I can do `https://datahub.io/core/finance-vix/r/0.html` and get a HTML table of the resource with index 0

[2018-03-10 14:39] jonrmitchell opened #162 "Accessing file versions with lightweight request (e.g., RSS)"
We already have versioning supported in a basic way: every time you push to DataHub we create a new version and that remains accessible at /{yourname}/{dataset}/v/{version-number}
But what's lacking is a way for the consumer to check if there is a new version.

Ideally, this should be doable with a lightweight request (meaning no actual datafiles) to get just metadata about a file - think RSS - th

[2018-03-12 07:13] AcckiyGerman opened #163 "datahub.io index page and dataset page style"
the Action buttons on the index page could be pulled over the `"terminal"` image, depending of the browser window width, which looks not very good:
![image](https://user-images.githubusercontent.com/11707682/37269498-e90feaba-25ca-11e8-86e6-59f89e95eb63.png)

---

The `datapackage.json` button is a bit off the bottom border, when you scroll to the down-end (on the dataset page)
![image](https://us

[2018-03-12 09:57] AcckiyGerman commented on #140
@akariv
FIXED as INVALID:

User always can see failed revisions but he/she must be the logged in as the owner and visit the page using revision id (as it is printed in the CLI).
If a user visits the shortened showcase page it tries to display the latest successful revision. I think this issue is invalid.

[2018-03-12 09:57] #140 closed

[2018-03-13 07:20] Mikanebu opened #164 "Publishing excel file does not work"
When I try to publish excel file, there is no derived resource, please see https://datahub.io/Mikanebu/hello-world-2

## How to reproduce

- data push excel file
- take a look at the showcase page

## Expected behaviour

It should show derived resources

[2018-03-13 07:42] Mikanebu commented on #156
@AcckiyGerman FIXED in frontend https://github.com/datahq/frontend/issues/223. Now, we have a separate repo for `docs` and `docs` related assets in https://github.com/datahq/content. But, we decided to keep `blog` in frontend.

[2018-03-13 08:41] AcckiyGerman commented on #156
Cool job, @Mikanebu . Will test once the test server is redeployed

[2018-03-13 08:46] AcckiyGerman commented on #53
I'm closing the issue, as nobody have any objections

FIXED:
- the binary is now packed with `.gz`, so downloading size is reduced to ~32mb
- Download and installation docs are updated.

[2018-03-13 08:46] #53 closed

[2018-03-13 08:51] AcckiyGerman commented on #161
@anuveyatsu Let's update documentation, too, so the user could know about this feature, WDYT?

[2018-03-13 08:54] AcckiyGerman commented on #161
TESTED:
- works great
- have to be documented properly

[2018-03-13 09:31] AcckiyGerman commented on #162
Also, we have this feature in the roadmap: http://docs.datahub.io/developers/user-stories/#5-versioning-and-changes-in-data-packages
Please read it before implementing.

[2018-03-13 09:38] AcckiyGerman opened #165 "Extended versioning"
@jonrmitchell gave us new ideas about versioning:

## User story

Their data format changes occasionally too, so it would be helpful if there was a way to track and be notified of schema changes (since those require development work for me)
I know there are a bunch of other companies that are doing the same thing, so having a place to disseminate this data in a reliably consistent format (which is

[2018-03-13 10:03] AcckiyGerman opened #166 "Incorrect validation errors"
## How to reproduce

- push this file: https://github.com/frictionlessdata/test-data/raw/master/files/csv/100kb.csv
- got errors on the frontend:
[code]
## Expected behavior

- Validation passing well

[2018-03-13 10:13] AcckiyGerman commented on #166
DUPLICATE of datahq/datahub-qa#121 and datahq/datahub-qa#122

[2018-03-13 10:13] #166 closed

[2018-03-13 11:14] Mikanebu commented on #37
@AcckiyGerman This is FIXED in https://github.com/datahq/frontend/issues/215. Please, review and close

[2018-03-13 11:32] AcckiyGerman commented on #37
TESTED:
- works well for me: https://datahub.io/AcckiyGerman/encoding-test

FIXED:
- User could use non-ascii symbols in the title now.

[2018-03-13 11:32] #37 closed

[2018-03-13 11:36] AcckiyGerman commented on #47
FIXED:
This Epic is not used as an epic anymore.
Closing to clean the space in a Backlog for "Frozen" issues

[2018-03-13 11:36] #47 closed

[2018-03-13 11:37] AcckiyGerman commented on #48
All issues in this epic is FIXED.

[2018-03-13 11:37] #48 closed

[2018-03-13 11:37] AcckiyGerman commented on #52
FIXED:
This Epic is not used as an epic anymore.
Closing to clean the space in a Backlog for "Frozen" issues

[2018-03-13 11:37] #52 closed

[2018-03-13 11:37] AcckiyGerman commented on #45
Everything is FIXED here.

[2018-03-13 11:37] #45 closed

[2018-03-13 11:38] AcckiyGerman commented on #78
Closing this epic, as we have separate pipeline on the board for New Features issues

[2018-03-13 11:38] #78 closed

[2018-03-13 12:06] anuveyatsu commented on #161
@AcckiyGerman thanks for the feedback!

* we will write a blog post about this feature in this issue https://github.com/datahq/pm/issues/125
* just added the same functionality as for views so you now can copy a shareable link or embeddable snippet - see above of each preview table
* the table now has 100% height!

<img width="1176" alt="screen shot 2018-03-13 at 18 05 29" src="https://user-images

[2018-03-13 14:54] AcckiyGerman commented on #161
FIXED:
- we have embedded tables now
- the link to embed table is right about the preview table.

[2018-03-13 16:58] rufuspollock opened #167 "[dashboard] small grammar issue "finish" => "finished""
"Finish" is not grammatically quite correct in English -- it should be "Finished" ("Finished" is an adjective or past participle while "finish" is the infinitive "to finish").

![image](https://user-images.githubusercontent.com/180658/37357038-ac0c5540-26e7-11e8-8a4f-cd006d199a83.png)

I've looked at fixing this directly but i think these event names come directly from the backend API so I'm not s

[2018-03-14 06:57] AcckiyGerman commented on #148
TESTED & FIXED:
We now have a spinner for operations:
- data get
- data validate

[2018-03-14 06:57] #148 closed

[2018-03-14 07:36] AcckiyGerman commented on #157
TESTED & FIXED:
- http://datahub.io/docs/features/api
- http://datahub.io/core/un-locode#data-cli

[2018-03-14 07:42] AcckiyGerman commented on #119
Tested:
[code]

[2018-03-14 07:57] Mikanebu commented on #119
@AcckiyGerman It has not fixed yet. I will make a PR on datahub-client.

[2018-03-14 08:37] zelima commented on #119
should be fixe in data v0.8.5

[2018-03-14 18:20] rufuspollock opened #168 "[showcase] Improve UX of Copy (to clipboard buttons)"
* Currently the "Copy" buttons are not clear what they do (copy to clipboard i assume)
* Also when I click them nothing happens -- maybe i should get some kind of message that they have been copied to clipboard (this might be less important to do if intent is better

![image](https://user-images.githubusercontent.com/180658/37422833-766eff70-27bc-11e8-9b9b-a35080d2eedc.png)

Compare with Github's

[2018-03-14 19:04] rufuspollock commented on #157
@AcckiyGerman great work getting this in. There are some minor fixes i would suggest (also useful for the reviewer whomever that was):

### data-cli

Better grammar

[code]

should be (instructions is plural so you need "are" not "is"):

[code]

### cURL

I would delete this phrase. "Also" only makes sense if you have switched here from somewhere else and let's keep things terse.

[code]

More imp

[2018-03-14 19:15] anuveyatsu opened #169 "[docs] broken CSS on one of the docs pages"
CSS is broken on this page - http://datahub.io/docs/data-packages - see the notice on the bottom is appearing on top of the text:

<img width="1168" alt="screen shot 2018-03-15 at 01 14 39" src="https://user-images.githubusercontent.com/17809581/37425642-411d5132-27ee-11e8-96a3-72b0562191ec.png">

## How to reproduce

- visit http://datahub.io/docs/data-packages

## Expected behaviour

- the notic

[2018-03-15 06:40] AcckiyGerman commented on #157
@zelima , Me and Anu had the same idea as Rufus suggested in the previous comment:

can we use /r/ links instead of full pkgstore URLs?

Something like this might work in the template:
[code]

Btw, I never liked those `extension` suffixes, they look redundant to me, as they are always the same, as an extension.
@zelima what do you think we could do?

[2018-03-15 06:53] anuveyatsu commented on #157
@AcckiyGerman I think enumerating is fine and it is the resource indexes from original dp.json.

Re suffixes, we cannot just remove them because it should be different from original resource name. E.g., we already have `file.csv` (original) and then we have derived one `file_csv.csv` - both are CSV but derived one is processed one (cleaned, improved, normalized etc).

I would suggest here doing th

[2018-03-15 07:28] AcckiyGerman commented on #157
One more bug with `cURL` instructions:
[code]

[2018-03-15 07:49] AcckiyGerman commented on #157
One more bug with Pandas instructions:   need to add installation section
[code]

[2018-03-15 08:32] anuveyatsu commented on #121
This is now FIXED, starting from v0.8.6 IP addresses are considered as `string` with `default` format:

[code]

source: http://api.datahub.io/source/90998f7f90e086bd5fc7c9075dfda43b/100kb/latest

[2018-03-15 08:33] AcckiyGerman opened #170 "Search works unexpected with connective words (the, in, on, etc)"
Connective words and articles words make search results invalid :(
This is incorrect. I think we should exclude such words from the filter conditions.

## How to reproduce

#### http://datahub.io/search?q=Mauna+Loa
- 2 have 'Mauna Loa' in the title
- 1 have 'Mauna Loa' in the Readme

This is correct

#### http://datahub.io/search?q=the+Mauna+Loa
* only 1 dataset with 'the Mauna Loa' in the Readme

[2018-03-15 08:33] AcckiyGerman commented on #170
@zelima ^^^

[2018-03-15 08:33] anuveyatsu commented on #101
This is now FIXED, starting from v0.8.6 when validating a datapackage with a backwards path, you'd get following error message:

[code]

[2018-03-15 08:59] AcckiyGerman opened #171 "Update available message frame is broken."
![Screenshot from 2018-03-15 09-52-32.png](https://images.zenhubusercontent.com/5a28f5738a75884b908a349a/ca1c6f6b-596c-4199-86f3-c7ed87f14595)

## How to reproduce

Environment: Ubuntu 17.10, Gnome Terminal 3.24.2 (used by default in new Ubuntu versions)

- get the old version of data-cli
- run some command, see the buggy update message
- if no message uppers, wait for 1h (update lib checks update

[2018-03-15 10:20] Mikanebu opened #172 "Pushing multiple sheets of a excel file doesn't work"
Only one sheet is being processed, however, I specify multiple sheets, e.g., https://datahub.io/Mikanebu/hello3

What's working:
- if in `processing` property there is only one item then it works 👍 e.g.:
  - http://api.datahub.io/source/90998f7f90e086bd5fc7c9075dfda43b/sample-2-sheets/7

Not working:
- if in `processing` property there is more than one sheet then it processes only the first one:

[2018-03-15 10:57] AcckiyGerman commented on #101
@anuveyatsu could we add some clarifying message, like
[code]

Because current message gives you a feeling that something is wrong,
[code]
But only a RegEx ninja will understand what!

[2018-03-15 11:02] anuveyatsu commented on #101
@AcckiyGerman ok 👍 I will add that explanation message soon and will release v0.8.7 of the CLI tool.

[2018-03-15 11:06] AcckiyGerman commented on #156
TESTED & FIXED
- Docs are now in the separate repo, and any github user could easily suggest some fix (via forking and then PR-ing
- repository is secured properly (read-only for non-team members)

[2018-03-15 11:06] #156 closed

[2018-03-15 11:12] AcckiyGerman commented on #164
TESTED & FIXED

[2018-03-15 11:12] #164 closed

[2018-03-15 11:19] AcckiyGerman commented on #119
@zelima I think this does not work :(
[code]
![image](https://user-images.githubusercontent.com/11707682/37460228-e9b6a9a4-284a-11e8-8173-28e25ac67238.png)

[2018-03-15 11:24] AcckiyGerman commented on #119
May be the test excel file should have   `true` and `false` instead of `1` and `0` ?

[2018-03-15 11:26] AcckiyGerman commented on #119
[code]

Again  the inferred schema is not valid for `tableschema-py` hmmm

[2018-03-15 11:41] AcckiyGerman commented on #121
FIXED:
https://datahub.io/AcckiyGerman/ip-uri-test
- raw IP address is not consider as URI
- Infer and Validate methods of `tableschema-js` has been changed accordingly

[2018-03-15 11:41] #121 closed

[2018-03-15 12:05] zelima commented on #151
@AcckiyGerman I recommend closing this as WONTFIX and open new one named `support pushing multiple files`... and update QA spreadsheet

[2018-03-15 12:11] zelima opened #173 "Storage limit for space is not working"
If you try and push dataset that exceeds allowed storage limit it will get pushed anyway

## How to reproduce

* setup size allowance to 1MB for your user (ask admin)
* push >2 MB file

## Expected behavior

CLI displays error `exceeded allowed storage limit` or similar

[2018-03-15 12:14] zelima opened #174 "Private storage space limit is not working"
Try and exceed private storage limit dataset with `private` findability - it get's pushed

## How to reproduce

- setup private size allowance to 1MB for your user (ask admin)
- push >2 MB file with `--findability=private`

## Expected behavior

CLI displays error `exceeded allowed private storage limit` or similar

[2018-03-15 12:21] zelima opened #175 "Not allowed to push revision of dataset if I reached the limit"
If you try and push a new revision of existing dataset once you reached the N limit of datasets, you won't be able to do so. Getting error from CLI `reached the maximum number of datasets`

## How to reproduce

* setup private size allowance to 2 datasets for your user (ask admin)
* push 1 dataset 3 times  (3 revisions)

## Expected behavior

revisions should not count as datasets (should be allow

[2018-03-15 12:38] zelima opened #176 "--sheets VS --sheet for pushing excel files"
Due to the fact that users may be confused, we support both `--sheets` and `--sheet` flag when pushing excel files. This two option should work identically. Although in most cases the work fine, sometimes `--sheet` acts not as expected

## How to reproduce

- data push files/excel/sample-1-sheet.xls[x] --sheet=notAsheetname

Publishes the first sheet

## Expected behavior

Should error: `sheet doe

[2018-03-15 13:19] zelima commented on #119
@AcckiyGerman hm... One more headache...  It seems xlrd module (used in tabulator to stream xls https://github.com/frictionlessdata/tabulator-py/blob/master/tabulator/parsers/xls.py) parses booleans from excel as 1 and 0. https://stackoverflow.com/a/22245269/6056362

[2018-03-15 14:52] anuveyatsu opened #177 "Track users behaviour and preferences"
We aren't tracking users UX, behaviour and preferences while they're using the CLI app. Thus, we cannot know what's blocking them to publish datasets or what they actually do with the app. This also creates uncertainty about general usage of the app. Additionally, we don't know if new features/bug fixes are making any impact.

## How to reproduce

- there is no data about CLI usage

## Expected be

[2018-03-15 14:59] anuveyatsu commented on #177
This issue will have two parts:

- CLI: https://github.com/datahq/data-cli/issues/321
- frontend: https://github.com/datahq/frontend/issues/235

[2018-03-15 18:12] AcckiyGerman commented on #173
Let me try to fix it, I want to get used with AWS :)

[2018-03-16 04:30] zelima commented on #173
@AcckiyGerman ok, but don't think you will have to work with AWS, but probably with plans API https://github.com/datahq/plans/blob/master/plans/api.py

[2018-03-16 06:15] zelima commented on #119
Did some more analysis and suggested fix here, let's wait for response https://github.com/frictionlessdata/tabulator-py/issues/230#issuecomment-373613844

[2018-03-16 07:07] Mikanebu commented on #155
@AcckiyGerman It was FIXED in https://github.com/datahq/frontend/issues/163. Please, review and close

[2018-03-16 08:29] AcckiyGerman commented on #155
TESTED & FIXED
- All publisher dataset could be found now
- search on the publishers page now not just filter the loaded results, but do the actual metastore search.

[2018-03-16 08:29] #155 closed

[2018-03-16 11:34] zelima commented on #170
should now be fixed

[2018-03-19 07:32] anuveyatsu commented on #176
This is fixed in https://github.com/datahq/data-cli/commit/1913082e03f9488c2fda31600d0605a07317eb97 so `sheets` and `sheet` are aliases.

[2018-03-19 07:33] anuveyatsu commented on #101
Starting from `v0.8.7` the error message looks like following:

[code]

[2018-03-19 08:41] anuveyatsu commented on #171
I've removed boxes around the instructions, which appeared the only way of allowing users to copy multiple lines of commands. @AcckiyGerman

[2018-03-19 09:31] zelima commented on #176
@anuveyatsu can we close if fixed?

[2018-03-19 09:42] anuveyatsu commented on #176
@zelima the rule is that only @AcckiyGerman can close issues here, right?

[2018-03-19 12:31] zelima commented on #176
@anuveyatsu yes, sorry - did not paid attention that was looking at QA issue

[2018-03-19 18:09] anuveyatsu commented on #168
Now FIXED see any dataset page, e.g., https://datahub.io/core/finance-vix

[2018-03-20 06:20] anuveyatsu commented on #169
Now fixed here https://testing.datahub.io/docs/data-packages and will be in production in the next deployment.

[2018-03-20 06:42] Mikanebu commented on #57
WONTFIX as discussion suggests

[2018-03-20 06:42] #57 closed

[2018-03-20 07:36] anuveyatsu commented on #163
FIXED and live in production

[2018-03-20 08:07] anuveyatsu commented on #157
Merged https://github.com/datahq/frontend/pull/236 so this should be fixed now.

[2018-03-20 09:05] AcckiyGerman commented on #163
TEST:
1. [x] datapackage.json button - OK
2. [ ] Actions buttons - 50%
When: **`768 < window.width < 992`** we still have:
![image](https://user-images.githubusercontent.com/11707682/37644700-ee7b6082-2c24-11e8-8f4e-67c0c947292c.png)
( tested in the Chromium browser )

@anuveyatsu I'm not sure if it is fixed or not,
PRO: this `768...992` range is **not** common for FullHD or HD screens (it is not

[2018-03-20 09:08] AcckiyGerman commented on #169
TESTED & FIXED

[2018-03-20 09:08] #169 closed

[2018-03-20 09:28] AcckiyGerman commented on #168
FIXED
- on-hover title is added
- 'copied!' message is added

[2018-03-20 09:28] #168 closed

[2018-03-20 09:37] #163 closed

[2018-03-20 09:41] AcckiyGerman commented on #171
FIXED
- user can copy the 'update' command and paste it in the terminal
- no frame is NOT shown around the 'update' message

[2018-03-20 09:41] #171 closed

[2018-03-20 09:48] AcckiyGerman commented on #170
Partially FIXED

@zelima search is showing `0` results, for this request: http://datahub.io/search?q=gdp+in+uk
I'm not used with elasticsearch, but probably the `AND` condition should be replaced with `OR` somewhere. Or probably we could remove some words range (in, on, at, the, a, ...) from the request.

[2018-03-20 09:53] AcckiyGerman commented on #172
TESTED
- 2 of 2 sheets from the excel file were processed after `data push sample-2-sheets.xls --sheets=all`
- 2 sheets are shown on the showcase: https://datahub.io/AcckiyGerman/two-sheets-xls-test

FIXED
- `--sheets=all` works properly

[2018-03-20 09:53] #172 closed

[2018-03-20 09:57] AcckiyGerman commented on #176
TESTED
- both `--sheet` or `--sheets` are pushing sheets by name
- both `--sheet` or `--sheets` returns error when the name is incorrect

FIXED:
@zelima what if you have the sheet page with name `all` ? :)

[2018-03-20 09:57] #176 closed

[2018-03-20 10:07] AcckiyGerman commented on #101
@anuveyatsu not working for me:
[code]
I thought may be some of my `npm link` is not correct, so I downloaded the last version from the datahub:
[code]

So I cannot see the explanation message :(

[2018-03-20 10:09] zelima commented on #176
@AcckiyGerman good question /cc @anuveyatsu :)

[2018-03-20 10:15] AcckiyGerman commented on #152
TESTED & FIXED
- `data get <datahub link>` downloads the dataset, which have only one copy of the source file.

[2018-03-20 10:15] #152 closed

[2018-03-20 10:47] AcckiyGerman commented on #157
Links for Curl instructions are simplyfied:
![image](https://user-images.githubusercontent.com/11707682/37649560-748c1d8a-2c32-11e8-92ea-615ee5e29cec.png)

The blog-post is on the way: @anuveyatsu is reviewing it and then Rufus will do the final check.

[2018-03-20 10:50] AcckiyGerman commented on #157
FIXED:
- API functions are described in the docs: http://datahub.io/docs/features/api
- instructions for `data-cli` and `cURL` have been added

[2018-03-20 10:50] #157 closed

[2018-03-20 11:06] AcckiyGerman commented on #175
Not tested (@zelima I need a restricted user to test the feature)
But the fix code LGTM.

FIXED:
- Revisions of the dataset will not trigger the datasets' limit

[2018-03-20 12:02] #175 closed

[2018-03-20 12:12] AcckiyGerman commented on #177
I cannot test it without your help @anuveyatsu :)
How could I see the tracking? I'm going to run `data-cli` with some errors and see the results in the tracker.

[2018-03-20 14:32] anuveyatsu commented on #101
@AcckiyGerman here it is https://github.com/datahq/data-cli/commit/a2eeaf55ea7f5f573a85ac138adb0d849d4793a5

[2018-03-22 13:14] zelima commented on #119
This should now be fixed

[2018-03-23 11:14] zelima commented on #170
@AcckiyGerman doing a quite detailed analysis of this I've got the following: Since we are performing **phrase search** instead of simple word search the above behaviour seems expected. Basically `braw fox` and `fox brawn` are not the same:
By searching `gdp in uk` we search for the text where `gdp` is on the 1st position and UK on the 3rd and stopword between ignored. While there are no such resu

[2018-03-25 19:30] rufuspollock opened #178 "[init] data init improvements"
Work in progress!

* [x] make init non-interactive by default and add option --interactive or -i for interactive mode
  * [x] guess name from directory name
  * [x] use name to generate title
  * [x] set license to ODC attribution or PDDL (?)
  * [x] (?) Use readme to set description
* [x] decide which fields to auto create for the user e.g.
  * [x] licenses
  * [ ] ~~sources (?)~~
* ~~prompt for

[2018-03-26 09:15] AcckiyGerman commented on #101
@anuveyatsu my **`data push`** test failed coz your change is in the **`data-validate.js`**.
But anyway this code in the **`data-validate`** is not good.

### Reasons:
#### 1. ` if (... '/resources/0/path') ` - error msg **won't** be shown if
- the package contains more then 1 invalid resource
- the invalid resource is not `/0/`

#### 2. Why do we guess what kind of error was returned from the Val

[2018-03-26 09:28] AcckiyGerman commented on #177
FIXED: we track:
- how `data-cli` is used (with the Google analytics lib)
- we track users on our site
- we track the `data-cli` errors

[2018-03-26 09:28] #177 closed

[2018-03-26 09:47] AcckiyGerman commented on #119
TESTED & FIXED:
- test excel file was pushed and processed:
 https://testing.datahub.io/AcckiyGerman/excel-test/r/0.html
- all-schema-types excel file was pushed and processed:
 https://datahub.io/AcckiyGerman/all-schema-types-excel

(only one small typo - integer is treated as a number) but it is ok I think
![image](https://user-images.githubusercontent.com/11707682/37899207-28278d68-30eb-11e8-99

[2018-03-26 09:47] #119 closed

[2018-03-26 10:08] anuveyatsu commented on #101
@AcckiyGerman nice catch - I've just fixed it. See 2 commits above.

[2018-03-26 10:51] AcckiyGerman commented on #101
TESTED & FIXED:
The `dp.json` that have prohibited `resource.path` will cause an error:
[code]
The first part of the error is not obvious to me, but the second is perfect

[2018-03-26 10:51] #101 closed

[2018-03-26 12:59] AcckiyGerman commented on #161
The embeddable tables has one more bug, @anuveyatsu :
![image](https://user-images.githubusercontent.com/11707682/37907624-efe02436-3105-11e8-8ba1-c6414c750d11.png)

When you scroll the table to the bottom - it takes only the half of the page height. Same here:

![image](https://user-images.githubusercontent.com/11707682/37907679-14804f1e-3106-11e8-9c48-ea3285df3d7b.png)

My assume is that Table h

[2018-03-27 05:02] zelima commented on #119
@AcckiyGerman that is expected see this comment https://github.com/datahq/datahub-qa/issues/119#issuecomment-371138172

[2018-03-27 10:35] anuveyatsu opened #179 ""data get" doesn't work with "r" links from datahub"
`data get` command is not working with datahub's `/r/` links.

## How to reproduce

- run `data get https://datahub.io/core/co2-ppm/r/0.csv`
- see bad error message

## Expected behaviour

Either:
- downloads the file and saves on the disk
- gives me clear error message about what's wrong

[2018-03-28 05:38] rufuspollock commented on #170
@zelima we should do word search rather than phrase search. I would imagine there is a way to trigger searching by phrase in ES e.g. by putting the phrase in quotes (?) (or is that something you would have to parse out yourself).

[2018-03-28 05:41] akariv commented on #170
Agree with @rufuspollock
+ move to OR condition (i.e. doesn't have to match all results)
+ remove stopwords to avoid getting completely unrelated hits.

[2018-03-28 06:56] zelima commented on #170
* Back to word search.
* stopwords ignored
@AcckiyGerman please, take look again

[2018-03-28 08:19] AcckiyGerman commented on #170
TESTED - the Search works perfectly.
FIXED:
- the keyword search doen't consider stopwords (the, in, at, etc)
- the search performed by words, not by whole phrases

[2018-03-28 08:19] #170 closed

[2018-03-28 12:38] Mikanebu commented on #179
@AcckiyGerman This issue is fixed in https://github.com/datahq/data-cli/issues/323. Please, review and close

[2018-03-29 09:22] anuveyatsu opened #180 ""Western-macos-roman" encoding is not recognized"
When I push a file with "Western-macos-roman" encoding, it is not detected correctly in the CLI, thus, the preview table on dataset page is broken:
https://datahub.io/anuveyatsu/western-macis-roman

## How to reproduce

- push https://github.com/frictionlessdata/test-data/blob/master/files/csv/encodings/western-macos-roman.csv
- wait until processing finishes and check the preview table

## Expect

[2018-03-30 05:59] zelima commented on #173
@AcckiyGerman this should be fixed

[2018-03-30 06:01] zelima commented on #174
@AcckiyGerman should be working

[2018-03-30 09:34] anuveyatsu opened #181 "Create FAQ section in the docs"
As a datahub user I want to see the FAQ doc to quickly find some common answers.

## Tasks

- [x] write a document
- [x] publish on the datahub/docs
- [ ] define the mechanism to update the FAQ from the user questions
  we can update FAQ using our bot:
[code]
:grinning:

## Acceptance criteria

- [ ] on the `/docs` page there is FAQs page at /docs/faqs

## Analysis

Questions people have asked:
**

[2018-03-30 11:27] AcckiyGerman commented on #173
TESTED & FIXED
- No able to load >1mb data when limit is 1mb
- Able to load 100kb data 12 times with the same name (different revisions size should not be summarized - OK)
- The error msg is not clear, but we have an issue for that

[2018-03-30 11:27] #173 closed

[2018-03-30 12:21] AcckiyGerman commented on #174
TESTED & FIXED
- No able to load >1mb data when limit is 1mb
- Able to load 100kb data 12 times with the same name (different revisions size should not be summarized - OK)
- The error msg is not clear, but we have an issue for that

[2018-03-30 12:21] #174 closed

[2018-03-30 13:29] zelima commented on #174
@AcckiyGerman actually sizes should be summed if they are different files, but I guess you pushed the same file 12 times (12 times?)

[2018-03-30 13:29] AcckiyGerman commented on #174
Yes

On Mar 30, 2018 15:29, "Irakli Mchedlishvili" <notifications@github.com>
wrote:

@AcckiyGerman <https://github.com/AcckiyGerman> actually sizes should be
summed if they are different files, but I guess you pushed the same file 12
times (12 times?)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/datahq/datahub-qa/issues/

[2018-03-30 13:42] enalposi opened #182 "Outdated SP500 data"
Hi. The S&P500 dataset contains outdated constituents. Maybe there is an issue with the logic parsing wikipedia and removing eliminated/changed symbols?

i.e. search for DOW (Down Chemical Company - ticker gone due to merger), or RAI (Reynolds American - tricker gone due to buyout). I thin the full list of removed symbols as of now is AN, BCR, R, DD, SPLS, CHK, BBBY, DLPH, SIG, LVLT, BHI, RIG, DNB

[2018-03-31 07:50] rufuspollock opened #183 "Improve dataset sharing and discoverability by adding SEO meta tags"
As X who wants to share a dataset on social media or in gitter etc I want to have a summary of the dataset along with a link to datahub stuff like an image (if exists) so that people know what this is

As DataHub Community member I want to improve the discoverability of my datasets by search engines

[code]

[2018-03-31 09:41] rufuspollock commented on #181
@anuveyatsu i've added some existing questions we've been asked. @AcckiyGerman and others may be able to think of others.

Small comment re issues: we seem to have a "bug style" reporting model now rather than user stories and acceptance criteria. For something like this (a new feature) user stories would be better. I wonder if we should shift the template back to old style or at least use it for

[2018-03-31 15:39] rufuspollock opened #184 "[rufus] Random Backlog"
* [ ] categories on blog e.g. "Data" (new datasets), "Features" (new platform features), "Ideas" (stuff like frictionless data library pattern)

[2018-03-31 16:27] rufuspollock commented on #182
@enalposi thanks for reporting this 👍

We're aware of the issue here and we'll get it fixed asap.

The best place to report issues on this specific dataset is here btw: https://github.com/datasets/s-and-p-500-companies - you may want to open an issue there instead.

[2018-03-31 17:50] enalposi commented on #182
Oh, ok. I wasn't aware there are several github projects. I'll close here and open where you said. Thanks.

[2018-03-31 17:50] #182 closed

[2018-04-02 05:38] AcckiyGerman commented on #161
FIXED
- embedded table are working
- view styles bugs were fixed

[2018-04-02 05:38] #161 closed

[2018-04-03 06:32] AcckiyGerman opened #185 "datahub-client complete documentation"
As a programmer I want to have a full documented lib so I can communicate with the DataHub easily.

## Acceptance criteria

- [x] README.md file in the http://github.com/datahq/datahub-client describes exported methods with the examples.

## Tasks

- [x] read https://github.com/datahq/data.js README.md file as an example
- [x] write the documentation file
- [x] update https://datahub.io/docs/tutor

[2018-04-03 15:05] AcckiyGerman opened #186 "[push] Define owner and ownerid on the server side."
https://github.com/datahq/data-cli/blob/a0eb8458feb8cec5c0d62b2f676a7ecf0b939a0e/bin/data-push.js#L90

[code]
I tried to provide fake `ownerid` or `owner` from some other user and I've got
- 'UNAUTHORISED' response from the server, for fake `ownerid`
- changing `owner` field does not affect on the server - result package owner are always correct

It looks like the server is secured. But anyway the

[2018-04-04 08:15] AcckiyGerman opened #187 "[epic] data-cli search"
As a user I want to search through the datasets from my terminal, so I could find data I need and/or create cool bash scripts!

## Expected behavior

[code]
Using in the shell script:
[code]

Verbose mode: `--verbose` or `--info`
[code]

### Requirements

- [ ] Search should follow all the rules we have for the site search:
    * [ ] Search performed only for authorized users
    * [ ] Results inc

[2018-04-04 12:22] AcckiyGerman opened #188 "Refactor data.js due to design specification."
Please read the specification from @rufuspollock carefully:
http://okfnlabs.org/blog/2018/02/15/design-pattern-for-a-core-data-library.html

## Acceptance criteria

- [ ] `data.js` has all the API, described in the document
    - [ ] `open()` a file
    - [ ] `open()` a dataset
    - [ ] ... and so on

[2018-04-04 12:42] anuveyatsu opened #189 "Search related issues"
Here are several issues I've experienced recently with current search:

- I couldn't find https://datahub.io/core/airport-codes dataset using search on datahub. Search term: "Airport codes"
- If I search for "country list", "country" or "list of countries", `core/country-list` dataset doesn't appear as the first result, however, I think it is the most relevant one
- If I search for "consumer price

[2018-04-05 06:19] AcckiyGerman opened #190 "Simplify the Login and Authenticate procedures"
As a programmer I want to have a simple methods to Login/Auth

## How to reproduce

Now
- [ ] the login process is too complex
- [ ] Need to open a browser window to login (cannot be used in the SDK)

## Expected behavior

Propose from @zelima
[code]
btw, what is "whatever" ? If we need to get "whatever" anyway, could we just skip it and get a Token instead?

Propose from the @acckiygerman
[code]

[2018-04-05 09:21] AcckiyGerman opened #191 "Simplify the DataHub class for using in other libs."
As a `datahub-client` library user I want to have a simple way to push the data.

## the problem

Now the DataHub class requires too many options.
[code]

All those apiUrl, debug, findability etc… stuff should have defaults in client and user should not be bother defining them in the config I think.

## Tasks

- [ ] set default parameters as much as possible
- [ ] change the docs

### related issu

[2018-04-05 14:35] AcckiyGerman opened #192 "Search does not show just pushed dataset."
## How to reproduce

- `data push data.csv --name newname`
- Wait for few minutes
- search https://datahub.io/search?q=newname
- got nothing :(

## Expected behavior

I could find a new dataset soon after pushing

[2018-04-05 14:42] AcckiyGerman commented on #192
INVALID  (forget to add `--published` when tested)

[2018-04-05 14:42] #192 closed

[2018-04-05 14:52] AcckiyGerman opened #193 "--public and --published"
I think we should use `--public` as a synonym of `--published` - because we already have **private** and  **public** is a good antonim for it.

## Expected behavior

- [x] `data push --public` and `data push --published` have the same behavior

[2018-04-05 15:01] rufuspollock commented on #193
@AcckiyGerman i would suggest we actually deprecate `--published` and just use `--public` -- we can add a note to changelog that this was deprecated.

[2018-04-05 17:51] behnam opened #194 "[core/country-list] Inaccurate dataset title"
The title of <https://datahub.io/core/country-list> says "List of all countries with their 2 digit codes (ISO 3166-2)". But the data provided is for Part 1 (ISO 3166-1).

The rest of the page refers to the data as "ISO 3166-1", which is correct.

[2018-04-06 04:57] zelima opened #195 "Pagination is not working correctly on publisher page"
Try and search something on publishers page and hit any other page button, you will be redirected to that page but not on the page of what you are searching for. (Query parameter is getting lost)

## How to reproduce

- go to core https://datahub.io/core
- search for Airport Codes https://datahub.io/core?q=Airport+Codes
- Hit the next page

## Expected behavior

When I hit 2nd I should lend here h

[2018-04-06 05:27] zelima commented on #189
@anuveyatsu
* There's definitely something wrong with airport codes - investigating.
* Agree with the country list as well - investigating.

But think nothing's wrong with consumer price index, as the given result is the best match - it exactly matches the searched phrase and has a better score. I can boost core even more but think I, as a  publisher of JohnSnowLabs, may not be happy that my datas

[2018-04-06 06:47] zelima commented on #189
* [x] Airport codes fixed. Findability was defined incorrectly in flow.yaml https://github.com/datasets/airport-codes/commit/aa0b635a5ca63efdecfbe879da6ad9185f5932cc
  * https://datahub.io/search?q=Airport+Codes

[2018-04-06 06:58] AcckiyGerman commented on #193
@rufuspollock @zelima
We discussed the issue in the chat and conclusion is:
- `--published`, `--publish`, `--public` arguments should lead to `"findability": "published"` in the descriptor
- server supports only `"findability": "published"`

@zelima two questions here:
- what should we do if user wrote `findability: "public"` in the `dp.json` (as it was in airport-codes)?
- when we implement searc

[2018-04-06 08:36] anuveyatsu opened #196 "Research about datahub.exe (installable) for Windows (and even for mac and linux…)"
At the moment, installing `data` tool requires manual work and some technical background, which might be a major barrier for some users. We want to have some installable version of the tool especially for Windows which sets up everything for the users.

## How to reproduce

- download the `data` tool from https://datahub.io/download
- see that you need to do some manual work to have everything set

[2018-04-06 10:24] AcckiyGerman commented on #71
@zelima consider using `pypy` instead of `python` interpreter on the server - it could be twice faster!

[2018-04-06 11:27] Mikanebu commented on #195
@AcckiyGerman This is FIXED in https://github.com/datahq/frontend/issues/250. Please, review and close

[2018-04-06 15:57] AcckiyGerman commented on #193
FIXED:
* `--public`, `--published`, `--publish` arguments lead to `"findability": "published"` in the descriptor
* Docs updated (with the --public keyword)
* test added for `--public`
* `push-flow` now checks that findability is correct (fixed in `datahub-client`)

[2018-04-06 15:57] #193 closed

[2018-04-06 16:37] AcckiyGerman commented on #195
Tested:
- query parameter are not lost after click on paginations - OK
- NEW BUG appears now - the query parameter goes inside the search field
![image](https://user-images.githubusercontent.com/11707682/38432936-62090746-39c9-11e8-8207-26ae1df3c2cc.png)

@Mikanebu this is a new bug, seems it is related to your fix, could you check it?

[2018-04-09 06:37] Mikanebu commented on #195
@AcckiyGerman Great catch! Fixed in this PR https://github.com/datahq/frontend/issues/252. Please, review and close

[2018-04-09 14:26] AcckiyGerman commented on #195
TESTED, @Mikanebu @anuveyatsu the search pagination is not working :(
- go to the core page, enter the search string: https://testing.datahub.io/core?q=data
- press on `|2|`  in pagination - and got the bug:
    - redundant double quotes appears in the address bar (and the search-box): https://testing.datahub.io/core?from=20&q=%22data%22   `%22 is "`
    - search results disappears :cry:

[2018-04-09 15:09] rufuspollock commented on #194
@behnam nice catch and we'll fix that!

[2018-04-09 15:12] rufuspollock commented on #195
@AcckiyGerman @Mikanebu where is the test case for this stuff - this should not need testing by eye ;-) /cc @anuveyatsu

[2018-04-09 16:15] Mikanebu commented on #194
@behnam @rufuspollock FIXED, updated on DataHub https://datahub.io/core/country-list and GitHub https://github.com/datasets/country-list

[2018-04-09 16:15] #194 closed

[2018-04-09 16:25] Mikanebu commented on #195
Added 2 test cases about pagination and search box into QA spreadsheet.

[2018-04-10 06:26] AcckiyGerman commented on #195
TESTED & FIXED
- search output is paginated
- all pagination buttons works
- tested on the publishers page and on the search page

[2018-04-10 06:26] #195 closed

[2018-04-10 08:11] anuveyatsu opened #197 "[get] command error when saving a file"
From the Sentry report, we have received following error twice in the last 10 days:

https://sentry.io/share/issue/9a0e80c488e34097a96bf5119cf1775f/

`data` version: v0.8.9
OS: MacOS and the second one is unknown
Installed via: both via NPM
NodeJS versions: v8.9.4 and v7.10.0

The command ran: `data get https://datahub.io/examples/sample/r/sample.csv`

[2018-04-10 08:54] anuveyatsu commented on #197
This is happening because we haven't released a new version of the CLI with support for `/r/` links.
`v0.8.10` will include fix for this.

[2018-04-10 08:54] #197 closed

[2018-04-10 18:43] anuveyatsu commented on #196
Probably bringing back Electron app would be a good idea here - it does all the installation work + can be used as an updater.
We can simplify the Electron app so it does only one thing, which would make the maintenance easy. It also could be a recommended way of installing the `data` tool.

Pros:

- the main functionality is already implemented so easy to have it in place
- cross-platform
- previ

[2018-04-11 07:52] anuveyatsu opened #198 "Possible resource path related issue in Windows"
Looking at this report, I'm not sure if it's happening because user provided the wrong path to a resource or our code behaves differently in the Windows OS:

https://sentry.io/share/issue/18b80085753f44ecae1bbfb641d0d11a/

as you can see a path to a resource was considered as relative to dp.json.

## Tasks

* [x] try to reproduce on Windows

[2018-04-11 07:57] anuveyatsu opened #199 "Provide instructions on LinuxOS when "xdg-open" error occurs"
It isn't the first time when Linux users are experiencing "xdg-open" error. Although we have documented it in our installation docs, we could print instructions of how to fix it when user gets that error.

https://sentry.io/share/issue/2e461f94e87c487b9e6e76e94a180d6d/

[2018-04-11 08:04] rufuspollock opened #200 "[tools] Online data package validator"
As Core Data Curator I want to see a link to a validation report so that I and the submitter know the package is valid

See old tools page https://web.archive.org/web/20160430164307/http://data.okfn.org/tools

https://web.archive.org/web/20160430164307/http://data.okfn.org/tools/validate

[2018-04-12 08:11] akariv commented on #196
I'm not entirely sure @anuveyatsu.

My instinct is to go for a simple installer, plus a check for latest version on each run of `data` and showing message to go to `dathub.io/download/` for a new release (in case it exists).

[2018-04-12 08:16] anuveyatsu commented on #196
@akariv the CLI tool already notifies users if there is an update with instructions on how to do the update from the command line (we also provide instructions based on users OS) - https://github.com/datahq/data-cli/blob/master/lib/utils/update.js

Ok re simple installer.

[2018-04-12 09:53] rgieseke opened #201 "Show license for individual resources"
Following up on chat discussion, the data files section in the DataHub UI currently don't display licenses (I think)

As Data Packages (see e.g. https://github.com/frictionlessdata/example-data-packages/blob/master/geo-location-fk/datapackage.json) can have different licenses per resource this might be useful to add (unless it's just not visible if no dataset on DataHub has differing licenses at t

[2018-04-12 10:03] rufuspollock commented on #201
@rgieseke that's right - we only display the overall license. I guess we could show individual licenses per resource if they were there but i imagine it is a small percentage of cases.

[2018-04-12 15:06] anuveyatsu commented on #112
Same problem here - https://github.com/zeit/now-cli/issues/564

[2018-04-13 07:27] AcckiyGerman opened #202 "`data validate` accepts wrong headers, if no data rows"
`data validate` reports false `your package is valid` when
- data file contains no data inside
- data file have only 1 row with invalid headers.

## How to reproduce

Try to validate this dataset:
[invalid_dataset.zip](https://github.com/datahq/datahub-qa/files/1906219/invalid_dataset.zip)

## Expected behavior

Create a valid datapackage with tabular resource (`data init`) and then break the data

[2018-04-13 07:38] AcckiyGerman opened #203 "animate data-cli documentation"
Comes from this comment: https://github.com/datahq/datahub-content/pull/7#pullrequestreview-111908822

## How to reproduce

Visit https://datahub.io/docs/features/data-cli

## Expected behavior

- [ ] We have fancy animated gif images showing the usage example.

[2018-04-13 07:55] Mikanebu opened #204 "Did not get a notification about new release"
I did not get any warning about using old version old data-cli

## How to reproduce

- Install an older version of data-cli
- Run any command

## Expected behaviour

I should get a warning saying that I'm using old version of the CLI tool.

[2018-04-13 08:04] AcckiyGerman commented on #202
Added two test cases in our QA tests spreadsheet

[2018-04-13 08:51] anuveyatsu commented on #204
Should be fixed with the next release.

[2018-04-13 09:58] anuveyatsu commented on #202
@AcckiyGerman I have left a comment in the simliar issue on tableschema-js repo - https://github.com/frictionlessdata/tableschema-js/issues/131#issuecomment-381087226
I guess it should be fixed from there.

[2018-04-13 11:47] zelima commented on #189
@AcckiyGerman all this issues should be fixed now

[2018-04-16 06:54] AcckiyGerman commented on #204
Before update check results was cached for 1 hour.
FIXED:
The update check results are not cashed. Update warning will be shown after each command run.

@Mikanebu @anuveyatsu I liked previous behavior (notify once in a hour) but let's wait for users feedback about this.

[2018-04-16 06:54] #204 closed

[2018-04-16 07:03] AcckiyGerman commented on #199
FIXED: I cannot reproduce the bug, but I see the solution:
[code]

BTW   my `xdg-open` is in the `/usr/bin` dir, but still works :)

[2018-04-16 07:03] #199 closed

[2018-04-16 07:09] AcckiyGerman commented on #189
TESTED:
- [x] search for Airport codes
- [x] country list
- [x] consumer price index

FIXED:
In all tree cases, the 'core' datasets are shown on the first place.

[2018-04-16 07:09] #189 closed

[2018-04-16 09:43] Mikanebu commented on #198
@anuveyatsu I was unable to push dataset from CWD using `windows-cli`.

How to reproduce:
* run `data push` from CWD which has `datapackage.json` and `one resource`.

Error message: `Error! No datapackage.json at destination`

[2018-04-16 09:55] AcckiyGerman commented on #200
# Analysis

## what we have now (re validation):

- datasets' descriptor is validated before the push happen
- datasets' data (resources) and the descriptor pass the validation, while processed
- any errors found are displayed on the dataset's page
- validation report is added to the stored dataset resources (but is not shown on the dataset's page).

## what do we need
- [ ] convince the curator t

[2018-04-16 10:15] zelima commented on #200
@AcckiyGerman think this is a bit "overanalysed". We just need a simple online validator of the datapackage.json  http://data.okfn.org/tools/validate

* it will simply do the `DataPakcage.validate(url)`  in the backend
* think https:///datahub.io/tools/validate is fine enough for endpoint

[2018-04-16 12:39] AcckiyGerman commented on #200
Ok, so we do the copy of http://data.okfn.org/tools/validate page.
That's quite easy:

## Tasks

- [ ] implement http://datahub.io/tools/validate page
 (why 'tools'? - probably we'll have more online tools)
- [ ] organize a background validation (probably using `datapackage-js`
- [ ] add tests
- [ ] add a link from the main page
- [ ] describe the feature in the docs.

[2018-04-17 08:25] marcel-gross opened #205 "data missmatch issue in the Dataset ISO 6346 Container Type Codes"
Describe the issue

There seems to be  a missmatch issue with the Dataset ISO 6346 Container Type Codes maintained by core:
Here some examples the records in the dataset show with our findings:

<code>code,description,length,height,group</code>
<code>22B0,Bulk,20,8.5,22B0			<-- TypeCode 22B0 should belong to Group 22BU</code>
<code>20B0,Dry Bulk,20,8,22B0			<-- TypeCode 20B0 seems not to exist acc

[2018-04-17 08:31] Mikanebu commented on #205
@marcel-gross Thanks for reporting this. We will fix it ASAP

[2018-04-17 08:33] marcel-gross commented on #205
Sorry - some correction for the Expected behavior, which should actually be more like this:

## Expected behavior

<code>code,description,length,height,group</code>
<code>22G0,General Purpose Conainer,20,8.5,22GP</code>
<code>22B0,Bulk,20,8.5,22BU</code>
<code>42H0,Insulated Container,40,8.5,42HR</code>
<code>42R1,Reefer Container,40,8.5,42RT</code>
<code>49P0,Platform,40,4,9PL</code>

[2018-04-17 09:30] Mikanebu commented on #205
@marcel-gross FIXED, please see this issue https://github.com/datasets/ISO-Container-Codes/issues/4. And also, republished to DataHub https://datahub.io/core/iso-container-codes. Good catch! Thanks for reporting this! I am closing now as a FIXED, please, fee free to reopen it anytime.

[2018-04-17 10:17] anuveyatsu opened #206 "[init][win] problem with reading name of the current working dir"
When I try to run `data init -i` on Windows, it can't read cwd name - it takes the absolute path.

## How to reproduce

- on windows, run `data init -i`
- see default datapackage name

## Expected behavior

- default name is cwd's name

[2018-04-17 10:27] anuveyatsu opened #207 "[push][validate][win] commands doesn't work without argument"
On windows, if I run `data push` or `data validate` without arguments, I expect it to use cwd (as it works on unix) but it fails saying:

`> Error! No datapackage.json at destination.`

## How to reproduce

- on windows, create a project with datapackage.json
- run `data push`
- run `data validate`
- see error message

## Expected behavior

- it uses cwd

[2018-04-17 10:33] anuveyatsu opened #208 "[push][validate][info] commands don't work with path to datapackage.json"
If I run `data push datapackage.json`, `data validate datapackage.json` or `data info datapackage.json` (on any OS) it fails saying:

`> Error! ENOTDIR: not a directory, stat '/.../.../.../datapackage.json/my-file.csv'`

## How to reproduce

- create a project for dataset and have `datapackage.json` in cwd
- run `data push datapackage.json`
- run `data validate datapackage.json`
- run `data info d

[2018-04-17 19:08] AcckiyGerman commented on #200
FIXED: http://datahub.io/tools/validate page implemented
- validation of the descriptor is performed using `datapackage-js`
- added a link from the main page
- added tests

[2018-04-18 04:47] zelima commented on #200
@AcckiyGerman Can we use empty space to advertise CLI or something else. Eg: "you can validate your package locally with data CLI"  and button to download or getting started.

[2018-04-18 04:53] zelima commented on #200
@AcckiyGerman @anuveyatsu can we work a bit on CSS as well here? Eg:
* make button and input thinner
* Validity status is really ugly:
![image](https://user-images.githubusercontent.com/15143785/38912344-c869d144-42e5-11e8-9e2a-4f1d25dcac42.png)

* Also navbar is now out of scope (not sure it's caused by this changes)

![image](https://user-images.githubusercontent.com/15143785/38912387-03336538-4

[2018-04-18 05:58] AcckiyGerman commented on #200
Thanks for feedback. So we'll make more improvements:
- [ ] support for non-row addresses (add ?row=true, add 'datapackage.json', etc):
    - [ ] https://datahub.io/core/gdp
    - [ ] https://github.com/datasets/gdp
    - [ ] https://github.com/datasets/gdp/blob/master/datapackage.json
- [ ] improve CSS (see previous comment) - @anuveyatsu
- [ ] add advertising for `data-cli`, e.g.
      "you can

[2018-04-18 06:45] marcel-gross commented on #205
Dear All
Thanks a lot for that rapid correction - brillant!
best regards
Marcel Gross

[2018-04-19 09:14] anuveyatsu opened #209 "[frontend] validation report is not displayed"
Although there are validation errors, the report isn't displayed - https://datahub.io/core/cirp-freshmen-survey

[2018-04-19 12:08] AcckiyGerman commented on #200
FIXED: http://datahub.io/tools/validate page implemented
- validation of the descriptor is performed using `datapackage-js`
- added a link from the main page
- added tests
- redirect from http://data.okfn.org/tools/validate (should be already done by @anuveyatsu )

[2018-04-19 12:17] AcckiyGerman commented on #185
FIXED:
- https://github.com/datahq/datahub-client/blob/master/README.md
- https://datahub.io/docs/tutorials/js-sdk-tutorial

[2018-04-19 12:17] #185 closed

[2018-04-20 05:40] anuveyatsu commented on #208
FIXED in v0.9.1

[2018-04-20 05:40] anuveyatsu commented on #178
FIXED in v0.9.1

[2018-04-20 05:44] anuveyatsu commented on #196
FIXED see MSIs in https://datahub.io/download

[2018-04-20 08:37] anuveyatsu commented on #207
FIXED in v0.9.2

[2018-04-20 08:37] anuveyatsu commented on #198
This is now FIXED in v 0.9.2

[2018-04-20 08:38] anuveyatsu commented on #206
FIXED in v0.9.2

[2018-04-20 09:58] AcckiyGerman opened #210 "How to prepare data & create a dataset."
As a new datahub user I want to learn **how to prepare the data and create a data package**.

## Expected behavior

User reads the documentation and understands:
- [x] what is data-packages
- [ ] how to get data (scraping web, pdf, csv, source api, etc)
- [x] how to to clean and transform data (and why)
- [x] how to create a data-package and share it

## Tasks

- [x] create a new section in the do

[2018-04-20 10:00] AcckiyGerman commented on #34
FIXED:
- The output of this issue is this: https://datahub.io/docs/automation
  but it is about `data push flow`

So we will create a more general guide:
- How to prepare data & create a dataset. new issue created: https://github.com/datahq/datahub-qa/issues/210

[2018-04-20 10:00] #34 closed

[2018-04-20 11:36] Stephen-Gates opened #211 "Online validation does not detect foreignKeys error"
validated https://raw.githubusercontent.com/frictionlessdata/example-data-packages/48a4399b23d83a2dba98e75cb43ae3beec5e3bfa/donations/datapackage.json successfully - I was expecting an error due to Foreign Keys

## How to reproduce

- enter `https://raw.githubusercontent.com/frictionlessdata/example-data-packages/48a4399b23d83a2dba98e75cb43ae3beec5e3bfa/donations/datapackage.json` into [online val

[2018-04-22 17:02] Branko-Dj opened #212 "cURL zip file not printing output"
Describe the issue

zip file not printing output when running curl command

## How to reproduce

- run curl -L https://datahub.io/core/finance-vix/r/1.zip

## Expected behavior

you could read the data in terminal (or any prefered shell)

[2018-04-23 06:37] AcckiyGerman commented on #178
TESTED:
Everything looks good...

...except the very rare case if we already have an INVALID datapackage.json file:
[code]
@anuveyatsu I would like to print an error: "existing descriptor file is invalid, please fix or delete it manually". Created a PR for it, please review: https://github.com/datahq/datahub-client/pull/42

[2018-04-23 06:44] AcckiyGerman commented on #211
## chat-log:
Dima German @AcckiyGerman Apr 20 16:20
@Stephen-Gates the online validator found no errors, coz datapackage-js found no errors:
[code]
If there really should be an error due to Foreign Keys - we have to do a PR to frictionlessdata/datapackage-js then

Stephen Gates @Stephen-Gates Apr 20 22:40
@AcckiyGerman, we’ve started on making the change ODIQueensland/data-curator#277 to support t

[2018-04-23 06:57] AcckiyGerman commented on #212
@Branko-Dj thanks for the issue :grinning:
Of course we can't affect the `curl` program to force it to unpack and show what's inside "zip".

But we can change our instructions, e.g.:
- not show `curl` command for  zipped resources
- `curl .../1.zip > 1.zip` to save the file
- wget instead of curl to save the file

I think the first variant is the better one.

This is a lines you should edit:
https

[2018-04-23 07:08] AcckiyGerman commented on #178
FIXED:
- data init now works in automatic mode by default
- interactive mode by `-i, --interactive` arguments
- blog post has been published.

[2018-04-23 07:08] #178 closed

[2018-04-23 16:15] AcckiyGerman commented on #183
TESTED & FIXED
- dataset's pages now contain the meta information including dataset's title and description.

[2018-04-23 16:15] #183 closed

[2018-04-23 16:19] AcckiyGerman commented on #178
@anuveyatsu also we should skip hidden folders, like `.git`, `.idea` etc, or we get:
[code]

[2018-04-23 16:57] AcckiyGerman commented on #208
TESTED:
- [x] data info datapackage.json
- [x] data push datapackage.json
- [ ] data validate datapackage.json - GOT THE BUG!!!
[code]
@anuveyatsu ^^^

[2018-04-23 17:14] AcckiyGerman commented on #196
TESTED & FIXED
- data-cli  `.msi` installator works good on my PC (at least x64 version)

[2018-04-23 17:14] #196 closed

[2018-04-23 17:15] AcckiyGerman commented on #196
@anuveyatsu @akariv
 I think now we could delete link to `data-win.exe` binaries from the download page.

[2018-04-23 17:25] AcckiyGerman commented on #198
TESTED: Users can push:
- one data file
- dataset with one resource
FIXED

[2018-04-23 17:25] #198 closed

[2018-04-23 17:27] AcckiyGerman commented on #206
TESTED on win7 x64 and FIXED

[2018-04-23 17:27] #206 closed

[2018-04-24 10:43] #208 closed

[2018-04-24 12:39] andylolz opened #213 "My datasets data is out of sync – how do I force a refresh?"
The latest changes to [datasets/dac-crs-codes](https://github.com/datasets/dac-crs-codes) are [not reflected on datahub](https://datahub.io/core/dac-and-crs-code-lists).

How can I deploy / force a refresh? Thanks!

[2018-04-24 12:47] anuveyatsu commented on #213
@andylolz one of our data curators need to redeploy this dataset. @Mikanebu can you please handle that?

[2018-04-24 14:37] AcckiyGerman commented on #213
FIXED - I've redeployed dataset

[2018-04-24 19:58] anuveyatsu commented on #202
@AcckiyGerman by the way, do you think this issue should be considered as "Major"?

[2018-04-25 05:10] AcckiyGerman commented on #202
Not really, I just wanted to get attention to the bug, it is Minor, I think

On Apr 24, 2018 21:58, "Anuar Ustayev" <notifications@github.com> wrote:

[2018-04-25 06:37] AcckiyGerman commented on #71
@akariv WDYT about `pypy` interpreter? ^^^

[2018-04-25 08:26] anuveyatsu commented on #178
@AcckiyGerman

* I have added a fix that normalizes the dataset name + file name according to specs. However, all non-ascii characters are just replaced by `-` character. We do more work on handling non-ascii in https://github.com/datahq/data-cli/issues/235. The fix is here:
  * https://github.com/datahq/datahub-client/commit/a36b72c852d7f50dc7a69ffb12f32a66e54e3d9a
  * https://github.com/datahq/d

[2018-04-25 09:49] AcckiyGerman commented on #150
... fixing this issue I've realized that descriptor file is never saved directly, when you do `data get github/...`
- it is loaded into descriptor object while dataset loads
- it is loaded as a `File` object via JSON.stringify
- then it is saved

[2018-04-25 10:06] AcckiyGerman commented on #150
FIXED:
[code]

Only bug left is when the dataset are loaded from the github - the `resource.type` is `remote`.
Even if we save the dataset on the disk, `resource.type` is not changed, and we cannot push this resource later :disappointed:

But this is another issue I think.

[2018-04-25 10:06] #150 closed

[2018-04-25 10:14] AcckiyGerman opened #214 "Cannot push dataset, derived from github via `data get`"
Do `data get http://github.com/datasets/gdp`:
-  the saved descriptor contains resources with `type: "remote"` (despite those are dumped and factically are local).
- Then we could not push such a dataset (`data push` doen't support pushing remote resources)

## How to reproduce

[code]

## Expected behavior

- [ ] downloaded dataset's `descriptor.resources` `type` property are changed to `local` a

[2018-04-25 12:47] AcckiyGerman opened #215 "DataHub findability on Google"
DataHub findability on google is quite bad at the moment.

Almost impossible to reach top-10 for **"store data online"** request  - dropbox, google drive, etc are highly competitive here.

But top-10 for **"share data online"** is possible I think.
https://google.de/search?q=share+data+online shows:
- 3 articles: "top 10 file sharing services", "8 simple ways to share...", "best online sharing ser

[2018-04-25 12:49] AcckiyGerman commented on #181
We should also add terms definitions in the FAQ:
- dataset is...
- datahub is...
- descriptor is...
- etc

[2018-04-25 13:02] AcckiyGerman opened #216 "New /download page"
As a user, I want to have all the info and links re installing `data-cli` on one page, so I save my time (instead of jumping from Download to Instruction page and back) .

# Ideal download page:

Title: **Command Line Tool**
===

Command line tool for handling Data Packages is called `data-cli`. Use it for:
- publish your data online
- get data from DataHub and GitHub
- prepare Data Packages
- [ma

[2018-04-25 13:09] AcckiyGerman commented on #216
## Tasks

- [ ] Rebuild the download page
- [ ] link http://datahub.io/docs/getting-started/installing-data -> http://datahub.io/download,
     coz we have plenty of tutorials linking on this page
- [ ] get our package into
    - [ ] aptitude   (works for all debian-based distros)
    - [ ] snap  (trendy package manager for snoozy drinkers)
    - [x] npm :)
    - [ ] MacOS package manager ?
    -

[2018-04-25 13:20] AcckiyGerman opened #217 "Small (interactive) tutorial for data-cli"
As a `data-cli` new user I want to see a small instruction or tutorial about how to get/prepare/push my data, so I don't need to go back on a web-site looking for instructions there.

## Tasks

- [ ] Analysis for a tutorial
    - [ ] what steps to cover
    - [ ] the way to show them (all at once or one by one, e.g.  show some tips about other possible commands after `data get`, `data init`, etc)

[2018-04-25 13:25] AcckiyGerman opened #218 "Track new users onboarding flow"
To get users who uses DataHub extra options (private datasets, storing >5Gb) we should track and analyse the users flow.

## Tasks

Implement the tracking of:
- [ ] Visiting DataHub
- [ ] downloading data-packages via browser
- [ ] following 'publish data' button (visiting /download page)
- [ ] installing data-cli
- [ ] pushing data
- [ ] pushing more data
- [ ] pushing Private data or >5Gb
- [ ]

[2018-04-25 13:29] AcckiyGerman opened #219 "Onboarding experience"
As a DataHub we want to improve our users onboarding experience, so they are happy and staying with us.

[2018-04-26 10:30] AcckiyGerman commented on #210
FIXED on 90%, also I'd like to add **scraping** section

@Branko-Dj you can edit the doc here when `scraping` paragraph is ready: https://github.com/datahq/datahub-content/blob/master/docs/getting-started/datapackage-find-prepare-share-guide.md

[2018-04-26 10:38] Branko-Dj commented on #210
@AcckiyGerman Ok, will do

[2018-04-26 12:58] AcckiyGerman commented on #180
Same with `data init` - the result resource has incorrect encoding

[2018-04-26 13:02] AcckiyGerman commented on #200
Link to the page is absent.
@anuveyatsu has to add it in the separate "more" menu dropdown.

[2018-04-26 13:09] AcckiyGerman commented on #213
NOT FIXED:   Travis should `data push` updated dataset after commit.

[2018-04-26 13:35] AcckiyGerman opened #220 "Cannot push datasets, derived from other owner"
## How to reproduce

[code]
Data package is pushed OK, but we got an error on the showcase page:
[code]

## Acceptance criteria

- [ ] User could push data, derived from the datahub, back by his own username

## related issues:
Solving this bug may solve these, too:
- [ ] https://github.com/datahq/data-cli/issues/233
- [ ] https://github.com/datahq/datahub-qa/issues/190

[2018-04-27 06:39] AcckiyGerman commented on #210
FIXED: https://datahub.io/docs/getting-started/datapackage-find-prepare-share-guide

[2018-04-27 06:39] #210 closed

[2018-04-27 08:38] AcckiyGerman opened #221 "Use a homepage property on the showcase page"
Question from the chat:

## Tasks

- [ ] show the `homepage` link on the showcase page
- [ ] add a QA test (and automate it?)

## Acceptance criteria

When the `datapackage.json` has a `homepage` or `sources` properties:
[code]
The result showcase page should contain that information.

[2018-04-28 13:21] Stephen-Gates opened #222 "Provide Tabular Data Packages as a download"
While there are lots of interesting extras in the datapackage.zip provided for download, it goes beyond the basic [tabular data package specification](https://frictionlessdata.io/specs/tabular-data-package/) preventing the file from being opened and unpacked by apps such as [Data Curator](https://github.com/ODIQueensland/data-curator).

Please consider providing Tabular Data Packages for download.

[2018-04-28 17:13] rufuspollock commented on #222
@Stephen-Gates can you detail exactly what is in there that prevents it being opened?

[2018-04-28 21:11] Stephen-Gates commented on #222
@rufuspollock we check for "one, and only one json file" in the package at [#L36 in importPackage.js]( https://github.com/ODIQueensland/data-curator/blob/develop/src/renderer/importPackage.js#L36)

When I download the zip from https://datahub.io/core/currency-codes#data, In Data Curator I get...

<img width="790" alt="screenshot 2018-04-29 06 24 15" src="https://user-images.githubusercontent.com/9

[2018-04-30 22:48] mattRedBox commented on #222
Hi @Stephen-Gates
If you need me to change the behaviour of the app, can certainly do that. My understanding from what you have told me is that we want Data-Curator to be opinionated, so enforcing what the spec says. I guess from reading the snippet you provided, it doesn't say specifically that there can be only 1, but the spec also uses 'it/descriptor' ie: singular, which I interpret to mean the

[2018-04-30 22:54] mattRedBox commented on #222
ok just saw the [issue raised](https://github.com/ODIQueensland/data-curator/issues/739). Understood.

[2018-05-01 03:05] Stephen-Gates commented on #222
@mattRedBox we are [opinionated](https://github.com/ODIQueensland/data-curator/issues/394) and a [tabular data package](https://frictionlessdata.io/specs/tabular-data-package/) only has one JSON file in the spec.

Let’s put it on the Data Curator Backlog and hope DataHub publishes tabular data packages or we find time to address in the future.

[2018-05-03 10:44] zelima commented on #167
@rufuspollock @anuveyatsu while this can be fixed in backend easily, the changes will be visible for the only future event, as those events are already exported into `metastore`. Even if we republished all the core datasets the result there would look like this and it will look a bit strange I think:
[code]

As a solution I recommend doing this in frontend by defining a  dictionary of `{event: eve

[2018-05-03 12:03] zelima commented on #213
@anuveyatsu any Ideas on this, maybe we could setup travis for doing this (on every push)

[2018-05-04 15:12] rufuspollock commented on #213
@zelima yes we should do this - and this should be standard practice. Can we:

* [ ] trial implementation
* [ ] document this in the core data guide
* [ ] automate setting up travis to do this (?)

[2018-05-07 04:55] zelima commented on #213
@rufuspollock agree. @Branko-Dj could you please take on this, with the guidance of @anuveyatsu as he has experience setting this up (datahub-kpis dataset)

[2018-05-07 05:27] anuveyatsu commented on #213
@Branko-Dj here is the good example - https://github.com/datapackage-examples/sample-csv
cc/ @zelima

[2018-05-07 08:47] otruja opened #223 "datapackage.json generated by CLI has windows style paths (on Win7)"
Example of the path `archive\\sdg-indicators.xlsx`

## How to reproduce

- run `cmd` from the directory with dataset
- run `data init` command

## Expected behavior

Supposed to be `archive/sdg-indicators.xlsx`

Parent issue [here](https://github.com/otruja/sdg-indicators/issues/2)

[2018-05-17 09:21] otruja opened #224 "We might not need `pathType` in the datapackage.json"
We might not need key `pathType` in generated `datapackage.json`

## How to reproduce

- run `cmd` from the directory with dataset
- run `data init` command

## Expected behavior

Parent issue [here](https://github.com/otruja/sdg-indicators/issues/2)

[2018-05-18 05:18] zelima opened #225 "Search is not working"
Search is not filtering at all.

## How to reproduce

- got o https://datahub.io/search
- search anything - always the same result

## Expected behavior

filters the results: https://datahub.io/search?q=natural+gas gives me the result related to natural gas

[2018-05-18 05:53] anuveyatsu commented on #225
There was A/B test setup that was replacing entire HTML of the page for the variant 2. The problem was that when it reloads (user submits the form) it clears `value` property of `input` element which stores the query.

The solution here is to stop experiments as we've already have a clear winner.

@zelima

[2018-05-18 05:53] #225 closed

[2018-05-18 05:59] zelima commented on #225
:+1:

[2018-05-18 07:38] zelima opened #226 "Share link for revision's showcase are not working"
If you try and publish the valid file, it will get processed fine, but it's share link and embeddable links are not working on `.../v/1 `

## How to reproduce

- publish  excel file Eg https://datahub.io/zelima/sample-1-sheet-white-squid-47/v/1
- copy the share link for the table -> not even 404 page:
[code]

## Expected behavior

https://datahub.io/zelima/sample-1-sheet-white-squid-47/v/1/r/0.htm

[2018-05-18 07:39] anuveyatsu commented on #226
@zelima I see, it works only on short showcase URLs. Will fix that.

[2018-05-21 06:01] anuveyatsu commented on #200
This can be closed as FIXED, a link will be added in the a/b tests for homepage

[2018-05-21 06:01] #200 closed

[2018-05-21 17:13] anuveyatsu commented on #209
FIXED see https://datahub.io/anuveyatsu/basic-csv#report-0

[2018-05-21 17:13] #209 closed

[2018-05-22 11:07] anuveyatsu commented on #213
FIXED: a build triggers on Travis-CI on each commit to 'master' branch. It then gets published at https://datahub.io/core/dac-and-crs-code-lists

For Travis configs see https://github.com/datasets/dac-crs-codes/blob/master/.travis.yml

@andylolz @zelima @Branko-Dj

[2018-05-22 11:07] #213 closed

[2018-05-22 16:46] anuveyatsu opened #227 "Revision is failed due to unexpected error"
Some revisions are failing for the following reason:

[code]

See full logs - https://api.datahub.io/source/datahq/datahub-kpis/45
Same thing here - https://api.datahub.io/source/datahq/datahub-kpis/46
However this was OK - https://api.datahub.io/source/datahq/datahub-kpis/44

## How to reproduce

- it's difficult to provide steps for reproduction but it happened for about 30% of the revisions

##

[2018-05-24 11:08] svetozarstojkovic opened #228 "Changing tool in dataset"
When you are located in specific dataset on datahub.io and then all the way down you have an option "Import into your tool".
When you choose different option you are thrown all the way up at the beginning of the page

## How to reproduce

- Eg https://datahub.io/machine-learning/hepatitis
- go to "Import into your tool" segment
- click on any other tool
- you are on top of the page

## Expected be

[2018-05-24 13:27] anuveyatsu opened #229 ""data get" from github modifies the original descriptor"
When I do `data get` from github it supposed to download the content of repository without any alterations. However, it adds `pathType: remote` property in the resource descriptors. There might be more modifications I haven't explored yet.

## How to reproduce

- using data-cli tool, run `data get https://github.com/datasets/co2-ppm`
- go to `datasets/co2-ppm` directory and open `datapackage.json`

[2018-05-25 07:27] anuveyatsu commented on #224
@otruja can you please describe how `pathType` property is related here?

[2018-05-25 07:29] anuveyatsu commented on #214
DUPLICATE of https://github.com/datahq/datahub-qa/issues/229

[2018-05-25 07:29] #214 closed

[2018-05-25 09:43] svetozarstojkovic opened #230 "Data push with "profile":"tabular-data-package""
When you are pushing your dataset into datahub.io with data push.
If you have "profile":"tabular-data-package" in datapackage.json you need to remove it before pushing, because it causes some problems when generating dataset.

- data validate gives a message "Your Data Package is valid!" when "profile":"tabular-data-package" is present.

 - data push works just fine and when you open link you are

[2018-05-29 06:52] anuveyatsu commented on #224
I'm closing this issue for now. Please, reopen if necessary.

[2018-05-29 06:52] #224 closed

[2018-05-29 06:54] anuveyatsu commented on #218
I'm not sure how it's different from the "Deploy" funnel that we've implemented in April 2018 - https://github.com/datahq/pm/issues/146

cc @zelima @akariv

[2018-05-29 07:00] zelima commented on #181
@anuveyatsu This looks good but how can I get there? Could not find the button in navbar, either section on docs/page

[2018-05-29 07:01] zelima commented on #226
FIXED works on this URL instead https://datahub.io/zelima/sample-1-sheet-white-squid-47/r/0.html?v=1

[2018-05-29 07:01] #226 closed

[2018-05-29 07:04] zelima commented on #229
FIXED - no `pathtype` included

[2018-05-29 07:04] #229 closed

[2018-05-29 07:30] zelima commented on #181
@anuveyatsu button was just an example. It's really hard to find when you don't know where to search. we can simply add `FAQ` to the list of the link in the footer - that's the place it usually it lives on other websites

[2018-05-29 07:48] anuveyatsu commented on #181
@zelima done (see the commit above). Let's wait when it's deployed and close this issue.

[2018-05-31 05:11] anuveyatsu commented on #181
FIXED - we now have a link in the footer.

[2018-05-31 05:11] #181 closed

[2018-05-31 05:12] anuveyatsu commented on #112
FIXED - working on v0.9.4

[2018-05-31 05:12] #112 closed

[2018-05-31 05:14] anuveyatsu commented on #223
FIXED - now using https://github.com/sindresorhus/slash package to ensure we're using forward slashes.

[2018-05-31 05:14] #223 closed

[2018-06-01 04:43] zelima opened #231 "Make sure content types are correct for derived resources"
If you try and click on JSON resource on datahub it's open in new tab, while it should be directly downloaded. Meaning maybe content type for it is set to text plain.

## How to reproduce

- go to https://datahub.io/core/finance-vix
- click on json from downloads
- is opened in new tab

## Expected behavior

should start download driectly

[2018-06-07 07:22] Branko-Dj opened #232 "data info confusing error code"
@Branko-Dj commented on [Thu Jun 07 2018](https://github.com/datahq/data-cli/issues/343)
data-cli repo https://github.com/datahq/data-cli

When running example command from README.md
`data info http://datahub.io/core/gold-prices`
we get the following error:

When we run the command with "https:" no error is reported. So I'm guessing the command should look like this `data info https://datahub.io/c

[2018-06-13 04:53] zelima commented on #231
FIXED this was never an issue

[code]

[2018-06-13 04:53] #231 closed

[2018-06-13 11:42] zelima commented on #227
This seems to be fixed now. Pease Try pushing several revision and

## Possible reason

While we could not reproduce this locally, it seems bug was related to CLI generating pre-signed URL asynchronously for rawstore, leading the resource mapping sometimes not containing URLs for all resource. (Though this is not 100% percent sure answer)

related commit

[2018-06-14 08:04] anuveyatsu opened #233 "Scheduling is not working"
Finance-vix dataset stopped daily updates:

https://datahub.io/core/finance-vix - I'm running it manually right now

## How to reproduce

- go to source api and see last 5-6 revisions
- see that they're unregular

## Expected behaviour

- it runs on daily basis automatically

[2018-06-18 14:08] anuveyatsu commented on #228
Already FIXED in https://github.com/datahq/frontend/issues/289

[2018-06-18 14:08] #228 closed

[2018-06-21 13:57] andrejjh commented on #130
I strongly support that. I have published the same data packages under two different names and want to get rid of one.

[2018-06-22 08:55] anuveyatsu commented on #233
FIXED - https://datahub.io/core/finance-vix

[2018-06-22 08:55] anuveyatsu commented on #227
FIXED since cli v0.9.5

[2018-06-22 08:55] #227 closed

[2018-06-25 04:40] zelima commented on #233
@anuveyatsu what was the fix for this one?

[2018-06-25 05:34] anuveyatsu commented on #233
@zelima restarting the specstore helped

[2018-07-05 05:43] beatestermann opened #234 "Error: "project billing account not in good standing""
Hello,

For the last few months I have been getting the following error message for a few of my uploaded distributions:

“UserProjectAccountProblemUser project billing account not in good standing.The billing account for project 6,428,987,007 is disabled in state absent”

The problem occurs on the old datahub, on the first 5 distributions of the following dataset (but not on the other distribution

[2018-07-06 10:26] anuveyatsu opened #235 "JSON version of finance-vix dataset returns 403"
JSON version of https://datahub.io/core/finance-vix returns 403
It seems like pkgstore (aws) returning 403 for some reason

This works: https://datahub.io/core/finance-vix/r/vix-daily.json?v=221 (note version in params)
But this doesn't: https://datahub.io/core/finance-vix/r/vix-daily.json?v=226

## How to reproduce

- go to https://datahub.io/core/finance-vix
- scroll down and try to download JSO

[2018-07-06 11:04] zelima opened #236 "Can't complete the login process with Chrome (Linux)"
OS: Linux

I had Firefox as a default browser and everything was working fine (could log in and publish stuff). Recently, I moved to have chrome as a default browser, when I tried to log in `data login` it says
[code]
But nothing actually happens: New Chrome tab is opened but nothing is loading. Since no URL is displayed, so that I can visit it manually I'm not able to login.

## How to reproduce

[2018-07-16 11:10] rufuspollock commented on #44
@zelima the fact the frontend is not complaining does not mean anything since frontend and pkgstore are on the same domain so you won't get CORs issues ...

[2018-07-16 13:48] anuveyatsu commented on #44
Since the last commit, the example in the description doesn't return CORS error (there are some other errors probably not related to CORS):

<img width="1280" alt="screen shot 2018-07-16 at 19 47 52" src="https://user-images.githubusercontent.com/17809581/42762086-28759168-8931-11e8-88fc-4309187580d7.png">

[2018-07-16 13:52] zelima commented on #44
@anuveyatsu great!  Same for  me (but for me it never actually was an issue - graph was loading fine)

Closing this as FIXED. @rufuspollock please double check and reopen if still an issue

[2018-07-16 13:52] #44 closed

[2018-07-18 12:09] anuveyatsu opened #237 "Wrong behaviour when converting YYYY-MM to YYYY-MM-DD"
When my CSV file is processed, it converts `YYYY-MM` values into `YYYY-MM-DD`, which is OK for me. However, it uses today's day as a value for `DD`, while I expect day value to be equal to `01`. For example, if I push a dataset on 18 July, my `2018-07` value will be converted to `2018-07-18`.

## How to reproduce

- go to https://datahub.io/core/gold-prices
- inspect values of Date field

## Expec

[2018-07-18 14:10] anuveyatsu opened #238 "Validation is performed against original source data"
Validation is performed against original source data, while I expect it to be done against derived data.

## How to reproduce

- go to https://datahub.io/core/gold-prices
- see validation errors

## Expected behavior

Validation is done against derived data

[2018-07-20 10:59] zelima commented on #238
Analysing this:

Worth to mention that we pass all the parameters that tabulator takes to process the date. Meaning if we pass `skipp_row: 5` with the desire to skip first 5 invalid rows, the same `skipp_rows: 1` is passed to `goodtables.validate` method. And validation happens against data with the skipped row, not considering those 5.

That's being said expected behavior here should be that vali

[2018-07-20 11:00] zelima commented on #238
@anuveyatsu please confirm this works and close

[2018-07-20 12:40] zelima commented on #237
@akariv transformation is done by dpp as much as I remember. Thik this is the commit that made it available to transform. https://github.com/frictionlessdata/datapackage-pipelines/commit/f3d83c686f4cc1d142ae25d1f90c99aa1c10363e

Personally, I think it's kind of is more accurate when saying today instead of 01. What if it actually is not 01 and date is Eg end of the month 30 or  middle15?

Also, le

[2018-07-23 11:16] anuveyatsu commented on #235
@zelima another one behaving this way:

https://pkgstore.datahub.io/datahq/datahub-kpis/premium-data-funnel-weekly_json/data/bd7d466a44d5f9091b34700fccb4221c/premium-data-funnel-weekly_json.json

https://pkgstore.datahub.io/datahq/datahub-kpis/premium-data-funnel-weekly_csv/data/4436717707b279fd77a7fe1250636f66/premium-data-funnel-weekly_csv.csv

[2018-07-24 05:57] zelima commented on #235
Should not happen anymore. FIXED here https://github.com/frictionlessdata/datapackage-pipelines-aws/commit/8c51a18ecdbc32240f38abb797845c982a9223bd

@anuveyatsu please confirm and close

[2018-07-26 09:43] anuveyatsu commented on #235
FIXED

[2018-07-26 09:43] #235 closed

[2018-08-09 09:29] anuveyatsu commented on #71
Closing as FIXED since we have improved our processing speed and nobody has reported any speed related issues.

[2018-08-09 09:29] #71 closed

[2018-08-09 09:32] anuveyatsu commented on #167
@tanvirchahal can we just renamed "finish" to "finished" in the fronted?

[2018-08-24 06:28] HeidiSeibold commented on #33
Awesome, thanks @Branko-Dj! Do you have code for the transformation from ARFF to data package that we could share?

[2018-08-24 08:36] anuveyatsu commented on #153
This is now FIXED

[2018-08-24 08:36] #153 closed

[2018-08-27 04:05] zelima commented on #236
FIXED, displaying URL in `data login -i` mode

[2018-08-27 04:05] #236 closed

[2018-08-27 04:09] zelima commented on #158
FIXED all servers and their endpoint are tested and run daily on Travis for now

[2018-08-27 04:09] #158 closed

[2018-08-27 09:00] Branko-Dj commented on #33
@HeidiSeibold Currently we would do it by transforming arff file to csv by using pre-existing scripts (https://github.com/haloboy777/arfftocsv for example) and then create data package for the csv file.

[2018-08-28 19:57] anuveyatsu commented on #159
FIXED see https://datahub.io/docs/misc/markdown

[2018-08-28 19:57] #159 closed

[2018-09-03 08:37] anuveyatsu commented on #233
Auto updates are broken again. I've just repushed finance-vix but it wasn't updated for 2 weeks. Here other datasets that is not being updated:

- https://datahub.io/core/airport-codes - daily

[2018-09-14 13:49] zaneselvans commented on #230
Also experiencing this issue with the first tabluar data package I've tried to push.

[2018-09-14 14:33] zaneselvans opened #239 "DataHub validating booleans against wrong schema"
When uploading a tabular data resource containing boolean fields that have `trueValues` and `falseValues` set but that do not include the values `True` and `False` respectively, DataHub view generation fails, with errors of the variety:

``` ERROR :Failed to cast row: Field "FIELD_NAME_HERE" can't cast value "True" for type "boolean" with format "default" ```

It appears that the boolean values in

[2018-09-14 14:35] zaneselvans commented on #239
It is possible to work around this issue by including `True` and `False` in the `trueValues` and `falseValues` arrays associated with the boolean fields, but this may mean introducing invalid metadata -- if `True` and `False` are not in fact valid within the packaged data. (e.g. if the data uses `Y` and `N` instead).

[2018-09-15 11:26] rufuspollock commented on #239
@akariv do you have a sense of what is going on here?

[2018-09-15 12:41] zaneselvans opened #240 "Data package description markdown not rendered on DataHub package pages"
The [data package standard](https://frictionlessdata.io/specs/data-package/#descriptor) specifies that the data package `description` attribute should be markdown. However, on DataHub.io these descriptions appear to be rendered as plain text. For an example see [this data package](https://datahub.io/zaneselvans/pudl-msha#readme).

## How to reproduce
Push a datapackage to DataHub that uses markdow

[2018-09-15 18:40] zaneselvans opened #241 "DataHub tabular previews appear to re-cast column types incorrectly"
When pushing a tabular data resource to DataHub, fields which are specified to be strings, but which contain numeric information, appear to be getting re-cast as numbers in the process that generates the tabular previews. Sometimes a column which contains numeric information needs to be treated as a string because it's a code that has leading zeroes that are meaningful (for instance).

For an exam

[2018-09-17 04:07] zelima commented on #241
@zaneselvans Thanks for submitting the issue. We will investigate and get back to you soon.

[2018-10-05 06:55] zelima opened #242 "Collections page looks strange when collection not found"
If you try and visit collections (awesome) page that not exists it displays a broken image and 404 not found text Eg: https://datahub.io/collections/linking-open-data

## How to reproduce

- go to https://datahub.io/collections/linking-open-data
- take a look at image icon
- take a look at the text "404: Not Found"

## Expected behavior

* Displays nice image or not at all
* there's no plain text

[2018-10-05 10:59] Branko-Dj opened #243 "datahub-qa travis failing"
[datahub-qa](https://travis-ci.org/datahq/datahub-qa) on Travis is failing

## Tasks
- [ ] Find the cause of the repo failing

[2018-10-13 10:14] anuveyatsu commented on #240
@zaneselvans thanks for submitting this. It looks like the issue was fixed now. Please, re-open if not.

[2018-10-13 10:14] #240 closed

[2018-10-13 10:15] anuveyatsu commented on #233
@zelima it looks like scheduling is fixed now but it'd great to understand what was the fix.

[2018-10-13 10:15] #233 closed

[2018-10-13 10:28] anuveyatsu commented on #21
@pwalsh we have written a blog post about using multiple datahub accounts: https://datahub.io/blog/how-to-use-multiple-datahub-accounts
Hope it helps.

[2018-10-13 10:30] anuveyatsu commented on #16
Closing as FIXED since horizontal bar charts can be built by using Vega specs, e.g., see https://datahub.io/core/co2-fossil-by-nation

[2018-10-13 10:30] #16 closed

[2018-10-24 19:03] zaneselvans opened #244 "Changing primary GitHub email address also changes DataHub ID"
I have a personal and a work email address associated with my GitHub account.  When I first signed into DataHub, using my GitHub account, my personal email address was the primary address on my GitHub account.  Subsequently, I changed my work address to be my primary address at GitHub.  Now when I log in to DataHub with my GitHub account, I am assigned a different ID (zaneselvans1 instead of zanes

[2018-11-01 08:29] anuveyatsu commented on #244
@zaneselvans thanks for reporting this
cc/ @akariv and @zelima

[2018-11-06 16:56] parrottsquawk commented on #234
Is there any movement on this?

[2018-11-07 07:10] akariv commented on #234
@rufuspollock

[2018-11-07 07:16] akariv commented on #244
Generally DataHub uses the email address as the unique identifier of the
account, and not the GitHub account id.
It uses GitHub (or Google) just to fetch and authenticate the email address.

It might be possible to allow users to change their email address, but it
needs proper analysis (to see what breaks if we do this).

Either way your PR is a good workaround for this problem, so now approved.

[2018-11-08 07:57] zaneselvans commented on #244
I have nothing saved under the zaneselvans1 account -- I saw the disconnect and haven't touched anything since then.

[2018-11-08 08:05] zelima commented on #244
FIXED. `zaneselvans1`  is removed

[2018-11-08 08:05] #244 closed

[2018-11-08 08:31] zelima commented on #243
@Branko-Dj I'm gonna terminate scheduled jobs until it is fixed. BTW cause is in rate limitation, maybe we need `sleep`s there or  make authenticated calls

[2018-11-26 14:50] StephenAbbott opened #245 "Remove spam datasets on datahub.io uploaded around 2013"
After testing out [Google's Dataset Search tool](https://toolbox.google.com/datasetsearch), I found some spam datasets uploaded to the old datahub.io around 2013.

Example = https://toolbox.google.com/datasetsearch/search?query=black%20site%3Adatahub.io&docid=V4qwoERMWM%2BIp7VOAAAAAA%3D%3D

## How to reproduce

- Go to https://toolbox.google.com/datasetsearch/search and use the site: operator to f

[2018-12-03 09:12] rufuspollock commented on #245
@StephenAbbott great find - yes these could definitely be deleted. We're happy to make you an admin if you'd like to do that ...

[2018-12-14 15:27] StephenAbbott opened #246 "Unable to install version 0.4.5 of the Data publishing app for MacOS"
I've downloaded version 0.4.5 of the Data publishing app for MacOS from https://github.com/datahq/data-desktop/releases/download/v0.4.5/Data-0.4.5.dmg via the https://datahub.io/download page.

When I open the application to complete the installation, it says 'Please wait, we are installing the CLI tool on this machine'. The install reaches 100% and then I get asked to update permissions on the do

[2019-02-01 08:31] zelima commented on #241
Can't find the analysis but [datapackage-py](https://github.com/frictionlessdata/datapackage-py), that is processing the data  is both inferring and casting that kind of values as integers:

[code]

I'm not sure this is unexpected behavior or no

[2019-02-01 08:37] zelima commented on #241
Also, before this goes to datapackage-py  and to backend generally, to process the data, think we are using [tableschema-js](https://github.com/frictionlessdata/tableschema-js) infer method from CLI. Think this is the line responsible for creating the schema https://github.com/datahq/datahub-client/blob/1d65873aa54279ab624eb7dbdbdb29bc15a9b875/lib/utils/datahub.js#L443

But again not sure whether

[2019-02-01 08:38] zelima commented on #241
The workaround here would be to package first and explicitly define field type in datapackage.json and publish after.

[2019-02-03 07:06] zelima commented on #241
@zaneselvans yes they should not be overridden - exactly the reason I suggested to explicitly set field type(s).

Can I take a look at the original data (or a small part of it)?
- I've just published this dataset and it seems fine https://datahub.io/zelima/test-strings/v/2
- after, I published the data we've got in `rawstore` and getting 0.0 again.

 data in `rawstore` should be the clone of your

[2019-02-04 04:09] zaneselvans commented on #241
Oh jeez, I'm sorry. Pulling a sample of the data post-processed vs. pre-processed data on my end (which obvs I should have before) I now see that it's my initial `pd.read_csv()` which is type-naive, and is casting these number-like string columns to numbers (`00` -> `0.0`), after which point I'm sure the floating point number is being stored as a "string" but not the original string value.

So thi

[2019-02-04 07:03] zelima commented on #241
Happy we resolved this :)

closing as INVALID: as mentioned above the data was already containing 0.0 before it got to Datahub.

[2019-02-04 07:03] #241 closed

[2019-05-22 06:18] anuveyatsu opened #247 "Google form is broken on Teams and Permissions page"
https://datahub.io/docs/features/teams-and-permissions

[2019-05-22 11:26] aolieman commented on #234
This issue is still ongoing a year later.

Are these datasets still recoverable?

The one I care about is https://old.datahub.io/dataset/el-bm-nl-9912
We've lost our last local copy of this dataset due to disk failure, and have put a lot of effort into its creation. It's not even that big, should be under the 5gb limit for the free tier of the new datahub.io.

Is there anything I can do to gain (o

[2019-05-22 15:27] rufuspollock commented on #234
@aolieman i just saw this

@amercader any idea what is going on here - i know old datahub.io was using free storage that google gave us back in ~2010. I'm a bit concerned they have suddenly shut this off.

[2019-05-25 13:28] aolieman commented on #234
Thanks for looking into it now!

[2019-05-27 10:37] PiDelport commented on #247
The source file, for quick reference:

https://github.com/datopian/datahub-content/blob/master/docs/features/teams-and-permissions.md

[2019-05-29 16:54] anuveyatsu opened #248 "Return more descriptive error message when 'name' is missing"
## How to reproduce

- create a datapackage.json with missing `name` property
- try to push it

## Expected behavior

- prints out clear message about what's wrong
...

[2019-05-30 07:29] PiDelport commented on #248
The data package validates locally:

[code]

The current error looks like:

[code]

Adding a check and message for `data validate` may make sense too?

After adding a top-level `name` field, the data package uploads successfully.

[2019-05-30 10:11] PiDelport opened #249 "Processing data package fails with descriptor validation errors"
Context: I'm in the process of adapting ~150 civic data sets to datahub.io: the following data package is a test upload.

## How to reproduce

The following data package validates with `data validate` and uploads successfully with `data push`:

* https://datahub.io/pi/22t8-gvzh/v/1

However, processing it fails:

[code]

The `datapackage.json` was inferred from the CSV with [`Package.infer`](https

[2019-06-11 03:02] davetransom opened #250 "Incorrectly ordered lat/lng in airport-codes feed"
My query is regarding the airport codes feed @ https://datahub.io/core/airport-codes

I may be reading it wrong, but it appears the _latitude & longitude_ has swapped positions in the "coordinates" field for airport codes, making it _longitude & latitude_.

NZAKL for example shows
[code]

But the expected coordinate for Auckland would normally be
[code]

It looks like the mapping from distinct `la

[2019-06-11 08:24] rufuspollock commented on #250
@svetozarstojkovic can you check this out briefly -  the source data is in https://github.com/datasets/airport-codes /cc @anuveyatsu

[2019-07-09 16:03] svetozarstojkovic commented on #247
The request has been implemented.

[2019-07-09 16:03] #247 closed

[2019-07-16 11:53] thomasbaustert opened #251 "UN Locode CSV and JSON broken"
The UN Locode provided here https://datahub.io/core/un-locode in format CSV and JSON is broken. Check the files near "MA,CMN,Mohammed V...". It should be a new line in CSV and it should not be part of Remarks entry in JSON but and own entry.

Not a big deal, just to let you known.

## How to reproduce

Download files and check.

## Expected behavior

CSV and JSON contains all data properly.

[2019-08-12 11:35] RazerM opened #252 "core/country-list outdated"
https://datahub.io/core/country-list is missing e.g. North Macedonia. See https://en.wikipedia.org/wiki/ISO_3166-1

[2019-08-14 09:52] aolieman commented on #234
@rufuspollock @amercader do you have any (hopefully good) news for us?

The error message from Google Storage remains the same..

[2019-08-14 10:16] rufuspollock commented on #234
@aolieman i'm pinging relevant people.

[2019-11-16 17:13] higorspinto opened #253 "data get failing"
Describe the issue

I'm trying to download a data package with data get on data-cli. The command is returning an error.

## How to reproduce

- Trying to get the data

[code]
- Returned error
[code]
- My Node version:
[code]

## Expected behavior

Processing should succeed?

[2020-01-06 15:22] aolieman commented on #234
I'm still getting the following error:

Is there any news about this google storage issue?

[2020-02-20 23:01] bestlawschools1 commented on #244
Hey baby. Join here I will show you everything here through webcam I have free sex here and if you wish I will contact you by phone and I will go to your house and have sex for free. Join here>>>> https://cutt.ly/orVmRsM

[2020-02-26 13:55] shubham-mahajan opened #254 "Link for Datapackage online creator is not working"
## Describe the issue
When we click on Datapackage Online Creator tool [here ](https://datahub.io/docs/data-packages/publish-tabular#3-add-a-datapackagejson-file), the link is not working

## How to reproduce

- step 1:- Go to https://datahub.io/docs/data-packages/publish-tabular#3-add-a-datapackagejson-file
- step 2:- Click on datapackage.json creator tool  in Option 1
<img width="1440" alt="Scre

[2020-02-26 21:04] akornilo commented on #130
Is there any update on this - I would really like to remove my datasets from datahub

[2020-03-10 11:15] francbartoli commented on #81
I'm facing this issue again:

[code]

@AcckiyGerman Can you reopen it?

[2020-03-13 19:08] erf opened #255 "Missing currency data for Taiwain and no currency symbols like "kr" or "$""
Thanks for https://datahub.io/core/country-codes !

Taiwan currency data is missing ( it can be found [here](https://en.wikipedia.org/wiki/New_Taiwan_dollar) )

Also there is no currency symbols lik "kr" ( for Norway ) or "$" ( for USA ).

[2020-03-14 06:43] rufuspollock commented on #255
@nirabpudasaini can you take a look at this. you'll want to find the appropriate dataset in http://github.com/datasets and open an issue and then fix it.

[2020-03-16 13:57] nicexe commented on #255
It seems like Taiwan is missing from https://unstats.un.org/unsd/methodology/m49/overview/ this is why some of TW's fields aren't populated

[2020-03-18 10:22] nirabpudasaini commented on #255
Issue opened for this https://github.com/datasets/country-codes/issues/73

[2020-03-18 15:09] rufuspollock commented on #255
@nirabpudasaini it sounds like we now have an answer for why this is so may want to close the issue with the info from @nicexe

[2020-03-18 15:09] rufuspollock commented on #255
WONTFIX. @nicexe has found the source of the issue.

[2020-03-18 15:09] #255 closed

[2020-03-22 21:47] rufuspollock opened #256 "`data show` to preview a dataset in web browser"
Wouldn't it be cool to pre-showcase a data packaged dataset before pushing (to check it all works ...) => could we add this to `data` tool e.g. `data view` or `data show`

How it would work: boot a web browser and run same template actual site does ...

[2020-03-24 18:17] erf opened #257 "Add currency symbols like "€" or "$" to country codes"
I would like to see currency symbols in https://datahub.io/core/country-codes

E.g. "$" for USD, "€" for EUR, or "kr" for NOK

See: https://www.xe.com/symbols.php

https://gist.github.com/Chintan7027/fc4708d8b5c8d1639a7c

[2020-04-20 14:44] sglavoie commented on #130
This would indeed be a very useful feature. Updates? :wink:

[2020-04-20 17:35] rufuspollock commented on #130
@akornilo the approach for now is to make datasets hidden. We are working on deletion - it's a little non-trivial b/c of the way we use content addressed storage.

[2020-04-26 02:23] jbelisario commented on #81
Hi. Facing the same issue as well. @AcckiyGerman is it possible to reopen it?

[2020-04-27 14:34] rufuspollock commented on #81
@jbelisario can you report the exact error you are encountering?

[2020-05-01 08:19] wtkranz commented on #81
I concur
[code]

[2020-05-01 11:20] rufuspollock commented on #81
@sglavoie can you investigate this and see if you can find a fix.

[2020-05-01 12:49] wtkranz commented on #81
It works if I spoof the user agent
[code]
So it really looks like the old problem

[2020-05-01 15:06] rufuspollock commented on #257
@erf thanks for the feedback - could you open an issue about this on the underlying dataset here https://github.com/datasets/country-codes

/cc @sglavoie @nirabpudasaini

[2020-05-01 15:07] rufuspollock commented on #257
INVALID. This is related to an underlying dataset. https://github.com/datasets/country-codes

[2020-05-01 15:07] #257 closed

[2020-05-01 15:09] erf commented on #257
Done

[2020-05-01 15:17] rufuspollock opened #258 "Move Chat channel from gitter to discord"
Chat channel is important and still quite actively used: https://gitter.im/datahubio/chat

Gitter is getting a bit old and discord seems good so let's move there.

## Acceptance

* [x] New server and channel exists on discord **See https://discord.gg/KrRzMKU**
* [x] Notified in existing gitter channel **DONE on 21 June**
* [x] Changed on datahub.io website (with nice icon) @sglavoie -- **DONE**: S

[2020-05-01 15:21] monikappv opened #259 "Main pages on datahub not loading [Error 524]"
## Describe the issue

Main pages on site do not work e.g.
https://datahub.io/core/
also organization pages e.g. https://datahub.io/world-bank

after few minutes loading, I get an error 524

![error524Datahub](https://user-images.githubusercontent.com/56799741/80816536-5dbbb180-8bd8-11ea-9084-03e19ab9b66e.png)

## How to reproduce

Just visit the pages

[2020-05-01 15:23] sglavoie opened #260 "Users cannot log in to datahub.io (server error: 524)"
When I try to log in to datahub.io, I want to be able to access the website quickly and perform actions in my account so that I can work with datasets from the browser and the command line.

## Acceptance

* [x] The user can log in successfully to datahub.io with both authentication options without any server error (e.g., 524): GitHub and Google.

## Tasks

* To be updated with more details once t

[2020-05-01 15:33] sglavoie commented on #260
**FIXED.** This is a duplicate of #259. As reported in that other issue:
* Main pages on site do not work e.g. https://datahub.io/core/
* Also organization pages e.g. https://datahub.io/world-bank

[2020-05-01 15:54] rufuspollock commented on #260
@sglavoie how is this a duplicate of #259? they seem quite different ...

[2020-05-01 15:57] sglavoie commented on #260
Maybe there was some confusion on my part. It looks to me like @monikappv and I are reporting the exact same issue resulting in a 524 server error. It is very likely that not being able to log in as a user is due to an error on the server (HTTP status code >= 500) that prevents access to other parts of the website, including the dashboard and the login route.

I will of course re-open the other is

[2020-05-01 16:07] rufuspollock commented on #260
@sglavoie i don't think you know these are the same source - 524 is a really generic error. I would reopen and investigate. I think you'll need to ask on Datopian devops b/c it will prob relate to internal apis in some way.

[2020-05-01 16:10] sglavoie commented on #260
Yes, you are absolutely right. I will be careful not to make such assumptions from now on and re-read the docs about closing issues as I certainly forgot about that other label. Thank you.

[2020-05-04 18:19] sglavoie opened #261 "[Epic] "data init" improvements"
## Tasks

* [x] rewrite init module in an OOP way extending EventEmitter class - https://github.com/datahq/data-cli/issues/335
* [x] implement default vs interactive modes - https://github.com/datahq/data-cli/issues/336
* [ ] detect licenses - https://github.com/datahq/data-cli/issues/239
* [ ] don't interrupt init due to validation errors - https://github.com/datahq/data-cli/issues/241
* [x] blog

[2020-05-05 17:22] sglavoie opened #262 "[validate] data validates a dataset without name or title"
*Created by: @Branko-Dj*

When running `data validate` for data package that doesn't have a name or title, data-cli reports no error. Even though it is validated locally it will not be processed on the website as it has name or title missing.

## Acceptance Criteria
- [ ] when running `data validate` in a folder with datapackage.json that doesn't have name or title, the user should get an error me

[2020-05-05 17:26] sglavoie opened #263 "Investigate Google dataset search"
*Created by @zelima*

Google recently announced a new specialty search feature named Dataset Search https://toolbox.google.com/datasetsearch/search. We've tried to search datasets on the datahub but unfortunately if even if datahub.io shows up in the results it redirects to old.datahub.io. Google Dataset Search may be really useful for us

## Acceptance Criteria

* [ ] We've done a detailed analys

[2020-05-05 17:47] sglavoie opened #264 "Strange looking showcase page — WikiDPR Indonesia Legislative Data"
*Created by Irakli Mchedlishvili*

Showcase page for this dataset looks really strange https://datahub.io/aps2201/wikidpr_scrape

![image](https://user-images.githubusercontent.com/15143785/46530793-f464a700-c8ab-11e8-8ec0-a81d59071bea.png)

[2020-05-05 17:58] tanvirchahal commented on #264
@sglavoie i can take care of this

[2020-05-05 19:25] sglavoie commented on #264
@tanvirchahal, that would be great! Thank you. :wink:

[2020-05-11 12:27] sglavoie opened #265 "Core datasets further analysis and debugging"
*Created by: Branko-Dj*

As a PM I want to fix the scripts for core datasets that require refactoring or further research

## Analysis

1. **corruption-perceptions-index**
Libraries need to be installed, sometimes source is downloaded but it is not unzipped, some sources unavailable, it's a mess. **I suggest complete refactoring of this script**

2. **geo-admin1-us**
This uses tuttle file so furth

[2020-05-11 12:31] sglavoie opened #266 "Core datasets broken sources"
*Created by: Branko-Dj*

Some of the core datasets have a source that is not working anymore. As a PM I want to find alternative up to date sources

## Analysis
1. **cofog**

Source for `process.py` script on line 20 `access_db_zip_url = 'http://unstats.un.org/unsd/cr/registry/regdntransfer.asp?f=186'` is broken.

## Acceptance Criteria
- [ ] We have the new source for each of the datasets where t

[2020-05-11 12:34] sglavoie opened #267 "Addendum to broken CORE scripts"
*Created by: @Branko-Dj*

These scripts need fixing:

[imf-weo](https://github.com/datasets/imf-weo)
Unable to make the script work, some problem with locales

[interest-rates-gb](https://github.com/datasets/interest-rates-gb)
The script works properly but the source is outdated and the script should be refactored to download new data

[2020-05-11 12:37] sglavoie opened #268 "[Epic] Polish Core Datasets"
As a PM, I want to review core datasets and make sure all of them are up to date so that I'm sure in their quality

As a PM, I want to re-run and make sure scrapers/scripts are working fine so that I can update data anytime

As a PM, I want to translate scrapers/scripts into dataflows, where possible, so that we use our tools to get the data, plus we can easily update them

As a PM, I want to revi

[2020-05-11 12:42] sglavoie opened #269 "Premium Data at the center of the Datahub"
Premium data being the prime priority of the datahub needs to be put in center of the website.

This would require us to incorporate Premium Offerings on various pages and measure to maximize conversions for Premium Data

*Created by: @tanvirchahal*

[2020-05-11 12:44] sglavoie opened #270 "Implementation of automation of core datasets quality/update checks"
We want to have an automated way of monitoring for datasets quality and whether their data is up to date.

## Analysis

## Acceptance criteria

## Tasks

*Created by: @Branko-Dj*

[2020-05-11 12:54] sglavoie opened #271 "Set up system to measure the cost of acquiring and managing datasets"
*Created by: @anuveyatsu*

As an Admin, I want to know how much it takes to acquire and manage a dataset so that I can plan better in our sprint planning/analysis sessions.

As a Data Wrangler, I want to have a guide of how I'd measure cost of dataset acquiring so that I can tell my colleagues how much would take me to do a certain task.

## Acceptance criteria

* [ ] I have a system (eg, step-by-

[2020-05-11 12:56] sglavoie opened #272 "Track what searches people are making to land on our site"
*Created by: @anuveyatsu*

As an Admin, I want to know what queries people are using to land on our site so that:

* I can understand how accurate are our wordings
* I can align our website to attract a more accurate/related audience

## Acceptance criteria

* [ ] set of keywords and key phrases with the relative number of clicks/appearances etc.

## Tasks

* [ ] read https://www.entrepreneur.com/

[2020-05-11 12:57] sglavoie opened #273 "[Epic] Improvements for status page"
At the moment we have a very basic status page per owner. We would like to use more of it's features like groping components, automatically updatable statuses etc...

## Acceptance Criteria

* [ ] Status reports per dataset
* [ ] Auto updates on resolve

## Tasks

* [ ] Read docs of statuspage and do analysis
* [ ] group components
* [ ] auto updates on fix

*Created by @zelima*

[2020-05-11 13:19] sglavoie opened #274 "Data Package preview tool"
*Created by: @rufuspollock*

Like old data.okfn.org/tools/view that allows you to view a preview of a data package given a url.

## User Stories

As Rufus I want to be able preview a data package I've got somewhere so that I know it works (before e.g. publishing to datahub.io, or just to show someone quickly)

As Rufus I want to be able to preview a tableschema or summary of a dataset so that I ca

[2020-05-11 13:22] sglavoie opened #275 "Make sure all certified datasets are fine"
Some of the certified datasets have validation errors eg https://datahub.io/core/population-growth-estimates-and-projections If dataset is certified it should not have any kind of errors

## Acceptance Criteria

* [ ] No certified dataset with errors

## Tasks

* [ ] List all certified datasets and check the status
* [ ] investigate the reason why some of  them fail
* [ ] fix if possible
  * [ ] r

[2020-05-11 14:09] sglavoie commented on #81
@rufuspollock, I can confirm the issue is still ongoing and that the workaround from @wtkranz works like a charm.

@zelima, can we make sure once more that the "Browser Integrity Check" is turned off on CloudFlare, please?

[2020-05-21 12:37] sglavoie commented on #260
**FIXED**: All actions can be performed as normal (log in, loading pages, uploading datasets, etc.) and there is no more timeout issue when the user is logging in.

---

Solution by @zelima:

[2020-05-21 12:45] sglavoie commented on #259
Hey @monikappv! This should be working now. :slightly_smiling_face: :+1:

[2020-05-21 13:17] monikappv commented on #259
it is @sglavoie well done!

[2020-05-21 13:18] monikappv commented on #259
FIXED.

[2020-05-21 13:18] #259 closed

[2020-05-21 13:19] sglavoie commented on #259
I barely noticed it. @zelima is the hero of the day :smile:.

[2020-05-26 12:43] sglavoie commented on #81
**FIXED**: Closing as this is now working as expected. The "Browser Integrity Check" setting has been turned off as this was the original solution. If this is not what is desired this time, please re-open the issue so we can have a closer look again.

If the solution is deemed too drastic, it can be moderated by [creating page rules](https://support.cloudflare.com/hc/en-us/articles/218411427).

Re

[2020-05-26 12:43] #81 closed

[2020-06-17 07:13] CecileRobin opened #276 "Missing data between old.datahub.io and datahub.io?"
Hi,

I wanted to know the difference between datahub.io and old.datahub.io? I
thougtht datahub.io was the latest version, but when I look for data
related to "apartium", the old.datahub retrivevs a few datasets while
datahub.io does not find anything. Is there a reason for that?

[2020-06-18 14:46] rufuspollock commented on #276
@CecileRobin datahub.io is indeed the new version. The new datahub.io is a completely new architecture and setup (vs the old datahub.io which is running on an old version of ckan).

The new datahub.io is focused much more on *data* (vs just metadata) publication. As a result, we did not migrate datasets from old.datahub.io systematically (because many of them are just metadata). Some datasets were

[2020-06-18 14:46] #276 closed

[2020-06-20 06:38] EvgeniiaVak opened #277 "too hard to find your own datasets"
I've been not using datahub.io for a while and decided to come back and have a quick overview of what I have there, I couldn't do it very quickly - there are too many steps to figure out how to find my own datasets:

## How to reproduce

1. go to datahub.io and log in to your account
2. look for and fail to find a link to your datasets
That's how navbar looks for me:
<img width="600" alt="Screen S

[2020-06-21 16:47] rufuspollock commented on #277
Great feedback! thank-you

On Sat, Jun 20, 2020 at 8:39 AM EvgeniiaVak <notifications@github.com>
wrote:

[2020-06-21 21:58] rufuspollock commented on #258
@sglavoie i've booted the channel. Do you want to the update the link in the frontend repo to link to the server https://discord.gg/KrRzMKU

[2020-06-22 07:35] CecileRobin commented on #276
Yes thanks for the explanation @rufuspollock ! :-)

[2020-06-24 14:43] sglavoie commented on #258
@rufuspollock

* The code has been committed locally and is ready to publish. However, because I need to push to the `master` branch to trigger the build and be able to see it in the staging environment, I would like to confirm with you if you like the changes first as to avoid cluttering the Git history.
* All links were updated to point to the Discord server instead of Gitter.
* Additionally, I

[2020-06-24 15:38] rufuspollock commented on #258
looks good to me

On Wed, Jun 24, 2020 at 4:43 PM Sébastien Lavoie <notifications@github.com>
wrote:

[2020-06-26 12:12] sglavoie commented on #258
**TL;DR**: Confirming that changes are now live at datahub.io :tada:

* There was a server issue impeding the deployment, but all is fixed now!

[2020-06-26 14:14] sglavoie commented on #258
**FIXED**: Closing as everything is done.

* See commit https://github.com/datopian/frontend/commit/486498d7557aad56f772f10759863f0084366a11 adding the Discord icon and emoji.
* See the commit https://github.com/datopian/frontend/commit/e70df1a43389955573fc4c9b87e3c16e3686e067 adding the GitHub icon and emoji.
* See [this blog post](https://datahub.io/blog/COVID-19-and-compartmental-models-in-epid

[2020-06-26 14:14] #258 closed

[2020-07-03 18:11] sglavoie commented on #264
@tanvirchahal, do you have any updates on this one? Someone reported earlier today that it's still happening. Here's the screenshot they have sent:

<img width="1509" alt="Screen Shot 2020-07-03 at 9 19 57 AM" src="https://user-images.githubusercontent.com/32682903/86490839-7b1f1000-bd2e-11ea-80c4-887b60d6f16d.png">

https://datahub.io/marek5050/smdg-terminal-codes/v/6

[2020-07-09 20:34] rufuspollock opened #278 "Redirect not working for https://data.okfn.org/tools/view"
This should be redirecting to datahub.io/tools/ or datahub.io/tools/view

[2020-07-13 06:41] anuveyatsu opened #279 "Broken link on the home page"
In the "Request Data from Datahub" section, the "Request data" button links to `/requests` page which returns 404:

<img width="1049" alt="Screen Shot 2020-07-13 at 12 40 10" src="https://user-images.githubusercontent.com/17809581/87278359-14f07500-c506-11ea-810a-ec8c783569f4.png">

## How to reproduce

- go to home page
- find "Request Data from Datahub" section and click on the "Request data" bu

[2020-08-24 10:47] kmanaseryan opened #280 "Unable to Signup"
Describe the issue
When I click to signup either via Google or GitHub it authorization page doesn't redirect me to a dashboard page. It took a minute or so and then sends me to error page. Don't remember the error exactly but was coming from Cloudflare. It seems like there is some timeout error.

## How to reproduce

- Click on Join button
- Then click on the button either with Google icon or Gith

[2020-08-24 10:48] kmanaseryan commented on #280
I've also tried in incognito mode, but no luck

[2020-08-24 10:55] kmanaseryan commented on #280
ok here you go:
![image](https://user-images.githubusercontent.com/3371013/91037263-c2809900-e619-11ea-82b9-5167b0654037.png)

In a few mins it brings me this page.

[2020-08-24 12:46] anuveyatsu commented on #280
Looks like same as #260

[2020-08-25 08:49] kmanaseryan commented on #280
Shouldn't we reopen the original issue?

[2020-08-25 12:05] rufuspollock commented on #260
@sglavoie can you check if this is happening again?

[2020-08-25 16:09] sglavoie commented on #260
@rufuspollock I believe we are dealing with the same issue again. I let @zelima know about it since he was able to provide a fix last time on GCP ([solution linked above](https://github.com/datopian/datahub-qa/issues/260#issuecomment-632062459)).

[2020-08-25 16:11] sglavoie commented on #280
@kmanaseryan thank you for posting this. The original issue #260 was re-opened as it is very likely this is the same exact issue again. I have asked @zelima to have a look since he was able to fix it last time.

[2020-08-25 16:18] kmanaseryan commented on #280
Thank you @sglavoie. Looking forward to it🤞

[2020-08-25 16:19] kmanaseryan commented on #280
Possible duplicate of #260. Feel free to reopen it if this is not the same.

[2020-08-25 16:19] #280 closed

[2020-08-27 06:33] zelima commented on #260
@sglavoie Should be fixed.

Aside: Please ping me in the Gchat if I do not respond in a reasonable time

[2020-08-27 12:23] sglavoie commented on #260
@zelima All working again! :tada:

I will. Thank you. :slightly_smiling_face:

[2020-08-27 12:23] #260 closed

[2020-09-02 14:27] ankush opened #281 "Text overlap on collections while resizing"
## How to reproduce

- Step 1: Open collections on desktop: https://datahub.io/collections
- Step 2: Resize window to about 960px width.

You will see text overlap like in the screenshot below. Tested in latest Chrome, Firefox on Linux and Firefox on Windows.

![image](https://user-images.githubusercontent.com/9079960/91995616-a9809200-ed55-11ea-9ae1-9025d90b3a84.png)

## Expected behavior
Text sh

[2020-09-02 15:31] sglavoie commented on #281
Thank you for sharing that @amenat. I can confirm the issue on my end as well. :+1:

[2020-09-14 11:02] scottveritatis opened #282 "Server 521 Error, unable to access site at all"
When I attempt to visit datahub.io or any subpage, I receive a 521 error.

![image](https://user-images.githubusercontent.com/57347358/93078276-84135280-f68a-11ea-9541-38d3522a2508.png)

[2020-11-04 12:22] dofbi commented on #13
Thanks you

[2020-11-04 12:22] #13 closed

[2021-02-02 20:12] sglavoie opened #283 "Revision processing fails for personal and organization accounts"
When I use `data-cli`, I want to be able to `data push` with that tool successfully so I can publish my dataset to DataHub.

DataHub shows the message `Processing this revision has failed.` when pushing a dataset. See **Analysis** section below for more on this problem.

## Acceptance

* [ ] Any user can publish to DataHub without facing revision processing issues.

## Tasks

* [ ] TBC

## Analysi

[2021-02-19 11:38] anuveyatsu opened #284 "Datopian logo is not displayed on home page"
The URL to Datopian logo is outdated/broken and not displayed on home page.

## How to reproduce

- go to https://datahub.io/

## Expected behavior

It displays the logo.

[2021-04-16 12:03] loleg opened #285 "GitHub login is not working"
When I try to log in from the CLI using GitHub, I get directed to a GitHub 404 page. This despite being logged into GitHub with a user account that I'm rather sure had Datahub access in the past. Google authentication works for me.

The URI in the client with the `-i` option matches the URL that I see in the browser, which is:

`https://github.com/login/oauth/authorize?response_type=code&client_id

[2021-05-02 19:23] beatestermann opened #286 "Cannot login to the datahub"
Hi,

When I try to log into the Datahub on https://old.datahub.io/user/login, I get a server timeout error.

The issue has been around since the beginning of April and seems to have some similarities with the following one:
https://github.com/datopian/datahub-qa/issues/260

Error Message: "Der Server unter lostredirect.dnsmadeeasy.com braucht zu lange, um eine Antwort zu senden."

Kind regards,
Be

[2021-05-16 21:37] beatestermann opened #287 "Resources on datahub not accessible (server timeout)"
Most of our resources on datahub are currently not accessible any more:
https://old.datahub.io/organization/open-glam

I'm getting a server timeout error message.

[2021-05-16 21:38] beatestermann commented on #286
The login currently functions. But most of our resources are not accessible via datahub (server timeout).
https://old.datahub.io/organization/open-glam
(I've filed a separate issue report for this: https://github.com/datopian/datahub-qa/issues/287)

[2021-05-16 21:38] #286 closed

[2021-05-21 15:44] AyrtonB opened #288 "Visualising Data Using Vega-Lite"
Are there any examples/tutorials using vega-lite with datahub.io? - I assumed not based on [this GH Issue comment](https://github.com/frictionlessdata/specs/issues/77#issuecomment-375106730). Or examples of using the `simple` vis spec for scatterplots?

I've looked in these places but couldn't find much information:
* https://datahub.io/docs/features/views
* https://old.frictionlessdata.io/specs/v

[2021-06-04 17:14] AyrtonB opened #289 "Can't Register with GitHub Authentication"
I'm trying to register using GitHub authentication on the [login](https://datahub.io/login) page. The issue is that when I press the register link with GitHub I get a 404.

Any help to resolve this would be much appreciated. I already have an account linked through Google auth but I need GitHub auth in order to automate data deployments through GitHub actions.

![image](https://user-images.githubu

[2021-08-12 14:17] svw26 commented on #289
Yeah, I'm struggling with the same problem...

[2021-08-12 14:21] svw26 opened #290 "Emails to support@datahub.io are being rejected"
I am trying to create an account via my GitHub credentials (issue #289) and reported this by emailing support@datahub.io (found under 'Contact' at the bottom of this page: https://datahub.io ). Both of my emails have been returned with the following message:

[code]

Please provide *support*

[2021-12-16 15:36] loleg commented on #282
Bump. Errors like this have been mentioned by several people on Discord, and I'm experiencing intermittent errors myself. I wonder what might be causing the instability, and if we can do anything to raise the uptime.

[2021-12-17 18:55] rufuspollock commented on #282
/cc @anuveyatsu

[2021-12-20 04:58] anuveyatsu commented on #284
FIXED since summer 2021.

[2021-12-20 04:58] #284 closed

[2022-01-27 19:52] #281 closed

[2022-04-26 15:59] lwinfree commented on #290
Hi @rufuspollock is there anyone that can respond to this? Frictionless has just received an email CCed to support@datopian and it is still bouncing. Should I forward that email to someone specific? Thanks!

[2022-04-26 16:31] rufuspollock commented on #290
@lwinfree can you forward to contact@datopian.com We'll look into that email address again.

[2022-10-20 09:31] tripathisuyash opened #291 "Special Character '/' in Dataset names not being processed correctly"
I’m trying to ingest some data into my datahub instance. I have created a dataset which contains the special character ‘/’ in the name.
The UI however considers ‘/’ as a delimiter and breaks it into a container and a dataset.
Any suggestions on how I can bypass this. In the image below you can see in the browse path depicts a container
CUSTOMER CREDIT::R
and then a dataset
7_2::PAYMENT
but I inten

[2022-10-21 19:30] rufuspollock commented on #291
Hi, thanks for reporting. I don't think you are allowed `/` in the name of the dataset as per frictionless data specs ...

[2022-10-24 23:49] tripathisuyash commented on #291
I tried '-' instead of '/' and still the same result.

Can you please guide me as to what all characters are allowed in the naming of datasets?

[2022-10-25 06:22] rufuspollock commented on #291
I believe lower-case, upper-case and dash (no space).

[2022-10-25 08:13] tripathisuyash commented on #291
Is there no way bypass this? And include / in the name of the dataset? Any escape characters/Encoding hacks that you might suggest?

[2022-10-25 22:54] tripathisuyash commented on #291
Just an update '-' is working fine. It's only the '/' that causes this error

[2022-11-08 10:42] rufuspollock commented on #291
@tripathisuyash thanks!

[2022-11-08 10:42] #291 closed